In [32]:
#look up and read papers on comparing SQL queries
##how do people say 2 queries are similar or not
#find out queries with same set of operators but different parameters (where clause)
#how many queries are sub queries of other queries

import matplotlib.pyplot as plt
import collections
import re
import numpy as np
import sqlparse
from sqlparse.sql import IdentifierList, Identifier, Where, Token, Function
from sqlparse.tokens import Keyword, DML, Whitespace, Newline, Name, Comparison, Operator
from collections import OrderedDict


def is_subselect(parsed):
    '''
    @param parsed: a parsed SQL query
    @return: True if there is subquery or False if there is not
    '''
    if not parsed.is_group:
        return False
    for item in parsed.tokens:
        if item.ttype is DML and item.value.upper() == 'SELECT':
            return True
    return False

def clean_up(line):
    '''SQLparse does not properly parse sql query if some keywords are immediately followed by
        parenthesis. it adds a space between them
    @param line: string that is part of a sql query
    @reutrn line: cleaned up string
    '''
    line = line.upper()
    line = line.replace("SELECT("," SELECT (")
    line = line.replace("FROM(", " FROM (")
    line = line.replace("WHERE(", " WHERE (")
    line = line.replace("ORDER BY", " ORDER BY ")
    line = line.replace("GROUP BY", " GROUP BY ")
    line = line.replace("LINE(", "LINE (")
    return line


def extract_from_part(parsed):
    '''
    @param parsed: a parsed SQL query
    @return: string of tokens in the FORM clause
    '''
    from_seen = False
    for item in parsed.tokens:
        if from_seen:
            if item.ttype == Newline or item.ttype == Whitespace:
                continue
            else:
                if isinstance(item,IdentifierList):
                    #res = []
                    #for each in item:
                    #    if isinstance(each,Identifier):
                    #        res.append(each._get_repr_name().lstrip().rstrip())
                    #return ",".join(res)
                    res = []
                    for each in item:
                        res.append(each.value)
                    return ",".join(res)
                elif isinstance(item, Identifier):
                    return item.get_real_name()
        elif item.ttype is Keyword and item.value.upper() == 'FROM':
            from_seen = True
            
def extract_where_part(parsed):
    '''
    @param parsed: a parsed SQL query
    @return: list of tokens in WHERE clause
    '''
    for item in parsed.tokens:
        if isinstance(item, Where):
            return item
    return None

def populate_dictionary(file_name, table_dict):
    '''
    populate dictionary with WHERE clause being its key and value being the list of queries with same WHERE clause
    @param file_name: file name containing queries
    @param table_dict: dictionary to store queries with the key being FROM clause
    '''
    queries = get_queries(file_name)
    
    for query in queries:
        parsed = sqlparse.parse(query)[0]
        from_part_key = extract_from_part(parsed)
        if table_dict.get(from_part_key) is None:
            table_dict[from_part_key] = set()
            table_dict[from_part_key].add(query)
        else:
            table_dict[from_part_key].add(query)

def get_queries(file_name):
    '''
    @param file_name: name of the file to be processed
    @return: list of string of queries
    '''

    f = open(file_name,"r")

    queries = []
    current_query =""
    
    #removing any extra white spaces from the queries and put them in a list "queries" 
    for line in f:
        line = line.lstrip().rstrip()
        # ignore comments
        if len(line) > 2 and line[0:2] == "--":
            continue
        if line != "" and line[0] != "_":
            line = " " + clean_up(line) + " "
            current_query += line
        if line!= "" and line[0] == "_":
            if current_query != "":
                queries.append(current_query)
                current_query =""
    
    f.close()
    return queries

def clean_tokenlist(some_list):
    '''
    @param some_list: list of tokens
    @return: list of tokens without any Newline and Whitespace
    '''
    return [x for x in some_list.tokens if x.ttype is not Whitespace and x.ttype is not Newline]

def create_dict_from_where(wh):
    op_param_map = {}
    for index, token in enumerate(wh):
        key  = value = None
        if token.ttype is Keyword and token.value.upper() == "BETWEEN":
            key = "" + wh[index-1].value.upper() + " " + "BETWEEN"
            value = "" + wh[index+1].value.upper() + "_" + wh[index+3].value   
        if token.ttype is Keyword and token.value.upper() == "LIKE":
            key = "" + wh[index - 1].value.upper() + " "  + "LIKE"
            value = wh[index + 1].value
        if token.ttype is Keyword and token.value.upper() == "IN":
            if wh[index-1].ttype is Keyword and wh[index-1].value.upper() == "NOT":
                key = "" + wh[index-2].value + " NOT IN"
                value = wh[index+1].value
            else:
                key = "" + wh[index-1].value + " IN"
                value = wh[index+1].value
        if token.ttype is Keyword and token.value.upper() == "IS":
            key = "" + wh[index-1].value + " " + "IS"
            value = "" + wh[index+1].value
        if token._get_repr_name() is "Comparison":
            comp_tokens = clean_tokenlist(token)
            key = "" + comp_tokens[0].value + " " + comp_tokens[1].value
            value = "" + comp_tokens[2].value
        if key is not None:
            op_param_map[key] = value;
        else:
            continue
    return op_param_map
    
def compute_where_similarity(where1, where2):
    '''
    true if two Where clauses have same operators but different parameters
    @param where1: list of tokens of a query
    @param where2: list of tokens of another query
    return: True if they have same operators but diff parameters or False o.w
    '''
    where1 = clean_tokenlist(where1)
    where2 = clean_tokenlist(where2)
    if len(where1) != len(where2):
        return False
    else:
        where1_dict = create_dict_from_where(where1)
        where2_dict = create_dict_from_where(where2)
        key_set_where1 = set(list(where1_dict.keys()))
        key_set_where2 = set(list(where2_dict.keys()))
        if key_set_where1 == key_set_where2:
            value_set_where1 = set(list(where1_dict.values()))
            value_set_where2 = set(list(where2_dict.values()))
            if value_set_where1 != value_set_where2:
                return True
            else:
                return False
        else:
            return False
        
    



table_dict = {}

populate_dictionary('queries.txt',table_dict)

tables_with_prop = 0
num_tables = 0
for table, queries  in table_dict.items():
    num_tables += 1
    if len(queries) > 1:
        similar_queries = set()
        queries = list(queries)
        for i in range(len(queries)):
            for j in range(i+1, len(queries)):          
                parsed1 = sqlparse.parse(queries[i])[0]
                parsed2 = sqlparse.parse(queries[j])[0]
                where1_part = extract_where_part(parsed1)
                where2_part = extract_where_part(parsed2)
                if where1_part is None or where2_part is None:
                    continue
                elif compute_where_similarity(where1_part, where2_part):
                    similar_queries.add(queries[i])
                    similar_queries.add(queries[j])
        #print(len(similar_queries))
        #print(queries)
        #if len(similar_queries) > 1:
        #    print("" + len(similar_queries) + "/" + len(queries))
        #    for query in similar_queries:
        #        print(query)
        #    print('---------',end='\n')
        if len(similar_queries) > 0:
            tables_with_prop += 1
            for query in similar_queries:
                print(query)
            print(str(len(similar_queries))+ "/" + str(len(queries)))

print("Number of tables with at least 2 queries that has same operators but different parameters/Total Number of tables")
print(str(tables_with_prop) +"/" + str(num_tables))

 SELECT T1.SPECIES,T2.SPECIES  FROM [354].[OR3COL_POS] T1  , [354].[OR3COL_POS] T2  WHERE SQRT(POWER(T1.LATITUDE-T2.LATITUDE,2)+POWER(T1.LONGITUDE-T2.LONGITUDE,2)) < 0.01
 SELECT T1.SPECIES,T2.SPECIES  FROM [354].[OR3COL_POS] T1  , [354].[OR3COL_POS] T2  WHERE SQRT(POWER(T1.LATITUDE-T2.LATITUDE,2)+POWER(T1.LONGITUDE-T2.LONGITUDE,2)) < 0.001
 SELECT COUNT(T1.SPECIES)  FROM [354].[OR3COL_POS] T1  , [354].[OR3COL_POS] T2  WHERE SQRT(POWER(T1.LATITUDE-T2.LATITUDE,2)+POWER(T1.LONGITUDE-T2.LONGITUDE,2)) < 0.001
 SELECT COUNT(T1.SPECIES)  FROM [354].[OR3COL_POS] T1  , [354].[OR3COL_POS] T2  WHERE SQRT(POWER(T1.LATITUDE-T2.LATITUDE,2)+POWER(T1.LONGITUDE-T2.LONGITUDE,2)) < 0.0001
 SELECT COUNT(T1.SPECIES)  FROM [354].[OR3COL_POS] T1  , [354].[OR3COL_POS] T2  WHERE SQRT(POWER(T1.LATITUDE-T2.LATITUDE,2)+POWER(T1.LONGITUDE-T2.LONGITUDE,2)) < 0.000001
 SELECT T1.SPECIES,T2.SPECIES  FROM [354].[OR3COL_POS] T1  , [354].[OR3COL_POS] T2  WHERE SQRT(POWER(T1.LATITUDE-T2.LATITUDE,2)+POWER(T1.LONGITUDE-T2.LONGITUDE,2)) < 0.1
6/11
 SELECT OYSTER.GROUPID  ,COUNT(*)  FROM [354].[TABLE_OYSTER.V9.GLEAN.FINAL.RENAME.MRNA.GFF] OYSTER  ,[354].[TABLE_BIVALVIA_METHYLATED_20CG_20AS_20BED.TXT.GFF] METH  WHERE (OYSTER.STARTIDX > METH.STARTIDX AND OYSTER.STARTIDX < METH.ENDIDX  OR METH.STARTIDX > OYSTER.STARTIDX AND METH.STARTIDX < OYSTER.ENDIDX)  AND OYSTER.GROUPID LIKE 'ID=ID=CGI_10024878;'   GROUP BY  OYSTER.GROUPID
 SELECT *  FROM [354].[TABLE_OYSTER.V9.GLEAN.FINAL.RENAME.MRNA.GFF] OYSTER  ,[354].[TABLE_BIVALVIA_METHYLATED_20CG_20AS_20BED.TXT.GFF] METH  WHERE (OYSTER.STARTIDX > METH.STARTIDX AND OYSTER.STARTIDX < METH.ENDIDX  OR METH.STARTIDX > OYSTER.STARTIDX AND METH.STARTIDX < OYSTER.ENDIDX)  AND OYSTER.GROUPID LIKE 'ID=CGI_10024878;'
 SELECT OYSTER.GROUPID  ,COUNT(*)  FROM [354].[TABLE_OYSTER.V9.GLEAN.FINAL.RENAME.MRNA.GFF] OYSTER  ,[354].[TABLE_BIVALVIA_METHYLATED_20CG_20AS_20BED.TXT.GFF] METH  WHERE (OYSTER.STARTIDX > METH.STARTIDX AND OYSTER.STARTIDX < METH.ENDIDX  OR METH.STARTIDX > OYSTER.STARTIDX AND METH.STARTIDX < OYSTER.ENDIDX)  AND OYSTER.GROUPID LIKE 'ID=CGI_10000001;'   GROUP BY  OYSTER.GROUPID
 SELECT OYSTER.GROUPID  ,COUNT(*) AS CNT  FROM [354].[TABLE_OYSTER.V9.GLEAN.FINAL.RENAME.MRNA.GFF] OYSTER  ,[354].[TABLE_BIVALVIA_METHYLATED_20CG_20AS_20BED.TXT.GFF] METH  WHERE (OYSTER.STARTIDX > METH.STARTIDX AND OYSTER.STARTIDX < METH.ENDIDX  OR METH.STARTIDX > OYSTER.STARTIDX AND METH.STARTIDX < OYSTER.ENDIDX)  AND OYSTER.GROUPID LIKE 'ID=CGI_10024878;'   GROUP BY  OYSTER.GROUPID
 SELECT OYSTER.GROUPID  ,COUNT(*)  FROM [354].[TABLE_OYSTER.V9.GLEAN.FINAL.RENAME.MRNA.GFF] OYSTER  ,[354].[TABLE_BIVALVIA_METHYLATED_20CG_20AS_20BED.TXT.GFF] METH  WHERE (OYSTER.STARTIDX > METH.STARTIDX AND OYSTER.STARTIDX < METH.ENDIDX  OR METH.STARTIDX > OYSTER.STARTIDX AND METH.STARTIDX < OYSTER.ENDIDX)  AND OYSTER.GROUPID LIKE 'ID=CGI_10024878;'   GROUP BY  OYSTER.GROUPID
5/12
 SELECT SEQNAME,SOURCE,FEATURE,STARTIDX,ENDIDX,SCORE,STRAND,FRAME,PATINDEX(';',GROUPID) AS GROUPID  FROM [354].[TABLE_CNI1319N_OYSTER_V9_M_FUZZNUC_CG.GFF]  WHERE SUBSTRING(SEQNAME,1,2) NOT LIKE '##'
 SELECT SEQNAME,SOURCE,FEATURE,STARTIDX,ENDIDX,SCORE,STRAND,FRAME,REPLACE(GROUPID,';.*','') AS GROUPID  FROM [354].[TABLE_CNI1319N_OYSTER_V9_M_FUZZNUC_CG.GFF]  WHERE SUBSTRING(SEQNAME,1,2) NOT LIKE '##'
 SELECT * FROM [354].[TABLE_CNI1319N_OYSTER_V9_M_FUZZNUC_CG.GFF]  WHERE SUBSTRING(SEQNAME,1,2) NOT LIKE '##'
 SELECT SEQNAME,SOURCE,FEATURE,STARTIDX,ENDIDX,SCORE,STRAND,FRAME,REPLACE(GROUPID,'%;.*%','') AS GROUPID  FROM [354].[TABLE_CNI1319N_OYSTER_V9_M_FUZZNUC_CG.GFF]  WHERE SUBSTRING(SEQNAME,1,2) NOT LIKE '##'
 SELECT * FROM [354].[TABLE_CNI1319N_OYSTER_V9_M_FUZZNUC_CG.GFF]  WHERE SEQNAME NOT LIKE '##DATE'
 SELECT * FROM [354].[TABLE_CNI1319N_OYSTER_V9_M_FUZZNUC_CG.GFF]  WHERE SUBSTRING(SEQNAME,0,2) NOT LIKE '##'
 SELECT SEQNAME,SOURCE,FEATURE,STARTIDX,ENDIDX,SCORE,STRAND,FRAME,PATINDEX(GROUPID,';') AS GROUPID  FROM [354].[TABLE_CNI1319N_OYSTER_V9_M_FUZZNUC_CG.GFF]  WHERE SUBSTRING(SEQNAME,1,2) NOT LIKE '##'
 SELECT SEQNAME,SOURCE,FEATURE,STARTIDX,ENDIDX,SCORE,STRAND,FRAME,RTRIM(SUBSTRING(GROUPID,0,0)) AS GROUPID  FROM [354].[TABLE_CNI1319N_OYSTER_V9_M_FUZZNUC_CG.GFF]  WHERE SUBSTRING(SEQNAME,1,2) NOT LIKE '##'
 SELECT SEQNAME  , SOURCE  , FEATURE  , STARTIDX  , ENDIDX  , SCORE  , STRAND  , FRAME  , CASE WHEN CHARINDEX(';', GROUPID) = 0  THEN GROUPID  ELSE SUBSTRING(GROUPID, 1, CHARINDEX(';', GROUPID)-1)  END AS GROUPID  , CASE WHEN CHARINDEX(';', GROUPID) = 0  THEN ''  ELSE SUBSTRING(GROUPID, CHARINDEX(';', GROUPID)+1, LEN(GROUPID))  END AS COMMENT  FROM [354].[TABLE_CNI1319N_OYSTER_V9_M_FUZZNUC_CG.GFF]  WHERE SUBSTRING(SEQNAME,1,2) NOT LIKE '##'
 SELECT SEQNAME,SOURCE,FEATURE,STARTIDX,ENDIDX,SCORE,STRAND,FRAME,PATINDEX(GROUPID,'%;%') AS GROUPID  FROM [354].[TABLE_CNI1319N_OYSTER_V9_M_FUZZNUC_CG.GFF]  WHERE SUBSTRING(SEQNAME,1,2) NOT LIKE '##'
 SELECT SEQNAME,SOURCE,FEATURE,STARTIDX,ENDIDX,SCORE,STRAND,FRAME,REPLACE(GROUPID,';','') AS GROUPID  FROM [354].[TABLE_CNI1319N_OYSTER_V9_M_FUZZNUC_CG.GFF]  WHERE SUBSTRING(SEQNAME,1,2) NOT LIKE '##'
 SELECT SEQNAME,SOURCE,FEATURE,STARTIDX,ENDIDX,SCORE,STRAND,FRAME,PATINDEX(GROUPID,'%;.*%') AS GROUPID  FROM [354].[TABLE_CNI1319N_OYSTER_V9_M_FUZZNUC_CG.GFF]  WHERE SUBSTRING(SEQNAME,1,2) NOT LIKE '##'
 SELECT SEQNAME,SOURCE,FEATURE,STARTIDX,ENDIDX,SCORE,STRAND,FRAME,PATINDEX('%;%',GROUPID) AS GROUPID  FROM [354].[TABLE_CNI1319N_OYSTER_V9_M_FUZZNUC_CG.GFF]  WHERE SUBSTRING(SEQNAME,1,2) NOT LIKE '##'
 SELECT SEQNAME,SOURCE,FEATURE,STARTIDX,ENDIDX,SCORE,STRAND,FRAME,RTRIM(SUBSTRING(GROUPID,0,CHARINDEX(';',GROUPID))) AS GROUPID  FROM [354].[TABLE_CNI1319N_OYSTER_V9_M_FUZZNUC_CG.GFF]  WHERE SUBSTRING(SEQNAME,1,2) NOT LIKE '##'
 SELECT SEQNAME,SOURCE,FEATURE,STARTIDX,ENDIDX,SCORE,STRAND,FRAME,PATINDEX(GROUPID,';.*') AS GROUPID  FROM [354].[TABLE_CNI1319N_OYSTER_V9_M_FUZZNUC_CG.GFF]  WHERE SUBSTRING(SEQNAME,1,2) NOT LIKE '##'
 SELECT SEQNAME,SOURCE,FEATURE,STARTIDX,ENDIDX,SCORE,STRAND,FRAME,SUBSTRING(GROUPID,0,CHARINDEX(';',GROUPID)) AS GROUPID  FROM [354].[TABLE_CNI1319N_OYSTER_V9_M_FUZZNUC_CG.GFF]  WHERE SUBSTRING(SEQNAME,1,2) NOT LIKE '##'
16/17
 SELECT * FROM [354].[DAN'S BINNING] A,  [354].[DAN'S BINNING] B  WHERE A.LATITUDE=B.LATITUDE  AND A.NUMSPECIES > 100
 SELECT * FROM [354].[DAN'S BINNING] A,  [354].[DAN'S BINNING] B  WHERE A.LATITUDE=B.LATITUDE  AND A.NUMSPECIES > B.NUMSPECIES * 5
2/4
 SELECT COUNT(*) FROM SYS.TABLES WHERE NAME LIKE 'TABLE_%';
 SELECT COUNT(*) FROM SYS.TABLES WHERE NAME LIKE '%DBO%'
 SELECT * FROM SYS.TABLES WHERE NAME LIKE '%1385%'
 SELECT COUNT(*) FROM SYS.TABLES WHERE NAME LIKE '%TABLE_%';
 SELECT COUNT(*) FROM SYS.TABLES WHERE NAME LIKE '%TABLE_%'
 SELECT * FROM SYS.TABLES WHERE NAME LIKE '%TABLE%'
 SELECT * FROM SYS.TABLES WHERE NAME LIKE '%DBO%'
 SELECT * FROM SYS.TABLES WHERE NAME LIKE '%LOG%'
 SELECT * FROM SYS.TABLES WHERE NAME LIKE '%ANON%'
9/23
 SELECT * FROM [1314HOWE].[TWITTER4M]  WHERE FOLLOWER=1000  AND FOLLOWEE=6093162
 SELECT * FROM [1314HOWE].[TWITTER4M]  WHERE FOLLOWER=6093162  AND FOLLOWEE=5920532
2/5
 SELECT COUNT(*)  FROM ( SELECT LEFTT.FOLLOWER AS X, RIGHTT.FOLLOWEE AS Z  FROM [354].[TWITTER_RV.6157841] LEFTT  JOIN [354].[TWITTER_RV.6157841] RIGHTT ON LEFTT.FOLLOWEE=RIGHTT.FOLLOWER ) JOINED  WHERE X < 1000
 SELECT COUNT(*)  FROM ( SELECT LEFTT.FOLLOWER AS X, RIGHTT.FOLLOWEE AS Z, MIN(LEFTT.FOLLOWER) AS IGNORED  FROM [354].[TWITTER_RV.6157841] LEFTT  JOIN [354].[TWITTER_RV.6157841] RIGHTT ON LEFTT.FOLLOWEE=RIGHTT.FOLLOWER   GROUP BY  LEFTT.FOLLOWER, RIGHTT.FOLLOWEE) JOINED  WHERE X < 500
 SELECT COUNT(*)  FROM ( SELECT DISTINCT LEFTT.FOLLOWER AS X, RIGHTT.FOLLOWEE AS Z  FROM [354].[TWITTER_RV.6157841] LEFTT  JOIN [354].[TWITTER_RV.6157841] RIGHTT ON LEFTT.FOLLOWEE=RIGHTT.FOLLOWER ) JOINED  WHERE X < 100
 SELECT COUNT(*)  FROM ( SELECT DISTINCT LEFTT.FOLLOWER AS X, RIGHTT.FOLLOWEE AS Z  FROM [354].[TWITTER_RV.6157841] LEFTT  JOIN [354].[TWITTER_RV.6157841] RIGHTT ON LEFTT.FOLLOWEE=RIGHTT.FOLLOWER ) JOINED  WHERE X < 400
 SELECT COUNT(*)  FROM ( SELECT LEFTT.FOLLOWER AS X, RIGHTT.FOLLOWEE AS Z, MIN(LEFTT.FOLLOWER) AS IGNORED  FROM [354].[TWITTER_RV.6157841] LEFTT  JOIN [354].[TWITTER_RV.6157841] RIGHTT ON LEFTT.FOLLOWEE=RIGHTT.FOLLOWER   GROUP BY  LEFTT.FOLLOWER, RIGHTT.FOLLOWEE) JOINED  WHERE X < 2000
 SELECT COUNT(*)  FROM ( SELECT LEFTT.FOLLOWER AS X, RIGHTT.FOLLOWEE AS Z, MIN(LEFTT.FOLLOWER) AS IGNORED  FROM [354].[TWITTER_RV.6157841] LEFTT  JOIN [354].[TWITTER_RV.6157841] RIGHTT ON LEFTT.FOLLOWEE=RIGHTT.FOLLOWER   GROUP BY  LEFTT.FOLLOWER, RIGHTT.FOLLOWEE) JOINED  WHERE X < 10000
 SELECT COUNT(*)  FROM ( SELECT DISTINCT LEFTT.FOLLOWER AS X, RIGHTT.FOLLOWEE AS Z  FROM [354].[TWITTER_RV.6157841] LEFTT  JOIN [354].[TWITTER_RV.6157841] RIGHTT ON LEFTT.FOLLOWEE=RIGHTT.FOLLOWER ) JOINED  WHERE X < 1000
 SELECT COUNT(*)  FROM ( SELECT DISTINCT LEFTT.FOLLOWER AS X, RIGHTT.FOLLOWEE AS Z  FROM [354].[TWITTER_RV.6157841] LEFTT  JOIN [354].[TWITTER_RV.6157841] RIGHTT ON LEFTT.FOLLOWEE=RIGHTT.FOLLOWER ) JOINED  WHERE X < 300
 SELECT COUNT(*)  FROM ( SELECT DISTINCT LEFTT.FOLLOWER AS X, RIGHTT.FOLLOWEE AS Z  FROM [354].[TWITTER_RV.6157841] LEFTT  JOIN [354].[TWITTER_RV.6157841] RIGHTT ON LEFTT.FOLLOWEE=RIGHTT.FOLLOWER ) JOINED  WHERE X < 200
 SELECT COUNT(*)  FROM ( SELECT DISTINCT LEFTT.FOLLOWER AS X, RIGHTT.FOLLOWEE AS Z  FROM [354].[TWITTER_RV.6157841] LEFTT  JOIN [354].[TWITTER_RV.6157841] RIGHTT ON LEFTT.FOLLOWEE=RIGHTT.FOLLOWER ) JOINED  WHERE X < 5
 SELECT COUNT(*)  FROM ( SELECT LEFTT.FOLLOWER AS X, RIGHTT.FOLLOWEE AS Z, MIN(LEFTT.FOLLOWER) AS IGNORED  FROM [354].[TWITTER_RV.6157841] LEFTT  JOIN [354].[TWITTER_RV.6157841] RIGHTT ON LEFTT.FOLLOWEE=RIGHTT.FOLLOWER   GROUP BY  LEFTT.FOLLOWER, RIGHTT.FOLLOWEE) JOINED  WHERE X < 100
 SELECT X,COUNT(DISTINCT Y) AS CNT  FROM  (  SELECT  A.FOLLOWER AS X  , B.FOLLOWEE AS Y  FROM [354].[TWITTER_RV.6157841] A  JOIN [354].[TWITTER_RV.6157841] B  ON A.FOLLOWEE = B.FOLLOWER  ) JOINED  WHERE X < 1000   GROUP BY  X  OPTION (MERGE JOIN, ORDER GROUP)
 SELECT COUNT(*)  FROM ( SELECT DISTINCT LEFTT.FOLLOWER AS X, RIGHTT.FOLLOWEE AS Z  FROM [354].[TWITTER_RV.6157841] LEFTT  JOIN [354].[TWITTER_RV.6157841] RIGHTT ON LEFTT.FOLLOWEE=RIGHTT.FOLLOWER ) JOINED  WHERE X < 500
 SELECT X,COUNT(DISTINCT Y) AS CNT  FROM  (  SELECT  A.FOLLOWER AS X  , B.FOLLOWEE AS Y  FROM [354].[TWITTER_RV.6157841] A  JOIN [354].[TWITTER_RV.6157841] B  ON A.FOLLOWEE = B.FOLLOWER  ) JOINED  WHERE X < 1000   GROUP BY  X
 SELECT COUNT(*)  FROM ( SELECT DISTINCT LEFTT.FOLLOWER AS X, RIGHTT.FOLLOWEE AS Z  FROM [354].[TWITTER_RV.6157841] LEFTT  JOIN [354].[TWITTER_RV.6157841] RIGHTT ON LEFTT.FOLLOWEE=RIGHTT.FOLLOWER ) JOINED  WHERE X < 10
15/30

 SELECT COUNT(*)  FROM (  SELECT FOLLOWER AS X,FOLLOWEE AS Y,MIN(FOLLOWER) AS IGNORED  FROM [354].[TWITTER_RV.6157841]   GROUP BY  FOLLOWER,FOLLOWEE  ) GROUPED  WHERE X < 10000000
 SELECT COUNT(*)  FROM (  SELECT FOLLOWER AS X,FOLLOWEE AS Y,MIN(FOLLOWER) AS IGNORED  FROM [354].[TWITTER_RV.6157841]   GROUP BY  FOLLOWER,FOLLOWEE  ) GROUPED  WHERE X < 10000
 SELECT COUNT(*)  FROM (  SELECT FOLLOWER AS X,FOLLOWEE AS Y,MIN(FOLLOWER) AS IGNORED  FROM [354].[TWITTER_RV.6157841]   GROUP BY  FOLLOWER,FOLLOWEE  ) GROUPED  WHERE X < 100000
 SELECT COUNT(*)  FROM (  SELECT FOLLOWER AS X,FOLLOWEE AS Y,MIN(FOLLOWER) AS IGNORED  FROM [354].[TWITTER_RV.6157841]   GROUP BY  FOLLOWER,FOLLOWEE  ) GROUPED  WHERE X < 1000
 SELECT COUNT(*)  FROM (  SELECT FOLLOWER AS X,FOLLOWEE AS Y,MIN(FOLLOWER) AS IGNORED  FROM [354].[TWITTER_RV.6157841]   GROUP BY  FOLLOWER,FOLLOWEE  ) GROUPED  WHERE X < 1000000
 SELECT COUNT(*)  FROM (  SELECT FOLLOWER AS X,FOLLOWEE AS Y,MIN(FOLLOWER) AS IGNORED  FROM [354].[TWITTER_RV.6157841]   GROUP BY  FOLLOWER,FOLLOWEE  ) GROUPED  WHERE X < 100
6/6
 SELECT CGSLIM.CGI_ID,DESCRIPTION,EVALUE,SPID,GOID,TERM,GOSLIM_BIN,SEQUENCE  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM] CGSLIM  LEFT JOIN [1123].[QDOD_CGIGAS_GENE_FASTA] CGF  ON CGSLIM.CGI_ID = CGF.CGI_ID  WHERE GOSLIM_BIN LIKE '%STRESS%'
 SELECT CGI_ID,EVALUE,DESCRIPTION,SPID,GOID,TERM,GOSLIM_BIN  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM]  WHERE GOSLIM_BIN LIKE '%REPRO%'
 SELECT CGSLIM.CGI_ID,DESCRIPTION,EVALUE,SPID,GOID,TERM,GOSLIM_BIN,SEQUENCE  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM] CGSLIM  LEFT JOIN [1123].[QDOD_CGIGAS_GENE_FASTA] CGF  ON CGSLIM.CGI_ID = CGF.CGI_ID  WHERE DESCRIPTION LIKE '%MYOSTATIN%'
 SELECT CGI_ID,EVALUE,DESCRIPTION,SPID,GOID,TERM,GOSLIM_BIN  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM]  WHERE TERM LIKE '%REPRO%'
 SELECT CGI_ID,EVALUE,DESCRIPTION,SPID,GOID,TERM,GOSLIM_BIN  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM]  WHERE GOSLIM_BIN LIKE '%DEATH%'
 SELECT CGI_ID,EVALUE,DESCRIPTION,SPID,GOID,TERM,GOSLIM_BIN  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM]  WHERE GOSLIM_BIN LIKE '%STRESS%'
 SELECT DESCRIPTION,EVALUE,SPID,GOID,TERM,GOSLIM_BIN,SEQUENCE  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM] CGSLIM  LEFT JOIN [1123].[QDOD_CGIGAS_GENE_FASTA] CGF  ON CGSLIM.CGI_ID = CGF.CGI_ID  WHERE GOSLIM_BIN LIKE '%STRESS%'
 SELECT CGI_ID,EVALUE,DESCRIPTION,SPID,GOID,TERM,GOSLIM_BIN  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM]  WHERE DESCRIPTION LIKE '%GROWTH%'
 SELECT CGI_ID,EVALUE,DESCRIPTION,SPID,GOID,TERM,GOSLIM_BIN  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM]  WHERE GOSLIM_BIN LIKE 'S%'
 SELECT CGSLIM.CGI_ID,DESCRIPTION,EVALUE,SPID,GOID,TERM,GOSLIM_BIN,SEQUENCE  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM] CGSLIM  LEFT JOIN [1123].[QDOD_CGIGAS_GENE_FASTA] CGF  ON CGSLIM.CGI_ID = CGF.CGI_ID  WHERE DESCRIPTION LIKE '%INTERLEUK%'
 SELECT CGSLIM.CGI_ID,DESCRIPTION,EVALUE,SPID,GOID,TERM,GOSLIM_BIN,SEQUENCE  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM] CGSLIM  LEFT JOIN [1123].[QDOD_CGIGAS_GENE_FASTA] CGF  ON CGSLIM.CGI_ID = CGF.CGI_ID  WHERE TERM LIKE '%METHYL%'  OR  TERM LIKE '%EPIGEN%'
 SELECT CGSLIM.CGI_ID,DESCRIPTION,EVALUE,SPID,GOID,TERM,GOSLIM_BIN,SEQUENCE  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM] CGSLIM  LEFT JOIN [1123].[QDOD_CGIGAS_GENE_FASTA] CGF  ON CGSLIM.CGI_ID = CGF.CGI_ID  WHERE DESCRIPTION LIKE '%GDF%'
 SELECT CGSLIM.CGI_ID,DESCRIPTION,EVALUE,SPID,GOID,TERM,GOSLIM_BIN,SEQUENCE  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM] CGSLIM  LEFT JOIN [1123].[QDOD_CGIGAS_GENE_FASTA] CGF  ON CGSLIM.CGI_ID = CGF.CGI_ID  WHERE TERM LIKE '%IMMUNE%'
 SELECT CGI_ID,EVALUE,DESCRIPTION,SPID,GOID,TERM,GOSLIM_BIN  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM]  WHERE GOSLIM_BIN LIKE '%GROWTH%'
 SELECT CGSLIM.CGI_ID,DESCRIPTION,EVALUE,SPID,GOID,TERM,GOSLIM_BIN,SEQUENCE  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM] CGSLIM  LEFT JOIN [1123].[QDOD_CGIGAS_GENE_FASTA] CGF  ON CGSLIM.CGI_ID = CGF.CGI_ID  WHERE DESCRIPTION LIKE '%PROSTA%'
 SELECT CGI_ID,EVALUE,DESCRIPTION,SPID,GOID,TERM,GOSLIM_BIN  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM]  WHERE TERM LIKE '%GROWTH%'
 SELECT CGI_ID,EVALUE,DESCRIPTION,SPID,GOID,TERM,GOSLIM_BIN  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM]  WHERE GOSLIM_BIN LIKE 'STRESS%'
 SELECT CGSLIM.CGI_ID,DESCRIPTION,EVALUE,SPID,GOID,TERM,GOSLIM_BIN,SEQUENCE  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM] CGSLIM  LEFT JOIN [1123].[QDOD_CGIGAS_GENE_FASTA] CGF  ON CGSLIM.CGI_ID = CGF.CGI_ID  WHERE TERM LIKE '%METHYL%'  OR  TERM LIKE '%HISTONE%'
 SELECT CGSLIM.CGI_ID,DESCRIPTION,EVALUE,SPID,GOID,TERM,GOSLIM_BIN,SEQUENCE  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM] CGSLIM  LEFT JOIN [1123].[QDOD_CGIGAS_GENE_FASTA] CGF  ON CGSLIM.CGI_ID = CGF.CGI_ID  WHERE DESCRIPTION LIKE '%DMNT%'
 SELECT DESCRIPTION,EVALUE,SPID,GOID,TERM,GOSLIM_BIN  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM] CGSLIM  LEFT JOIN [1123].[QDOD_CGIGAS_GENE_FASTA] CGF  ON CGSLIM.CGI_ID = CGF.CGI_ID  WHERE GOSLIM_BIN LIKE '%STRESS%'
 SELECT CGSLIM.CGI_ID,DESCRIPTION,EVALUE,SPID,GOID,TERM,GOSLIM_BIN,SEQUENCE  FROM [1123].[QDOD_CGIGAS_GO_GOSLIM] CGSLIM  LEFT JOIN [1123].[QDOD_CGIGAS_GENE_FASTA] CGF  ON CGSLIM.CGI_ID = CGF.CGI_ID  WHERE DESCRIPTION LIKE '%MYO%'
21/30
 SELECT  *, CATEGORY FROM (  SELECT CASE WHEN BUDGET = 'MOORE' THEN 'MOORE/SLOAN'  WHEN BUDGET = 'SLOAN' THEN 'MOORE/SLOAN'  ELSE BUDGET  END AS BUDGET  , CASE WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%OST-DOC%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'POSTDOC'  WHEN DESCRIPTION LIKE '%OST-DOC%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'POSTDOC'  WHEN DESCRIPTION LIKE '%PRO STAFF%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'RESEARCH STAFF'  WHEN DESCRIPTION LIKE '%PRO STAFF%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'RESEARCH STAFF'  WHEN DESCRIPTION LIKE '%ADMIN PRO%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%ADMIN PRO%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%CLASSIFIED STAFF%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%BILL%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%BILL%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%VISITING%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%VISITING%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%CHANCE%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%CHANCE%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%HYAK%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%HYAK%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%HOURLY%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%HOURLY%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  ELSE CATEGORY_LABEL  END AS CATEGORY  , DESCRIPTION  , CASE  WHEN LEN(INV_DATE) <2 THEN NULL  WHEN PO_INVOICE = 'CR3566' THEN '9/1/2015'  ELSE CAST(INV_DATE AS DATE)  END AS INV_DATE  , CAST(CASE  WHEN BAR_AMT IS NULL THEN ENCUMBERED  ELSE BAR_AMT  END AS FLOAT) AS AMOUNT  , CD, PO_INVOICE, ENCUMBERED  FROM [1314HOWE].[ALL_OPERATIONS_DETAILS.CSV]  ) X  WHERE CATEGORY = 'BENEFITS'
 SELECT * FROM (  SELECT ROW_NUMBER() OVER ( ORDER BY  [TOTAL FAT] DESC) AS ROW  , *  FROM [1314HOWE].[CATEGORIZED_FAT_WITH_CALORIES] C  ) X  WHERE X.ROW = 3
 SELECT *  FROM (  SELECT NAME, [JOB TITLE] AS JOB_TITLE,  [2010 GROSS EARNINGS] AS SALARY  FROM [1314HOWE].[UW_SALARIES_2011.TXT]  ) X  WHERE JOB_TITLE LIKE '%RESEAR%SR'
 SELECT  *  FROM (  SELECT NAME, [JOB TITLE] AS JOB_TITLE,  [2010 GROSS EARNINGS] AS SALARY  FROM [1314HOWE].[UW_SALARIES_2011.TXT]  ) X  WHERE JOB_TITLE LIKE '%RESEAR%PRINCI%'   ORDER BY  SALARY DESC
 SELECT *, CATEGORY FROM (  SELECT CASE WHEN BUDGET = 'MOORE' THEN 'MOORE/SLOAN'  WHEN BUDGET = 'SLOAN' THEN 'MOORE/SLOAN'  ELSE BUDGET  END AS BUDGET  , CASE WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%OST-DOC%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'POSTDOC'  WHEN DESCRIPTION LIKE '%OST-DOC%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'POSTDOC'  WHEN DESCRIPTION LIKE '%PRO STAFF%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'RESEARCH STAFF'  WHEN DESCRIPTION LIKE '%PRO STAFF%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'RESEARCH STAFF'  WHEN DESCRIPTION LIKE '%ADMIN PRO%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%ADMIN PRO%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%CLASSIFIED STAFF%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%BILL%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%BILL%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%VISITING%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%VISITING%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%CHANCE%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%CHANCE%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  ELSE CATEGORY_LABEL  END AS CATEGORY  , DESCRIPTION  , CASE  WHEN LEN(INV_DATE) <2 THEN NULL  WHEN PO_INVOICE = 'CR3566' THEN '9/1/2015'  ELSE CAST(INV_DATE AS DATE)  END AS INV_DATE  , CAST(CASE  WHEN BAR_AMT IS NULL THEN ENCUMBERED  ELSE BAR_AMT  END AS FLOAT) AS AMOUNT  , CD, PO_INVOICE, ENCUMBERED  FROM [1314HOWE].[ALL_OPERATIONS_DETAILS.CSV]  ) X  WHERE CATEGORY = 'SALARIES'
 SELECT *, CATEGORY FROM (  SELECT CASE WHEN BUDGET = 'MOORE' THEN 'MOORE/SLOAN'  WHEN BUDGET = 'SLOAN' THEN 'MOORE/SLOAN'  ELSE BUDGET  END AS BUDGET  , CASE WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%OST-DOC%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'POSTDOC'  WHEN DESCRIPTION LIKE '%OST-DOC%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'POSTDOC'  WHEN DESCRIPTION LIKE '%PRO STAFF%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'RESEARCH STAFF'  WHEN DESCRIPTION LIKE '%PRO STAFF%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'RESEARCH STAFF'  WHEN DESCRIPTION LIKE '%ADMIN PRO%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%ADMIN PRO%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%CLASSIFIED STAFF%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%BILL%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%BILL%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%VISITING%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%VISITING%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%CHANCE%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%CHANCE%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%HYAK%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%HYAK%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%HOURLY%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%HOURLY%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  ELSE CATEGORY_LABEL  END AS CATEGORY  , DESCRIPTION  , CASE  WHEN LEN(INV_DATE) <2 THEN NULL  WHEN PO_INVOICE = 'CR3566' THEN '9/1/2015'  ELSE CAST(INV_DATE AS DATE)  END AS INV_DATE  , CAST(CASE  WHEN BAR_AMT IS NULL THEN ENCUMBERED  ELSE BAR_AMT  END AS FLOAT) AS AMOUNT  , CD, PO_INVOICE, ENCUMBERED  FROM [1314HOWE].[ALL_OPERATIONS_DETAILS.CSV]  ) X  WHERE CATEGORY = 'SALARIES'
 SELECT  MAX(SALARY), MIN(SALARY), AVG(SALARY), COUNT(*)  FROM (  SELECT NAME, [JOB TITLE] AS JOB_TITLE,  [2010 GROSS EARNINGS] AS SALARY  FROM [1314HOWE].[UW_SALARIES_2011.TXT]  ) X  WHERE JOB_TITLE LIKE '%RESEAR%SENIOR%'  AND SALARY < 112800
 SELECT  *, CATEGORY FROM (  SELECT CASE WHEN BUDGET = 'MOORE' THEN 'MOORE/SLOAN'  WHEN BUDGET = 'SLOAN' THEN 'MOORE/SLOAN'  ELSE BUDGET  END AS BUDGET  , CASE WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%OST-DOC%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'POSTDOC'  WHEN DESCRIPTION LIKE '%OST-DOC%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'POSTDOC'  WHEN DESCRIPTION LIKE '%PRO STAFF%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'RESEARCH STAFF'  WHEN DESCRIPTION LIKE '%PRO STAFF%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'RESEARCH STAFF'  WHEN DESCRIPTION LIKE '%ADMIN PRO%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%ADMIN PRO%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%CLASSIFIED STAFF%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%CLASSIFIED STAFF%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%BILL%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%BILL%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%VISITING%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%VISITING%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%CHANCE%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%CHANCE%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%HYAK%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%HYAK%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%HOURLY%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%HOURLY%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  ELSE CATEGORY_LABEL  END AS CATEGORY  , DESCRIPTION  , CASE  WHEN LEN(INV_DATE) <2 THEN NULL  WHEN PO_INVOICE = 'CR3566' THEN '9/1/2015'  ELSE CAST(INV_DATE AS DATE)  END AS INV_DATE  , CAST(CASE  WHEN BAR_AMT IS NULL THEN ENCUMBERED  ELSE BAR_AMT  END AS FLOAT) AS AMOUNT  , CD, PO_INVOICE, ENCUMBERED  FROM [1314HOWE].[ALL_OPERATIONS_DETAILS.CSV]  ) X  WHERE CATEGORY = 'BENEFITS'
 SELECT  MAX(SALARY), MIN(SALARY), AVG(SALARY), COUNT(*)  FROM (  SELECT NAME, [JOB TITLE] AS JOB_TITLE,  [2010 GROSS EARNINGS] AS SALARY  FROM [1314HOWE].[UW_SALARIES_2011.TXT]  ) X  WHERE  JOB_TITLE LIKE 'ASSISTANT PROFESSOR'  AND SALARY < 120800
 SELECT  MAX(SALARY), MIN(SALARY), AVG(SALARY), COUNT(*)  FROM (  SELECT NAME, [JOB TITLE] AS JOB_TITLE,  [2010 GROSS EARNINGS] AS SALARY  FROM [1314HOWE].[UW_SALARIES_2011.TXT]  ) X  WHERE  JOB_TITLE LIKE 'ASSISTANT PROFESSOR'  AND SALARY > 120800
 SELECT  *, CATEGORY FROM (  SELECT CASE WHEN BUDGET = 'MOORE' THEN 'MOORE/SLOAN'  WHEN BUDGET = 'SLOAN' THEN 'MOORE/SLOAN'  ELSE BUDGET  END AS BUDGET  , CASE WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%OST-DOC%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'POSTDOC'  WHEN DESCRIPTION LIKE '%OST-DOC%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'POSTDOC'  WHEN DESCRIPTION LIKE '%PRO STAFF%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'RESEARCH STAFF'  WHEN DESCRIPTION LIKE '%PRO STAFF%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'RESEARCH STAFF'  WHEN DESCRIPTION LIKE '%ADMIN PRO%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%ADMIN PRO%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%CLASSIFIED STAFF%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%CLASSIFIED STAFF%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%BILL%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%BILL%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%VISITING%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%VISITING%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%CHANCE%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%CHANCE%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%HYAK%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%HYAK%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%HOURLY%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'ADMIN STAFF'  WHEN DESCRIPTION LIKE '%HOURLY%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'ADMIN STAFF'  WHEN CATEGORY_LABEL = 'CONSULTING' OR CATEGORY_LABEL = ''  THEN 'OTHER'  ELSE CATEGORY_LABEL  END AS CATEGORY  , DESCRIPTION  , CASE  WHEN LEN(INV_DATE) <2 THEN NULL  WHEN PO_INVOICE = 'CR3566' THEN '9/1/2015'  ELSE CAST(INV_DATE AS DATE)  END AS INV_DATE  , CAST(CASE  WHEN BAR_AMT IS NULL THEN ENCUMBERED  ELSE BAR_AMT  END AS FLOAT) AS AMOUNT  , CD, PO_INVOICE, ENCUMBERED  FROM [1314HOWE].[ALL_OPERATIONS_DETAILS.CSV]  ) X  WHERE CATEGORY = 'BENEFITS'
 SELECT  MAX(SALARY), MIN(SALARY), AVG(SALARY), COUNT(*)  FROM (  SELECT NAME, [JOB TITLE] AS JOB_TITLE,  [2010 GROSS EARNINGS] AS SALARY  FROM [1314HOWE].[UW_SALARIES_2011.TXT]  ) X  WHERE JOB_TITLE LIKE '%RESEAR%SENIOR%'  AND SALARY > 112800
 SELECT *  FROM (  SELECT NAME, [JOB TITLE] AS JOB_TITLE,  [2010 GROSS EARNINGS] AS SALARY  FROM [1314HOWE].[UW_SALARIES_2011.TXT]  ) X  WHERE JOB_TITLE LIKE '%RESEAR%SR%'
 SELECT MAX(SALARY), MIN(SALARY), AVG(SALARY), COUNT(*)  FROM (  SELECT NAME, [JOB TITLE] AS JOB_TITLE,  [2010 GROSS EARNINGS] AS SALARY  FROM [1314HOWE].[UW_SALARIES_2011.TXT]  ) X  WHERE JOB_TITLE LIKE '%RESEAR%PRINCI%'  AND SALARY > 30000
 SELECT * FROM (  SELECT ROW_NUMBER() OVER ( ORDER BY  [TOTAL FAT] DESC) AS ROW  , *  FROM [1314HOWE].[CATEGORIZED_FAT_WITH_CALORIES] C  ) X  WHERE X.ROW = 2
 SELECT *  FROM (  SELECT NAME, [JOB TITLE] AS JOB_TITLE,  [2010 GROSS EARNINGS] AS SALARY  FROM [1314HOWE].[UW_SALARIES_2011.TXT]  ) X  WHERE JOB_TITLE LIKE '%RESEAR%SENIOR%'
 SELECT X, COUNT(DISTINCT Z)  FROM (SELECT LEFTT.FOLLOWER AS X,RIGHTT.FOLLOWEE AS Z  FROM [354].[TWITTER_RV.6200000] LEFTT  JOIN [354].[TWITTER_RV.6200000] RIGHTT  ON LEFTT.FOLLOWEE=RIGHTT.FOLLOWER) RESULT  WHERE X < 3000   GROUP BY  X
 SELECT MAX(SALARY), MIN(SALARY), AVG(SALARY), COUNT(*)  FROM (  SELECT NAME, [JOB TITLE] AS JOB_TITLE,  [2010 GROSS EARNINGS] AS SALARY  FROM [1314HOWE].[UW_SALARIES_2011.TXT]  ) X  WHERE JOB_TITLE LIKE '%RESEAR%PRINCI%'
 SELECT MAX(SALARY), MIN(SALARY)  FROM (  SELECT NAME, [JOB TITLE] AS JOB_TITLE,  [2010 GROSS EARNINGS] AS SALARY  FROM [1314HOWE].[UW_SALARIES_2011.TXT]  ) X  WHERE JOB_TITLE LIKE '%RESEAR%PRINCI%'  AND SALARY > 30000
 SELECT  MAX(SALARY), MIN(SALARY), AVG(SALARY), COUNT(*)  FROM (  SELECT NAME, [JOB TITLE] AS JOB_TITLE,  [2010 GROSS EARNINGS] AS SALARY  FROM [1314HOWE].[UW_SALARIES_2011.TXT]  ) X  WHERE  JOB_TITLE LIKE 'ASSISTANT PROFESSOR'  AND SALARY < 131960

 SELECT  CHR AS SEQNAME,  'METHRATIO' AS SOURCE,  'CPG' AS FEATURE,  POS AS START,  POS + 1 AS [END],  CAST(RATIO AS FLOAT) AS SCORE,  STRAND,  '.' AS FRAME,  '.' AS ATTRIBUTE  FROM [1123].  [BIGILL_METHRATIO_V9_A.TXT]  WHERE  CONTEXT LIKE '__CG_'  AND CT_COUNT >= 5  AND RATIO <> 'NA'  AND CAST(RATIO AS FLOAT) >= 0.5
 SELECT  CHR AS SEQNAME,  'METHRATIO' AS SOURCE,  'CPG' AS FEATURE,  POS AS START,  POS + 1 AS [END],  CAST(RATIO AS FLOAT) AS SCORE,  STRAND,  '.' AS FRAME,  '.' AS ATTRIBUTE  FROM [1123].  [BIGILL_METHRATIO_V9_A.TXT]  WHERE  CONTEXT LIKE '__CG_'  AND CT_COUNT >= 5  AND RATIO <> 'NA'  AND CAST(RATIO AS FLOAT) >= 0.500   ORDER BY  SCORE
 SELECT  CHR AS SEQNAME,  'METHRATIO' AS SOURCE,  'CPG' AS FEATURE,  POS AS START,  POS + 1 AS [END],  CAST(RATIO AS FLOAT) AS SCORE,  STRAND,  '.' AS FRAME,  '.' AS ATTRIBUTE  FROM [1123].  [BIGILL_METHRATIO_V9_A.TXT]  WHERE  CONTEXT LIKE '__CG_'  AND CT_COUNT >= 5  AND RATIO <> 'NA'  AND CAST(RATIO AS FLOAT) >= 0.500
3/36
 SELECT TOP 1 *  FROM [823].[CGBIGILL5X_ASGFF]  WHERE CAST(SCORE AS NUMERIC) < 0.25
 SELECT TOP 1 *  FROM [823].[CGBIGILL5X_ASGFF]  WHERE SCORE='.'
 SELECT TOP 3 CAST(SCORE AS FLOAT) AS SCORENUM  FROM [823].[CGBIGILL5X_ASGFF]  WHERE CAST(SCORE AS FLOAT) < CAST(0.25 AS FLOAT)
 SELECT  COUNT (*)  FROM [823].[CGBIGILL5X_ASGFF]  WHERE SCORE >=0.8
 SELECT * FROM [823].[CGBIGILL5X_ASGFF]  WHERE SCORE >= 0.25   ORDER BY  SCORE
 SELECT TOP 10 *  FROM [823].[CGBIGILL5X_ASGFF]  WHERE CAST(SCORE AS NUMERIC) < 3
 SELECT *  FROM [823].[CGBIGILL5X_ASGFF]  WHERE SCORE >= 0.250
 SELECT * FROM [823].[CGBIGILL5X_ASGFF]  WHERE SCORE ='NA'
 SELECT COUNT(*)  FROM [823].[CGBIGILL5X_ASGFF]  WHERE SCORE >= 0.75
 SELECT * FROM [823].[CGBIGILL5X_ASGFF]  WHERE SCORE LIKE '_'
 SELECT  COUNT (*)  FROM [823].[CGBIGILL5X_ASGFF]  WHERE SCORE = 0
 SELECT * FROM [823].[CGBIGILL5X_ASGFF]  WHERE SCORE >= 0.25
 SELECT  COUNT (*)  FROM [823].[CGBIGILL5X_ASGFF]  WHERE SCORE >=0.50
 SELECT TOP 10 *  FROM [823].[CGBIGILL5X_ASGFF]  WHERE SCORE > '1'
 SELECT CAST(SCORE AS FLOAT) AS SCORENUM  FROM [823].[CGBIGILL5X_ASGFF]  WHERE CAST(SCORE AS FLOAT) < CAST(0.25 AS FLOAT)  AND SCORE <> 'NA'
 SELECT *  FROM [823].[CGBIGILL5X_ASGFF]  WHERE SCORE='.'
 SELECT TOP 10 *  FROM [823].[CGBIGILL5X_ASGFF]  WHERE SCORE > '1.000'
 SELECT *  FROM [823].[CGBIGILL5X_ASGFF]  WHERE SCORE >= 0.250   ORDER BY  SCORE
 SELECT CAST(SCORE AS FLOAT) AS SCORENUM  FROM [823].[CGBIGILL5X_ASGFF]  WHERE CAST(SCORE AS FLOAT) < 0.25  AND SCORE <> 'NA'
 SELECT TOP 10 CAST(SCORE AS FLOAT) AS SCORENUM  FROM [823].[CGBIGILL5X_ASGFF]  WHERE CAST(SCORE AS FLOAT) < CAST(0.25 AS FLOAT)  AND SCORE <> 'NA'
 SELECT TOP 1 CAST(SCORE AS FLOAT) AS SCORENUM  FROM [823].[CGBIGILL5X_ASGFF]  WHERE CAST(SCORE AS FLOAT) < 0.25
 SELECT * FROM [823].[CGBIGILL5X_ASGFF]  WHERE SCORE LIKE '__'
 SELECT  COUNT (*)  FROM [823].[CGBIGILL5X_ASGFF]  WHERE SCORE >=0.5
 SELECT * FROM [823].[CGBIGILL5X_ASGFF]  WHERE SCORE LIKE 'NA'
24/49
 SELECT *  FROM  [412].[ISOTIGS WITH CGIDS AND TOTAL READS MAPPED]  WHERE [ISOTIG] = 'CONTIG87031'
 SELECT CAST([EM2A] AS FLOAT) AS TMP  FROM  [412].[ISOTIGS WITH CGIDS AND TOTAL READS MAPPED]  WHERE ISNUMERIC([EM2A]) = 1   ORDER BY  TMP
 SELECT CAST([EM2A] AS FLOAT) AS TMP  FROM  [412].[ISOTIGS WITH CGIDS AND TOTAL READS MAPPED]  WHERE ISNUMERIC([EM2A]) = 1   ORDER BY  TMP DESC
 SELECT *  FROM  [412].[ISOTIGS WITH CGIDS AND TOTAL READS MAPPED]  WHERE [ISOTIG] = 'CONTIG62418'
 SELECT *  FROM  [412].[ISOTIGS WITH CGIDS AND TOTAL READS MAPPED]  WHERE [ISOTIG] = 'CONTIG66789'
 SELECT *  FROM  [412].[ISOTIGS WITH CGIDS AND TOTAL READS MAPPED]  WHERE ISNUMERIC([EM2A]) = 0
 SELECT CAST([EM2A] AS FLOAT)  FROM  [412].[ISOTIGS WITH CGIDS AND TOTAL READS MAPPED]  WHERE ISNUMERIC([EM2A]) = 1
 SELECT *  FROM  [412].[ISOTIGS WITH CGIDS AND TOTAL READS MAPPED]  WHERE [ISOTIG] = 'CONTIG59055'
8/10
 SELECT 1  WHERE 1 = 1
 SELECT 1  WHERE 1 = 0
 SELECT 1  WHERE CASE WHEN 1=1 THEN NULL ELSE 1 END = 1 AND 1=0
 SELECT 1  WHERE CASE WHEN 1=1 THEN NULL ELSE 1 END = 1 OR 1=1
 SELECT 1  WHERE CASE WHEN 1=1 THEN NULL ELSE 1 END = 1 AND 1=1
5/314
 SELECT *  FROM [354].[GEOMICS_PEOPLE]  WHERE INSTITUTION = 'BIGELOW'
 SELECT *  FROM [354].[GEOMICS_PEOPLE]  WHERE INSTITUTION = 'MIT'
 SELECT *  FROM [354].[GEOMICS_PEOPLE]  WHERE INSTITUTION = 'UCLA'
3/6
 SELECT * FROM [GEOMICS_KEY.CSV] WHERE EVENT='1033'
 SELECT *  FROM [446].[GEOMICS_KEY.CSV]  WHERE EVENT='1002'
2/46
 SELECT ID, OWNER, STATUS, QUERY  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE ID > 210 AND ID < 225   ORDER BY  ID DESC;
 SELECT ID, STATUS, QUERY  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE ID >= 2637 AND ID <= 2700 AND OWNER = '1002'   ORDER BY  ID DESC;
 SELECT ID, STATUS, QUERY  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE ID >= 2630 AND ID <= 2700 AND OWNER = '1002'   ORDER BY  ID DESC;
 SELECT TOP 10 QUERY  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG] WHERE ID = 1424   ORDER BY  ID DESC
 SELECT COUNT(1)  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE STATUS = 'SUCCESS'  AND QUERY LIKE '% GROUP BY %';
 SELECT QUERY  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE STATUS = 'SUCCESS'  AND QUERY LIKE '% IN ( SELECT%';
 SELECT QUERY  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE STATUS = 'SUCCESS'  AND QUERY LIKE '%( SELECT%';
 SELECT QUERY  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE STATUS = 'SUCCESS'  AND QUERY LIKE '%(SELECT%';
 SELECT TOP 10 *  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG] WHERE ID = 1424   ORDER BY  ID DESC
 SELECT TOP 10 QUERY FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG] WHERE ID = 4026  ORDER BY  ID DESC
 SELECT ID, OWNER, STATUS, QUERY  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE ID >= 2630 AND ID <= 2750   ORDER BY  ID DESC;
 SELECT COUNT(1)  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE STATUS = 'SUCCESS'  AND QUERY LIKE '%(SELECT%';
 SELECT QUERY  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE STATUS = 'SUCCESS'  AND QUERY LIKE '% IN %';
 SELECT ID, OWNER, STATUS, QUERY  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE ID > 210 AND ID < 230   ORDER BY  ID DESC;
 SELECT ID, OWNER, STATUS, QUERY  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE ID >= 2660 AND ID <= 2680   ORDER BY  ID DESC;
 SELECT COUNT(1)  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE QUERY LIKE '%(SELECT%' AND STATUS = 'SUCCESS';
 SELECT COUNT(1)  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE STATUS = 'SUCCESS'  AND QUERY LIKE '%GROUP%';
 SELECT ID, OWNER, QUERY  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE ID >= 2660 AND ID <= 2680   ORDER BY  ID DESC;
 SELECT ID, OWNER, STATUS, QUERY  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE ID >= 2630 AND ID <= 2680   ORDER BY  ID DESC;
 SELECT ID, OWNER, STATUS, QUERY  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE ID >= 2630 AND ID <= 2690   ORDER BY  ID DESC;
 SELECT ID, OWNER, STATUS, QUERY  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE ID >= 2650 AND ID <= 2680   ORDER BY  ID DESC;
 SELECT *  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE ID > 210 AND ID < 225   ORDER BY  ID DESC;
 SELECT ID, OWNER, STATUS, QUERY  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE ID >= 2630 AND ID <= 2700   ORDER BY  ID DESC;
 SELECT COUNT(1)  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE STATUS = 'SUCCESS'  AND QUERY LIKE '%( SELECT%';
 SELECT STATUS, COUNT(1)  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE QUERY LIKE '% GROUP BY %'   GROUP BY  STATUS;
 SELECT TOP 10 QUERY FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG] WHERE ID = 3161  ORDER BY  ID DESC
 SELECT STATUS, COUNT(1)  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE QUERY LIKE '%HAVING%'   GROUP BY  STATUS;
 SELECT COUNT(1)  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE STATUS = 'SUCCESS'  AND QUERY LIKE '% JOIN %';
 SELECT TOP 10 QUERY FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG] WHERE ID = 1424  ORDER BY  ID DESC
 SELECT COUNT(1)  FROM [SQLSHARE].[SQLSHARE].[1385_QUERY_LOG]  WHERE STATUS = 'SUCCESS'  AND QUERY LIKE '% IN %';
30/64
 SELECT * FROM [299].[SEASTAR_CLC_UNIPROT_SPROT_2.TAB]BLAST  LEFT JOIN  [1123].[UNIPROT-REVIEWED_WGO_010714]UNP  ON  BLAST.COLUMN3=UNP.ENTRY  WHERE  PATHWAY LIKE '%IMMUNE%'
 SELECT * FROM [299].[SEASTAR_CLC_UNIPROT_SPROT_2.TAB]BLAST  LEFT JOIN  [1123].[UNIPROT-REVIEWED_WGO_010714]UNP  ON  BLAST.COLUMN3=UNP.ENTRY  WHERE  PATHWAY LIKE 'APOPTOSIS'
 SELECT * FROM [299].[SEASTAR_CLC_UNIPROT_SPROT_2.TAB]BLAST  LEFT JOIN  [1123].[UNIPROT-REVIEWED_WGO_010714]UNP  ON  BLAST.COLUMN3=UNP.ENTRY  WHERE  PATHWAY LIKE'%CELL%'
 SELECT * FROM [299].[SEASTAR_CLC_UNIPROT_SPROT_2.TAB]BLAST  LEFT JOIN  [1123].[UNIPROT-REVIEWED_WGO_010714]UNP  ON  BLAST.COLUMN3=UNP.ENTRY  WHERE  PATHWAY LIKE 'CELL'
 SELECT * FROM [299].[SEASTAR_CLC_UNIPROT_SPROT_2.TAB]BLAST  LEFT JOIN  [1123].[UNIPROT-REVIEWED_WGO_010714]UNP  ON  BLAST.COLUMN3=UNP.ENTRY  WHERE  PATHWAY LIKE '%CELL%'
 SELECT * FROM [299].[SEASTAR_CLC_UNIPROT_SPROT_2.TAB]BLAST  LEFT JOIN  [1123].[UNIPROT-REVIEWED_WGO_010714]UNP  ON  BLAST.COLUMN3=UNP.ENTRY  WHERE  PATHWAY LIKE 'IMMUNE'
 SELECT * FROM [299].[SEASTAR_CLC_UNIPROT_SPROT_2.TAB]BLAST  LEFT JOIN  [1123].[UNIPROT-REVIEWED_WGO_010714]UNP  ON  BLAST.COLUMN3=UNP.ENTRY  WHERE  PATHWAY LIKE'IMMUNE'
 SELECT * FROM [299].[SEASTAR_CLC_UNIPROT_SPROT_2.TAB]BLAST  LEFT JOIN  [1123].[UNIPROT-REVIEWED_WGO_010714]UNP  ON  BLAST.COLUMN3=UNP.ENTRY  WHERE  PATHWAY LIKE '%APOPTOSIS%'
 SELECT * FROM [299].[SEASTAR_CLC_UNIPROT_SPROT_2.TAB]BLAST  LEFT JOIN  [1123].[UNIPROT-REVIEWED_WGO_010714]UNP  ON  BLAST.COLUMN3=UNP.ENTRY  WHERE  PATHWAY LIKE '%FERMENTATION%'
9/14
 SELECT * FROM [1017].[RNASEQ_COUNT.TXT]COUNTS  LEFT JOIN  [1017].[PHEL_CLC_BLASTN_NT_NOPIPES_3.TAB]BLAST  ON  COUNTS.FEATURE=BLAST.COLUMN1  WHERE  (V_CF71+V_CF34+V_CF26)>3*(HK_CF2+HK_CF35+HK_CF70)
 SELECT * FROM [1017].[RNASEQ_COUNT.TXT]COUNTS  LEFT JOIN  [1017].[PHEL_CLC_BLASTN_NT_NOPIPES_3.TAB]BLAST  ON  COUNTS.FEATURE=BLAST.COLUMN1  WHERE  (V_CF71+V_CF34+V_CF26)>(HK_CF2+HK_CF35+HK_CF70)
2/3
 SELECT * FROM [1017].[PHEL_CLC_UNIPROT_SPROT_05_FIXED.TAB]PROT  WHERE  CODE = '%STRPU%'
 SELECT * FROM [1017].[PHEL_CLC_UNIPROT_SPROT_05_FIXED.TAB]  WHERE  CODE='STRPU'
 SELECT * FROM [1017].[PHEL_CLC_UNIPROT_SPROT_05_FIXED.TAB]  WHERE  CODE = '%STRPU%'
3/4

 SELECT * FROM [1017].[HEAD_GENES_WIF_1.TXT]WIF  LEFT JOIN  [1017].[HEAD_GENES_WAGE.TXT]WAGE  ON  WIF.HEADS=WAGE.HEAD  WHERE  HEAD='%FBGN'
 SELECT * FROM [1017].[HEAD_GENES_WIF_1.TXT]WIF  LEFT JOIN  [1017].[HEAD_GENES_WAGE.TXT]WAGE  ON  WIF.HEADS=WAGE.HEAD  WHERE  HEAD = '*FB'
 SELECT * FROM [1017].[HEAD_GENES_WIF_1.TXT]WIF  LEFT JOIN  [1017].[HEAD_GENES_WAGE.TXT]WAGE  ON  WIF.HEADS=WAGE.HEAD  WHERE  HEAD = '*FBGN'
 SELECT * FROM [1017].[HEAD_GENES_WIF_1.TXT]WIF  LEFT JOIN  [1017].[HEAD_GENES_WAGE.TXT]WAGE  ON  WIF.HEADS=WAGE.HEAD  WHERE  HEAD='*FBGN'
 SELECT * FROM [1017].[HEAD_GENES_WIF_1.TXT]WIF  LEFT JOIN  [1017].[HEAD_GENES_WAGE.TXT]WAGE  ON  WIF.HEADS=WAGE.HEAD  WHERE  HEAD='%FBGN%'
5/6
 SELECT * FROM [1017].[MATCHED_DEGS_IFHEADS_2]  WHERE  HEADS='~FBGN'
 SELECT * FROM [1017].[MATCHED_DEGS_IFHEADS_2]  WHERE  HEADS='FBGN'
 SELECT * FROM [1017].[MATCHED_DEGS_IFHEADS_2]  WHERE  HEADS='%FBGN'
 SELECT * FROM [1017].[MATCHED_DEGS_IFHEADS_2]  WHERE  HEADS='&FBGN'
 SELECT * FROM [1017].[MATCHED_DEGS_IFHEADS_2]  WHERE  HEADS='FBGN%%%%%%%'
5/5
 SELECT * FROM [1017].[AGED&IF_GENES_WRPKMS]  WHERE  HEADS LIKE '%FBGN'
 SELECT * FROM [1017].[AGED&IF_GENES_WRPKMS]  WHERE  HEADS LIKE '%FB'
2/5
 SELECT INSTR AS INSTRUMENT  FROM [1002].[TOKYO_1_TSG.CSV]  WHERE ISNUMERIC(INSTR) = 0
 SELECT INSTR AS INSTRUMENT  , CASE WHEN T1 = 'NA' THEN NULL ELSE T1 END AS T1  , CASE WHEN C1 = 'NA' THEN NULL ELSE C1 END AS C1  , CASE WHEN S = 'NA' THEN NULL ELSE S END AS S  , CASE WHEN SV = 'NA' THEN NULL ELSE SV END AS SV  , CASE WHEN T2 = 'NA' THEN NULL ELSE T2 END AS T2  FROM [1002].[TOKYO_1_TSG.CSV]  WHERE ISNUMERIC(INSTR) = 1
2/12
 SELECT * FROM  (SELECT * FROM [446].[P8-B.TOP1000.SORTED.NR.TAB]  UNION  SELECT * FROM [446].[P8-A.TOP1000.SORTED.NR.TAB]) AS B  WHERE [HIT.DESCRIPTION] LIKE '%FLAVODOXIN%'
 SELECT * FROM  (SELECT * FROM [446].[P8-B.TOP1000.SORTED.NR.TAB]  UNION  SELECT * FROM [446].[P8-A.TOP1000.SORTED.NR.TAB]) AS B  WHERE [HIT.DESCRIPTION] LIKE '%IRON%'
 SELECT * FROM  (SELECT * FROM [446].[P8-B.TOP1000.SORTED.NR.TAB]  UNION  SELECT * FROM [446].[P8-A.TOP1000.SORTED.NR.TAB]) AS B  WHERE [HIT.DESCRIPTION] LIKE '%IRON STARVATION%'
 SELECT * FROM  (SELECT * FROM [446].[P8-B.TOP1000.SORTED.NR.TAB]  UNION  SELECT * FROM [446].[P8-A.TOP1000.SORTED.NR.TAB]) AS B  WHERE [HIT.DESCRIPTION] LIKE '%IRON STRESS INDUCED%'
 SELECT * FROM  (SELECT * FROM [446].[P8-B.TOP1000.SORTED.NR.TAB]  UNION  SELECT * FROM [446].[P8-A.TOP1000.SORTED.NR.TAB]) AS B  WHERE [HIT.DESCRIPTION] LIKE '%IRON STRESS%'
5/6
 SELECT *  FROM [1002].[TOKYO_0_MERGED_DATA.CSV]  WHERE ISNUMERIC(LONGITUDE) = 1
 SELECT *  FROM [1002].[TOKYO_0_MERGED_DATA.CSV]  WHERE ISNUMERIC(LONGITUDE) = 0
2/9
 SELECT ROW_NUMBER() OVER (PARTITION BY TAIL_NUM  ORDER BY  YEAR, MONTH, DAY_OF_MONTH, ARR_TIME) ID, ORIGIN, DEST, TAIL_NUM, FL_NUM,  DATEFROMPARTS(YEAR, MONTH, DAY_OF_MONTH) DATE,  CARRIER, DEP_TIME, ARR_TIME, DISTANCE, AIR_TIME  FROM [372].[FLIGHTS09]  WHERE TAIL_NUM != ''
 SELECT ROW_NUMBER() OVER ( ORDER BY  TAIL_NUM, YEAR, DEP_TIME) ID, ORIGIN, DEST, TAIL_NUM, FL_NUM,  DATEFROMPARTS(YEAR, MONTH, DAY_OF_MONTH) DATE,  CARRIER, DEP_TIME, ARR_TIME, DISTANCE, AIR_TIME  FROM [372].[FLIGHTS09]  WHERE TAIL_NUM != NULL
 SELECT ROW_NUMBER() OVER (PARTITION BY TAIL_NUM  ORDER BY  YEAR) ID, ORIGIN, DEST, TAIL_NUM, FL_NUM,  DATEFROMPARTS(YEAR, MONTH, DAY_OF_MONTH) DATE,  CARRIER, DEP_TIME, ARR_TIME, DISTANCE, AIR_TIME  FROM [372].[FLIGHTS09]  WHERE TAIL_NUM != ''
 SELECT ROW_NUMBER() OVER (PARTITION BY TAIL_NUM  ORDER BY  YEAR, MONTH, DAY_OF_MONTH, DEP_TIME) ID, ORIGIN, DEST, TAIL_NUM, FL_NUM,  DATEFROMPARTS(YEAR, MONTH, DAY_OF_MONTH) DATE,  CARRIER, DEP_TIME, ARR_TIME, DISTANCE, AIR_TIME  FROM [372].[FLIGHTS09]  WHERE TAIL_NUM != ''
 SELECT ROW_NUMBER() OVER ( ORDER BY  TAIL_NUM, YEAR, DEP_TIME) ID, ORIGIN, DEST, TAIL_NUM, FL_NUM,  DATEFROMPARTS(YEAR, MONTH, DAY_OF_MONTH) DATE,  CARRIER, DEP_TIME, ARR_TIME, DISTANCE, AIR_TIME  FROM [372].[FLIGHTS09]  WHERE TAIL_NUM != ''
5/23
 SELECT * FROM [1057].[TOKYO4_UWAY_TIMESTAMP_1COL]  WHERE ISNUMERIC(T1)<>0
 SELECT T1 FROM [1057].[TOKYO4_UWAY_TIMESTAMP_1COL]  WHERE ISNUMERIC(T1)<>1
2/4
 SELECT * FROM [1057].[MBARI1_UWAY_TIMESTAMP_1COL_NONA]  WHERE ISDATE(TIMESTAMP)<>01
 SELECT * FROM [1057].[MBARI1_UWAY_TIMESTAMP_1COL_NONA]  WHERE ISDATE(TIMESTAMP)<>0
2/2
 SELECT [STREAM.PRESSURE]  FROM [1057].[TOKYO4_SDS.TAB]  WHERE [STREAM.PRESSURE]>8
 SELECT [STREAM.PRESSURE]  FROM [1057].[TOKYO4_SDS.TAB]  WHERE [STREAM.PRESSURE]>24
 SELECT [STREAM.PRESSURE]  FROM [1057].[TOKYO4_SDS.TAB]  WHERE [STREAM.PRESSURE]>5
 SELECT [STREAM.PRESSURE]  FROM [1057].[TOKYO4_SDS.TAB]  WHERE [STREAM.PRESSURE]>2
 SELECT [STREAM.PRESSURE]  FROM [1057].[TOKYO4_SDS.TAB]  WHERE [STREAM.PRESSURE]>6
 SELECT [STREAM.PRESSURE]  FROM [1057].[TOKYO4_SDS.TAB]  WHERE [STREAM.PRESSURE]>4
6/8
 SELECT [STREAM.PRESSURE]  FROM [1057].[TOKYO3_SDS.TAB]  WHERE [STREAM.PRESSURE]>7
 SELECT [STREAM.PRESSURE]  FROM [1057].[TOKYO3_SDS.TAB]  WHERE [STREAM.PRESSURE]>6
 SELECT [STREAM.PRESSURE]  FROM [1057].[TOKYO3_SDS.TAB]  WHERE [STREAM.PRESSURE]>8
 SELECT [STREAM.PRESSURE]  FROM [1057].[TOKYO3_SDS.TAB]  WHERE [STREAM.PRESSURE]>5
4/5
 SELECT SPECIES, LATITUDE, LONGITUDE, OIL_COND, [WEEK.NUMBER],  [WEEK.NUMBER] / OIL_COND AS TIME_COND_RATIO  FROM [1010].[BIRDS.CSV]  WHERE OILING = 'VISIBLY OILED'  AND CONDITION = 'LIVE'   ORDER BY  TIME_COND_RATIO
 SELECT SPECIES, LATITUDE, LONGITUDE, OIL_COND, [WEEK.NUMBER],  [WEEK.NUMBER] / OIL_COND AS TIME_COND_RATIO  FROM [1010].[BIRDS.CSV]  WHERE OILING = 'VISIBLY OILED'  AND CONDITION = 'LIVE'   ORDER BY  TIME_COND_RATIO DESC
 SELECT SPECIES, OIL_COND, [WEEK.NUMBER] FROM [1010].[BIRDS.CSV]  WHERE OILING = 'VISIBLY OILED'  AND CONDITION = 'DEAD'
 SELECT SPECIES, LATITUDE, LONGITUDE, OIL_COND, [WEEK.NUMBER],  [WEEK.NUMBER] / OIL_COND AS TIME_COND_RATIO  FROM [1010].[BIRDS.CSV]  WHERE ([WEEK.NUMBER] / OIL_COND) > 19  AND ([WEEK.NUMBER] / OIL_COND) < 21   ORDER BY  TIME_COND_RATIO
 SELECT SPECIES, LATITUDE, LONGITUDE, OIL_COND, [WEEK.NUMBER],  [WEEK.NUMBER] / OIL_COND AS TIME_COND_RATIO  FROM [1010].[BIRDS.CSV]  WHERE ([WEEK.NUMBER] / OIL_COND) > 18  AND ([WEEK.NUMBER] / OIL_COND) < 22   ORDER BY  TIME_COND_RATIO
 SELECT SPECIES, LATITUDE, LONGITUDE, OIL_COND, [WEEK.NUMBER],  [WEEK.NUMBER] / OIL_COND AS TIME_COND_RATIO  FROM [1010].[BIRDS.CSV]  WHERE OILING = 'VISIBLY OILED'  AND CONDITION = 'LIVE'   ORDER BY  [WEEK.NUMBER]
 SELECT * FROM [1010].[BIRDS.CSV]  WHERE OILING = 'VISIBLY OILED'  AND CONDITION = 'LIVE'
 SELECT SPECIES, OIL_COND, [WEEK.NUMBER] FROM [1010].[BIRDS.CSV]  WHERE OILING = 'VISIBLY OILED'  AND CONDITION = 'DEAD'   ORDER BY  [WEEK.NUMBER]
 SELECT SPECIES, LATITUDE, LONGITUDE, OIL_COND, [WEEK.NUMBER],  [WEEK.NUMBER] / OIL_COND AS TIME_COND_RATIO  FROM [1010].[BIRDS.CSV]  WHERE ([WEEK.NUMBER] / OIL_COND) > 15  AND ([WEEK.NUMBER] / OIL_COND) < 25   ORDER BY  TIME_COND_RATIO
 SELECT SPECIES, LATITUDE, LONGITUDE, OIL_COND, [WEEK.NUMBER] FROM [1010].[BIRDS.CSV]  WHERE OILING = 'VISIBLY OILED'  AND CONDITION = 'LIVE'   ORDER BY  [WEEK.NUMBER]
10/22
 SELECT SUM(VOLUME) AS TOTAL_VOLUME  FROM [1016].[FREEWAY_LOOPDATA]  WHERE STARTTIME LIKE '2011-09-21%'
 SELECT SUM(VOLUME) AS TOTAL_VOLUME  FROM [1016].[FREEWAY_LOOPDATA]  WHERE STARTTIME LIKE '2011-09-21'
 SELECT DETECTORID, STARTTIME, SPEED  FROM [1016].[FREEWAY_LOOPDATA]  WHERE STARTTIME LIKE '2011-09-21%'
3/8
 SELECT * FROM [713].[HOUSING.DATA 2.TXT] WHERE COLUMN9<10
 SELECT * FROM [713].[HOUSING.DATA 2.TXT] WHERE COLUMN9<15
2/2
 SELECT DATE, TRIG FROM [TABLE_ORCASOUND-DETECTIONS.CSV]  WHERE DATE LIKE '10%';
 SELECT DATE, TRIG FROM [TABLE_ORCASOUND-DETECTIONS.CSV]  WHERE CLASS LIKE 'S';
 SELECT DATE, TRIG FROM [TABLE_ORCASOUND-DETECTIONS.CSV]  WHERE DATE LIKE '%10/%';
 SELECT DATE, TRIG FROM [TABLE_ORCASOUND-DETECTIONS.CSV]  WHERE DATE LIKE '10/30/2009'
 SELECT DATE, TRIG FROM [TABLE_ORCASOUND-DETECTIONS.CSV]  WHERE DATE LIKE '%AM%';
 SELECT DATE, TRIG FROM [TABLE_ORCASOUND-DETECTIONS.CSV]  WHERE DATE LIKE '10/'
 SELECT DATE, TRIG FROM [TABLE_ORCASOUND-DETECTIONS.CSV]  WHERE DATE LIKE 'AM'
 SELECT * FROM [TABLE_ORCASOUND-DETECTIONS.CSV]  WHERE CLASS LIKE '%S%';
 SELECT * FROM [TABLE_ORCASOUND-DETECTIONS.CSV]  WHERE CLASS LIKE 'S';
 SELECT DATE, TRIG FROM [TABLE_ORCASOUND-DETECTIONS.CSV]  WHERE DATE LIKE '10/%'
 SELECT DATE, TRIG FROM [TABLE_ORCASOUND-DETECTIONS.CSV]  WHERE DATE LIKE '10%'
 SELECT DATE, TRIG FROM [TABLE_ORCASOUND-DETECTIONS.CSV]  WHERE DATE LIKE '%10%';
12/17

 SELECT * FROM [1117].[ORCAMASTER2010.CSV]  WHERE YEAR BETWEEN 1991 AND 1992   ORDER BY  YEAR, MONTH, DAY
 SELECT DISTINCT SIGHTDATE, MONTH, DAY, [YEAR] FROM [1117].[ORCAMASTER2010.CSV]  WHERE [YEAR] BETWEEN 1990 AND 1992 AND POD <> 'TS?' AND MONTH BETWEEN 4 AND 10   ORDER BY  YEAR, MONTH, DAY
 SELECT * FROM [1117].[ORCAMASTER2010.CSV]  WHERE LAT BETWEEN 48.2961 AND 48.2817
 SELECT DISTINCT SIGHTDATE, MONTH, DAY, [YEAR] FROM [1117].[ORCAMASTER2010.CSV]  WHERE [YEAR] BETWEEN 1993 AND 1995 AND POD <> 'TS?' AND MONTH BETWEEN 4 AND 10   ORDER BY  YEAR, MONTH, DAY
 SELECT DISTINCT SIGHTDATE, MONTH, DAY, [YEAR] FROM [1117].[ORCAMASTER2010.CSV]  WHERE [YEAR] BETWEEN 2006 AND 2010 AND POD <> 'TS?' AND MONTH BETWEEN 4 AND 10
 SELECT * FROM [1117].[ORCAMASTER2010.CSV]  WHERE MONTH BETWEEN 6 AND 10
 SELECT * FROM [1117].[ORCAMASTER2010.CSV]  WHERE 1=1  AND [LONG] BETWEEN 123.0701 AND 123.0869
 SELECT * FROM [1117].[ORCAMASTER2010.CSV]  WHERE LAT BETWEEN 48.2727 AND 48.2870
 SELECT * FROM [1117].[ORCAMASTER2010.CSV]  WHERE 1=1  AND [LONG] BETWEEN 123.0564 AND 123.0399
 SELECT * FROM [1117].[ORCAMASTER2010.CSV]  WHERE LAT BETWEEN 48.2727 AND 48.2870 AND [LONG] BETWEEN 123.0564 AND 123.0399
 SELECT * FROM [1117].[ORCAMASTER2010.CSV]  WHERE MONTH BETWEEN 6 AND 8
 SELECT DISTINCT SIGHTDATE, MONTH, DAY, [YEAR] FROM [1117].[ORCAMASTER2010.CSV]  WHERE [YEAR] BETWEEN 2006 AND 2010 AND POD <> 'TS?' AND MONTH BETWEEN 4 AND 10   ORDER BY  YEAR, MONTH, DAY
 SELECT * FROM [1117].[ORCAMASTER2010.CSV]  WHERE LAT BETWEEN 48.2727 AND 48.2870 AND [LONG] BETWEEN 123.0701 AND 123.0869
 SELECT * FROM [1117].[ORCAMASTER2010.CSV]  WHERE MONTH BETWEEN 6 AND 10   ORDER BY  MONTH
 SELECT * FROM [1117].[ORCAMASTER2010.CSV]  WHERE YEAR BETWEEN 1991 AND 1995   ORDER BY  YEAR, MONTH, DAY
15/29
 SELECT * FROM TINY_SAMPLE WHERE TIME= 250 AND ACCEPTOR_IDX=3211
 SELECT * FROM TINY_SAMPLE WHERE TIME=12.5 AND ACCEPTOR_IDX=3211
 SELECT * FROM TINY_SAMPLE WHERE TIME= 250 AND ACCEPTOR_IDX=2
 SELECT * FROM TINY_SAMPLE WHERE TIME= 250 AND ACCEPTOR_IDX=3210
 SELECT * FROM TINY_SAMPLE WHERE TIME=250 AND ACCEPTOR_IDX=3211
5/15
 SELECT * FROM [145].[TABLE_CONFIG_2.TXT] WHERE COLUMN2=6543
 SELECT * FROM [145].[TABLE_CONFIG_2.TXT] WHERE COLUMN2=42
 SELECT * FROM [145].[TABLE_CONFIG_2.TXT] WHERE COLUMN2=1653
 SELECT * FROM [145].[TABLE_CONFIG_2.TXT] WHERE COLUMN2=653
 SELECT * FROM [145].[TABLE_CONFIG_2.TXT] WHERE COLUMN2=4142
5/6
 SELECT * FROM FRAME2 WHERE Z>10
 SELECT * FROM FRAME2 WHERE Z>7
 SELECT * FROM FRAME2 WHERE Z>9
 SELECT * FROM FRAME2 WHERE Z>7   ORDER BY  IDX
 SELECT * FROM FRAME2 WHERE Z>7   ORDER BY  Z
5/9
 SELECT * FROM FRAME1 WHERE Z>15
 SELECT * FROM FRAME1 WHERE Z>10
2/6
 SELECT * FROM [145].[TABLE_FRAME1_ANGLES.TXT] WHERE COLUMN1=122
 SELECT COLUMN2 FROM [145].[TABLE_FRAME1_ANGLES.TXT] WHERE COLUMN1=4338
 SELECT ABS(COLUMN2) FROM [145].[TABLE_FRAME1_ANGLES.TXT] WHERE COLUMN1=3
 SELECT * FROM [145].[TABLE_FRAME1_ANGLES.TXT] WHERE COLUMN1=43381
 SELECT ABS(COLUMN2) FROM [145].[TABLE_FRAME1_ANGLES.TXT] WHERE COLUMN1=122
 SELECT COLUMN2 FROM [145].[TABLE_FRAME1_ANGLES.TXT] WHERE COLUMN1=3
 SELECT COLUMN2 FROM [145].[TABLE_FRAME1_ANGLES.TXT] WHERE COLUMN1=43381
7/12
 SELECT COLUMN1, ABS(COLUMN2) AS ABS_ANGLE FROM [145].[TABLE_FRAME2_ANGLES.TXT]  WHERE COLUMN1 NOT IN (SELECT DONOR_IDX-1 FROM TINY_SAMPLE WHERE TIME=50)
 SELECT COLUMN1, ABS(COLUMN2) AS ABS_ANGLE FROM [145].[TABLE_FRAME2_ANGLES.TXT]  WHERE COLUMN1 NOT IN (SELECT DONOR_IDX FROM TINY_SAMPLE WHERE TIME=50)
2/2
 SELECT *  FROM [145].[TRAJ_ALL]  WHERE IDX%3 = 1
 SELECT *  FROM [145].[TRAJ_ALL]  WHERE IDX%3 = 2
 SELECT *  FROM [145].[TRAJ_ALL]  WHERE IDX%3 = 0
3/3
 SELECT [718].[TABLE_1385S_1.CSV].1385NAME, [718].[TABLE_1385S_1.CSV].MAJOR FROM [718].[TABLE_1385S_1.CSV]  WHERE MAJOR = 'ENGLISH'
 SELECT [718].[TABLE_1385S_1.CSV].1385NAME, [718].[TABLE_1385S_1.CSV].MAJOR  FROM [718].[TABLE_1385S_1.CSV]  WHERE MAJOR = 'HISTORY'
 SELECT [718].[TABLE_1385S_1.CSV].1385NAME, [718].[TABLE_1385S_1.CSV].MAJOR FROM [718].[TABLE_1385S_1.CSV] WHERE MAJOR = 'HISTORY'
 SELECT [718].[TABLE_1385S_1.CSV].1385NAME FROM [718].[TABLE_1385S_1.CSV] WHERE MAJOR = 'HISTORY'
 SELECT 1385NAME FROM [718].[TABLE_1385S_1.CSV] WHERE MAJOR = 'HISTORY'
5/10
 SELECT LOAN_AMNT, GRADE, FICO_RANGE_LOW FROM [1199].[LOANSTATS3B_SECUREV1.CSV]  WHERE GRADE = 'D'   ORDER BY  LOAN_AMNT,GRADE, FICO_RANGE_LOW
 SELECT LOAN_AMNT, GRADE, FICO_RANGE_LOW FROM [1199].[LOANSTATS3B_SECUREV1.CSV]  WHERE GRADE = 'A'   ORDER BY  LOAN_AMNT,GRADE, FICO_RANGE_LOW
2/10
 SELECT * FROM [TABLE_COLLABORATORS10YRREV.CSV] WHERE DEPT='UBC'
 SELECT * FROM [TABLE_COLLABORATORS10YRREV.CSV] WHERE DEPT='OCEAN'
2/3
 SELECT  SURVEY_INSTITUTION FROM [813].[OSER11.CSV] WHERE APP_TOTAL > 100
 SELECT  SURVEY_INSTITUTION FROM [813].[OSER11.CSV] WHERE APP_TOTAL > 150
 SELECT  SURVEY_INSTITUTION FROM [813].[OSER11.CSV] WHERE APP_BIO_TOTAL > 75
 SELECT  SURVEY_INSTITUTION FROM [813].[OSER11.CSV] WHERE APP_TOTAL > 200
 SELECT  SURVEY_INSTITUTION,APP_BIO_TOTAL FROM [813].[OSER11.CSV] WHERE APP_BIO_TOTAL > 40
 SELECT  SURVEY_INSTITUTION FROM [813].[OSER11.CSV] WHERE APP_BIO_TOTAL > 40
6/10
 SELECT SUM (APP_BIO_FEMALE), SUM(OFFERS_BIO_FEMALE) FROM [813].[TABLE_OSER11.CSV] WHERE APP_TOTAL > 50
 SELECT SUM (APP_BIO_FEMALE), SUM(OFFERS_BIO_FEMALE) FROM [813].[TABLE_OSER11.CSV] WHERE APP_TOTAL > 300
 SELECT SUM (APP_BIO_FEMALE), SUM(OFFERS_BIO_FEMALE) FROM [813].[TABLE_OSER11.CSV] WHERE APP_TOTAL > 100
 SELECT SUM (APP_BIO_FEMALE), SUM(OFFERS_BIO_FEMALE) FROM [813].[TABLE_OSER11.CSV] WHERE APP_TOTAL > 200
 SELECT SURVEY_INSTITUTION FROM [813].[TABLE_OSER11.CSV] WHERE APP_TOTAL > 150
5/27
 SELECT [DATE]  , [TOTAL FAT]  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] NOW  WHERE [DATE] > '8/16/2011'
 SELECT [DATE]  , [TOTAL FAT], (  SELECT AVG([TOTAL FAT])  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] PAST  WHERE PAST.[DATE] < NOW.[DATE]  ) AS RUNNING_AVERAGE_FAT_GRAMS  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] NOW  WHERE [DATE] > '1/16/2012'
 SELECT [DATE]  , [TOTAL FAT], (  SELECT AVG([TOTAL FAT])  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] PAST  WHERE PAST.[DATE] < NOW.[DATE]  ) AS RUNNING_AVERAGE_FAT_GRAMS  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] NOW  WHERE [DATE] > '8/16/2011'
 SELECT [DATE]  , [TOTAL FAT], (  SELECT AVG([TOTAL FAT])  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] PAST  WHERE PAST.[DATE] < NOW.[DATE]  ) AS RUNNING_AVERAGE_FAT_GRAMS  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] NOW  WHERE [DATE] > '4/16/2012'
 SELECT [DATE]  , [TOTAL FAT], (  SELECT AVG([TOTAL FAT])  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] PAST  WHERE PAST.[DATE] < NOW.[DATE]  ) AS RUNNING_AVERAGE_FAT_GRAMS  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] NOW  WHERE [DATE] > '1/1/2012'
 SELECT [DATE]  , [TOTAL FAT], (  SELECT AVG([TOTAL FAT])  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] PAST  WHERE PAST.[DATE] < NOW.[DATE]  ) AS RUNNING_AVERAGE_FAT_GRAMS  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] NOW  WHERE [DATE] > '1/25/2012'
 SELECT [DATE]  , [TOTAL FAT], (  SELECT AVG([TOTAL FAT])  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] PAST  WHERE PAST.[DATE] < NOW.[DATE]  ) AS RUNNING_AVERAGE_FAT_GRAMS  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] NOW  WHERE [DATE] > '8/16/2012'
 SELECT [DATE]  , [TOTAL FAT]  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION]  WHERE [DATE] > '8/16/2011'
 SELECT AVG([TOTAL FAT])  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] PAST  WHERE PAST.[DATE] < '01/17/2014 00:00:00 AM'
 SELECT [DATE]  , [TOTAL FAT], (  SELECT AVG([TOTAL FAT])  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] PAST  WHERE PAST.[DATE] < NOW.[DATE]  ) AS RUNNING_AVERAGE_FAT_GRAMS  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] NOW  WHERE [DATE] > '2/10/2007'
 SELECT [DATE]  , [TOTAL FAT], (  SELECT AVG([TOTAL FAT])  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] PAST  WHERE PAST.[DATE] < NOW2.[DATE]  ) AS RUNNING_AVERAGE_FAT_GRAMS  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] NOW2  WHERE [DATE] > '8/16/2011'
 SELECT [DATE]  , [TOTAL FAT], (  SELECT AVG([TOTAL FAT])  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] PAST  WHERE PAST.[DATE] < NOW.[DATE]  ) AS RUNNING_AVERAGE_FAT_GRAMS  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] NOW  WHERE [DATE] > '2/10/2012'
 SELECT AVG([TOTAL FAT])  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] PAST  WHERE PAST.[DATE] < '01/17/2014'
 SELECT [DATE]  , [TOTAL FAT]  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] NOW  WHERE [DATE] > '2/10/2012'
 SELECT [DATE]  , [TOTAL FAT], (  SELECT AVG([TOTAL FAT])  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] PAST  WHERE PAST.[DATE] < NOW.[DATE]  ) AS RUNNING_AVERAGE_FAT_GRAMS  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] NOW  WHERE [DATE] > '5/16/2012'
 SELECT [DATE]  , [TOTAL FAT], (  SELECT AVG([TOTAL FAT])  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] PAST  WHERE PAST.[DATE] < NOW.[DATE]  ) AS RUNNING_AVERAGE_FAT_GRAMS  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] NOW  WHERE [DATE] > '2/16/2012'
 SELECT AVG([TOTAL FAT]) AS RUNNING  FROM [1314HOWE].[TOTAL_FAT_6_MONTH_PROJECTION] PAST  WHERE PAST.[DATE] < '01/17/2014'
17/28

 SELECT * FROM [532].[TABLE_SCHOOLS.CSV] WHERE FACEBOOK != 'NULL'
 SELECT * FROM [532].[TABLE_SCHOOLS.CSV] WHERE FACEBOOK = 'NULL'
 SELECT * FROM [532].[TABLE_SCHOOLS.CSV] WHERE FACEBOOK != NULL
 SELECT * FROM [532].[TABLE_SCHOOLS.CSV] WHERE FACEBOOK = NULL
4/9
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.[CLOSING DATE] = '15-SEP-01';
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.[CLOSING DATE] = '11-SEP-09';
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.CITY = 'SAN DIEGO';
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.[CLOSING DATE] = '20-SEP-01';
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.[CLOSING DATE] = '12-SEP-01';
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.[CLOSING DATE] = '14-SEP-01';
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.[CLOSING DATE] = '17-SEP-01';
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.[CLOSING DATE] = '19-SEP-01';
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.[CLOSING DATE] = '22-SEP-01';
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.CITY = 'PORTLAND';
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.[CLOSING DATE] = '11-SEP-08';
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.ST = 'OR' AND DATA.[ACQUIRING INSTITUTION] = 'HOME FEDERAL BANK';
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.ST = 'CA' AND DATA.[ACQUIRING INSTITUTION] = 'NO ACQUIRER';
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.ST = 'CA';
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.[CLOSING DATE] = '16-SEP-01';
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.[CLOSING DATE] = '11-SEP-01';
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.[CLOSING DATE] = '21-SEP-01';
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.ST = 'OR';
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.[CLOSING DATE] = '13-SEP-01';
 SELECT * FROM [776].[BANKLIST.CSV] DATA WHERE DATA.[CLOSING DATE] = '18-SEP-01';
20/22
 SELECT * FROM [HITS-WITH-IDS-SMALL.CSV] H INNER JOIN [SAMPLES.CSV] S ON H.SAMPLE_ID = S.SAMPLE_ID WHERE S.SIZE_FRACTION = 0.2
 SELECT * FROM [HITS-WITH-IDS-SMALL.CSV] H INNER JOIN [SAMPLES.CSV] S ON H.SAMPLE_ID = S.SAMPLE_ID WHERE S.SIZE_FRACTION = 2
2/6
 SELECT * FROM [M8S-WITH-IDS.CSV] WHERE SAMPLE_ID = 5;
 SELECT * FROM [M8S-WITH-IDS.CSV] WHERE SAMPLE_ID = 3;
 SELECT * FROM [M8S-WITH-IDS.CSV] WHERE SAMPLE_ID = 1;
3/4
 SELECT * FROM [HITS_WITH_SAMPLE_IDS_MIDDLE4.CSV] H WHERE H.READ_ID = 'HWI-ST1384:264:H7HWBADXX:1:1112:6291:35328:GTGAAA'
 SELECT * FROM [HITS_WITH_SAMPLE_IDS_MIDDLE4.CSV] H WHERE H.READ_ID = 'HWI-ST1384:264:H7HWBADXX:2:2201:11761:62774:TTAGGC'
 SELECT * FROM [HITS_WITH_SAMPLE_IDS_MIDDLE4.CSV] H WHERE H.READ_ID = 'HWI-ST1384:264:H7HWBADXX:2:2201:11761:62774'
 SELECT * FROM [HITS_WITH_SAMPLE_IDS_MIDDLE4.CSV] H WHERE H.READ_ID = 'HWI-ST1384:264:H7HWBADXX:1:1112:5816:35467:GTGAAA'
4/4
 SELECT  MIN([TIME]) AS [TIME],  AVG(ATTENUATION) AS ATTENUATION,  COUNT(CASE WHEN ATTENUATION < 0.019 THEN 1 END) AS FILTEREDCOUNT,  COUNT(CASE WHEN ATTENUATION >= 0.019 THEN 1 END) AS WHOLECOUNT  FROM  [1059].[CSTAR_VIEW]  WHERE  [TIME] >= '2015-03-22 00:00:00 AM'   GROUP BY   DATEPART(YEAR, [TIME]),  DATEPART(MONTH, [TIME]),  DATEPART(DAY, [TIME]),  DATEPART(HOUR, [TIME]),  (DATEPART(MINUTE, [TIME]) / 3)   ORDER BY   MIN([TIME]) DESC
 SELECT  MIN([TIME]) AS [TIME],  AVG(ATTENUATION) AS ATTENUATION,  COUNT(CASE WHEN ATTENUATION < 0.019 THEN 1 END) AS FILTEREDCOUNT,  COUNT(CASE WHEN ATTENUATION >= 0.019 THEN 1 END) AS WHOLECOUNT  FROM  [1059].[CSTAR_VIEW]  WHERE  [TIME] >= '2015-03-22 00:00:00 AM'   GROUP BY   DATEPART(YEAR, [TIME]),  DATEPART(MONTH, [TIME]),  DATEPART(DAY, [TIME]),  DATEPART(HOUR, [TIME]),  (DATEPART(MINUTE, [TIME]) / 3)   ORDER BY   MIN([TIME]) ASC
 SELECT  MIN([TIME]) AS [TIME],  AVG(ATTENUATION) AS ATTENUATION,  COUNT(CASE WHEN ATTENUATION < 0.019 THEN 1 END) AS FILTEREDCOUNT,  COUNT(CASE WHEN ATTENUATION >= 0.019 THEN 1 END) AS WHOLECOUNT  FROM  [1059].[CSTAR_VIEW]  WHERE  [TIME] >= '2015-03-22 03:00:00 AM'   GROUP BY   DATEPART(YEAR, [TIME]),  DATEPART(MONTH, [TIME]),  DATEPART(DAY, [TIME]),  DATEPART(HOUR, [TIME]),  (DATEPART(MINUTE, [TIME]) / 3)   ORDER BY   MIN([TIME]) ASC
3/24
 SELECT * FROM [1059].[SEAFLOW: 3 MINUTE ATTENUATION] WHERE [TIME] > '2015-03-22 16:57:00'  ORDER BY  [TIME] ASC
 SELECT * FROM [1059].[SEAFLOW: 3 MINUTE ATTENUATION] WHERE [TIME] > '2015-03-22 16:58:00'  ORDER BY  [TIME] ASC
 SELECT * FROM [1059].[SEAFLOW: 3 MINUTE ATTENUATION] WHERE [TIME] > '2015-03-22 16:57:00 PM'  ORDER BY  [TIME] ASC
 SELECT * FROM [1059].[SEAFLOW: 3 MINUTE ATTENUATION] WHERE [TIME] > '2015-03-22T16:57:01.000Z'  ORDER BY  [TIME] ASC
 SELECT * FROM [SEAFLOW: 3 MINUTE ATTENUATION] WHERE [TIME] > '2015-03-23'  ORDER BY  [TIME] ASC
 SELECT * FROM [1059].[SEAFLOW: 3 MINUTE ATTENUATION] WHERE [TIME] > '2015-03-22 16:56:00'  ORDER BY  [TIME] ASC
 SELECT * FROM [1059].[SEAFLOW: 3 MINUTE ATTENUATION] WHERE [TIME] > '2015-03-22 16:57:01'  ORDER BY  [TIME] ASC
 SELECT * FROM [1059].[SEAFLOW: 3 MINUTE ATTENUATION] WHERE [TIME] > '2015-03-22T16:57:00.000Z'  ORDER BY  [TIME] ASC
8/17
 SELECT CAST([TIME] AS DATETIME) AS [TIME], ATTENUATION  FROM [277].[CSTAR3MIN.CSV]  WHERE ATTENUATION > 0.08   ORDER BY  [TIME] ASC
 SELECT CAST([TIME] AS DATETIME) AS [TIME], ATTENUATION  FROM [277].[CSTAR3MIN.CSV]  WHERE ATTENUATION > 0.07   ORDER BY  [TIME] ASC
 SELECT CAST([TIME] AS DATETIME) AS [TIME], ATTENUATION  FROM [277].[CSTAR3MIN.CSV]  WHERE ATTENUATION > 0.06   ORDER BY  [TIME] ASC
 SELECT CAST([TIME] AS DATETIME) AS [TIME], ATTENUATION  FROM [277].[CSTAR3MIN.CSV]  WHERE ATTENUATION > 0.6   ORDER BY  [TIME] ASC
4/9
 SELECT * FROM [SEAFLOW SFL DATA] WHERE [TIME] > '2015-07-27T23:23:00'  ORDER BY  [TIME]
 SELECT * FROM [SEAFLOW SFL DATA] WHERE [TIME] > '2015-07-25T06:10:00'
2/5
 SELECT FIRSTLINE  FROM [521].[TABLE_FIRST_LINE.CSV]  WHERE FIRSTLINE LIKE 'BEFORE'
 SELECT FIRSTLINE  FROM [521].[TABLE_FIRST_LINE.CSV]  WHERE FIRSTLINE='BEFORE THE ICE IS IN THE POOLS'
 SELECT FIRSTLINE  FROM [521].[TABLE_FIRST_LINE.CSV]  WHERE FIRSTLINE LIKE 'BEFORE I'
 SELECT FIRSTLINE  FROM [521].[TABLE_FIRST_LINE.CSV]  WHERE FIRSTLINE='BEFORE'
4/6
 SELECT FIRSTLINE  FROM [521].[FIRST LINE 1.CSV]  WHERE FIRSTLINE LIKE 'DEATH%'
 SELECT *  FROM [521].[FIRST LINE 1.CSV]  WHERE FIRSTLINE LIKE 'B%'
 SELECT FIRSTLINE  FROM [521].[FIRST LINE 1.CSV]  WHERE FIRSTLINE LIKE 'B%'
 SELECT FIRSTLINE  FROM [521].[FIRST LINE 1.CSV]  WHERE FIRSTLINE LIKE 'A%'
 SELECT FIRSTLINE  FROM [521].[FIRST LINE 1.CSV]  WHERE FIRSTLINE LIKE '%A%'
 SELECT FIRSTLINE  FROM [521].[FIRST LINE 1.CSV]  WHERE FIRSTLINE LIKE 'BE%'
 SELECT FIRSTLINE  FROM [521].[FIRST LINE 1.CSV]  WHERE FIRSTLINE LIKE 'DEATH'
7/7
 SELECT FIRSTLINE  FROM [521].[TABLE_FIRSTLINEPOETTITLE2.CSV]  WHERE FIRSTLINE LIKE 'A%'
 SELECT FIRSTLINE  FROM [521].[TABLE_FIRSTLINEPOETTITLE2.CSV]  WHERE FIRSTLINE LIKE 'I%'  AND POET='CHARLOTTE BRONTE'
 SELECT FIRSTLINE  FROM [521].[TABLE_FIRSTLINEPOETTITLE2.CSV]  WHERE FIRSTLINE LIKE '%AND%'
 SELECT FIRSTLINE  FROM [521].[TABLE_FIRSTLINEPOETTITLE2.CSV]  WHERE FIRSTLINE LIKE 'I%'  AND POET='LORD%'
 SELECT FIRSTLINE  FROM [521].[TABLE_FIRSTLINEPOETTITLE2.CSV]  WHERE FIRSTLINE LIKE 'A%'  AND POET='EMILY DICKINSON'
 SELECT FIRSTLINE  FROM [521].[TABLE_FIRSTLINEPOETTITLE2.CSV]  WHERE FIRSTLINE LIKE 'B%'  AND POET='EMILY DICKINSON'
 SELECT FIRSTLINE  FROM [521].[TABLE_FIRSTLINEPOETTITLE2.CSV]  WHERE FIRSTLINE LIKE 'B%'  AND POET='WILLIAM BUTLER YEATS'
 SELECT FIRSTLINE  FROM [521].[TABLE_FIRSTLINEPOETTITLE2.CSV]  WHERE FIRSTLINE LIKE 'I%'
 SELECT FIRSTLINE  FROM [521].[TABLE_FIRSTLINEPOETTITLE2.CSV]  WHERE FIRSTLINE LIKE 'I%'  AND POET='EMILY DICKINSON'
 SELECT FIRSTLINE  FROM [521].[TABLE_FIRSTLINEPOETTITLE2.CSV]  WHERE FIRSTLINE LIKE 'I%'  AND POET='EMILY BRONTE'
 SELECT FIRSTLINE  FROM [521].[TABLE_FIRSTLINEPOETTITLE2.CSV]  WHERE FIRSTLINE LIKE '%CELL%'
 SELECT FIRSTLINE  FROM [521].[TABLE_FIRSTLINEPOETTITLE2.CSV]  WHERE FIRSTLINE LIKE '%I%'
12/13
 SELECT *  FROM [521].[FIRSTLINEPOETTITLE2.CSV]  WHERE TITLE LIKE '%THE%'
 SELECT *  FROM [521].[FIRSTLINEPOETTITLE2.CSV]  WHERE TITLE LIKE 'THE%'
2/9
 SELECT *  FROM [521].[C25K.CSV]  WHERE [CALORIES BURNED]>200   ORDER BY  [RUN PACE]
 SELECT *  FROM [521].[C25K.CSV]  WHERE [CALORIES BURNED]>250   ORDER BY  [DATE]
 SELECT *  FROM [521].[C25K.CSV]  WHERE [CALORIES BURNED]>200   ORDER BY  [WALK PACE]
 SELECT *  FROM [521].[C25K.CSV]  WHERE [CALORIES BURNED]>250   ORDER BY  [DISTANCE]
 SELECT *  FROM [521].[C25K.CSV]  WHERE [CALORIES BURNED]>200   ORDER BY  [WEEK]
 SELECT * FROM [521].[C25K.CSV]  WHERE [CALORIES BURNED] > 250
 SELECT *  FROM [521].[C25K.CSV]  WHERE [CALORIES BURNED]>200   ORDER BY  [DISTANCE]
7/12

 SELECT *  FROM [1143].TBL_ORGANIZER  WHERE CONF_ID NOT IN (SELECT CONF_ID FROM [1143].TBL_CONFERENCE);
 SELECT *  FROM [1143].TBL_ORGANIZER  WHERE FULLNAME NOT IN (SELECT FULLNAME FROM [1143].TBL_PERSON);
 SELECT *  FROM TBL_ORGANIZER  WHERE CONF_ID NOT IN (SELECT CONF_ID FROM TBL_CONFERENCE);
 SELECT DISTINCT FULLNAME  FROM [1143].TBL_ORGANIZER  WHERE FULLNAME NOT IN (SELECT FULLNAME FROM [1143].TBL_PERSON);
 SELECT *  FROM [1143].TBL_ORGANIZER  WHERE ORGANIZER_TYPE NOT IN (SELECT ORGANIZER_TYPE FROM [1143].TBL_ORGANIZER_TYPE);
 SELECT *  FROM TBL_ORGANIZER  WHERE ORGANIZER_TYPE NOT IN (SELECT ORGANIZER_TYPE FROM TBL_ORGANIZER_TYPE);
 SELECT *  FROM TBL_ORGANIZER  WHERE FULLNAME NOT IN (SELECT FULLNAME FROM TBL_PERSON);
7/26
 SELECT * FROM TBL_PERSON WHERE FULLNAME LIKE '%HALEVY%'
 SELECT *  FROM TBL_PERSON  WHERE FULLNAME LIKE '%CAREY%'
2/4
 SELECT A.FULLNAME, COUNT(*) AS TOTALPUBS  FROM AUTHOR A, AUTHORED B, INPROCEEDINGS P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID AND P.BOOKTITLE = 'ICDE'   GROUP BY  A.FULLNAME   ORDER BY  COUNT(*) DESC;
 SELECT A.FULLNAME, COUNT(*) AS TOTALPUBS  FROM AUTHOR A, AUTHORED B, INPROCEEDINGS P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID AND P.BOOKTITLE = 'VLDB'   GROUP BY  A.FULLNAME   ORDER BY  COUNT(*) DESC;
 SELECT A.FULLNAME, COUNT(*) AS TOTALPUBS  FROM AUTHOR A, AUTHORED B, INPROCEEDINGS P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID AND P.BOOKTITLE = 'SIGMOD CONFERENCE'   GROUP BY  A.FULLNAME   ORDER BY  COUNT(*) DESC;
 SELECT A.FULLNAME, COUNT(*) AS TOTALPUBS  FROM AUTHOR A, AUTHORED B, INPROCEEDINGS P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID AND P.BOOKTITLE = 'ICDT'   GROUP BY  A.FULLNAME   ORDER BY  COUNT(*) DESC;
 SELECT A.FULLNAME, COUNT(*) AS TOTALPUBS  FROM AUTHOR A, AUTHORED B, INPROCEEDINGS P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID AND P.BOOKTITLE = 'PODS'   GROUP BY  A.FULLNAME   ORDER BY  COUNT(*) DESC;
5/7
 SELECT TOP 10 A.FULLNAME, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID  AND P.BOOKTITLE='UBICOMP'   GROUP BY  A.FULLNAME   ORDER BY  C DESC;
 SELECT TOP 10 A.FULLNAME, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID  AND P.BOOKTITLE='ACM DEV'   GROUP BY  A.FULLNAME   ORDER BY  C DESC;
 SELECT TOP 10 A.FULLNAME, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID  AND P.BOOKTITLE='SIGCOMM'   GROUP BY  A.FULLNAME   ORDER BY  C DESC;
 SELECT TOP 10 A.FULLNAME, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID  AND P.BOOKTITLE='ICTD'   GROUP BY  A.FULLNAME   ORDER BY  C DESC;
 SELECT TOP 10 A.FULLNAME, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID  AND P.BOOKTITLE='DAC'   GROUP BY  A.FULLNAME   ORDER BY  C DESC;
 SELECT TOP 10 A.FULLNAME, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID  AND P.BOOKTITLE='DEV'   GROUP BY  A.FULLNAME   ORDER BY  C DESC;
 SELECT TOP 10 A.FULLNAME, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID  AND P.BOOKTITLE='ACMDEV'   GROUP BY  A.FULLNAME   ORDER BY  C DESC;
 SELECT TOP 10 A.FULLNAME, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID  AND P.BOOKTITLE='SIGGRAPH'   GROUP BY  A.FULLNAME   ORDER BY  C DESC;
 SELECT TOP 50 A.FULLNAME, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID  AND P.BOOKTITLE='UBICOMP'   GROUP BY  A.FULLNAME   ORDER BY  C DESC;
 SELECT TOP 30 A.FULLNAME, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID AND BOOKTITLE='SOSP'   GROUP BY  A.FULLNAME   ORDER BY  C DESC;
 SELECT TOP 10 A.FULLNAME, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID  AND P.BOOKTITLE='ICCAD'   GROUP BY  A.FULLNAME   ORDER BY  C DESC;
 SELECT TOP 30 A.FULLNAME, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID AND BOOKTITLE='NSDI'   GROUP BY  A.FULLNAME   ORDER BY  C DESC;
 SELECT TOP 10 A.FULLNAME, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID  AND P.BOOKTITLE='WMCSA'   GROUP BY  A.FULLNAME   ORDER BY  C DESC;
 SELECT TOP 10 P.BOOKTITLE, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID  AND A.FULLNAME = 'FRDO DURAND'   GROUP BY  P.BOOKTITLE   ORDER BY  C DESC;
 SELECT TOP 10 P.BOOKTITLE, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID  AND A.FULLNAME = 'FREDO DURAND'   GROUP BY  P.BOOKTITLE   ORDER BY  C DESC;
 SELECT TOP 10 A.FULLNAME, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID  AND P.BOOKTITLE='PERVASIVE'   GROUP BY  A.FULLNAME   ORDER BY  C DESC;
 SELECT P.BOOKTITLE, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID  AND A.FULLNAME = 'FRDO DURAND'   GROUP BY  P.BOOKTITLE   ORDER BY  C DESC;
 SELECT TOP 10 A.FULLNAME, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID  AND P.BOOKTITLE='HOTMOBILE'   GROUP BY  A.FULLNAME   ORDER BY  C DESC;
 SELECT TOP 30 A.FULLNAME, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID  AND P.BOOKTITLE='SOSP'   GROUP BY  A.FULLNAME   ORDER BY  C DESC;
 SELECT TOP 20 A.FULLNAME, COUNT(*) AS C  FROM  [1143].[AUTHOR] A,  [1143].[AUTHORED] B,  [1143].[INPROCEEDINGS] P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID  AND P.BOOKTITLE='UBICOMP'   GROUP BY  A.FULLNAME   ORDER BY  C DESC;
20/21
 SELECT DISTINCT JOURNAL FROM ARTICLE  WHERE JOURNAL IN ('PVLDB', 'VLDB J.')
 SELECT DISTINCT JOURNAL FROM ARTICLE  WHERE JOURNAL IN ('PVLDB', 'VLDB J.','ACM TRANS. DATABASE SYST.','IEEE DATABASE ENG. BULL.')
 SELECT DISTINCT JOURNAL FROM ARTICLE  WHERE JOURNAL LIKE '%TODS%'
 SELECT DISTINCT JOURNAL FROM ARTICLE  WHERE JOURNAL LIKE '%DATABASE%'
4/9
 SELECT A.FULLNAME, COUNT(*) AS TOTALPUBS  FROM [1143].AUTHOR A, [1143].AUTHORED B, [1143].INPROCEEDINGS P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID AND P.BOOKTITLE IN ('SIGMOD CONFERENCE','VLDB','ICDE','PODS')   GROUP BY  A.FULLNAME   ORDER BY  COUNT(*) DESC;
 SELECT A.FULLNAME, COUNT(*) AS TOTALPUBS  FROM [1143].AUTHOR A, [1143].AUTHORED B, [1143].INPROCEEDINGS P  WHERE A.FULLNAME = B.FULLNAME AND B.PUBID = P.ID AND P.BOOKTITLE IN ('SIGMOD CONFERENCE','VLDB','ICDE','PODS','ICDT')   GROUP BY  A.FULLNAME   ORDER BY  COUNT(*) DESC;
2/3
 SELECT A.FULLNAME, COUNT(*) AS TOTALPUBS  FROM [1143].AUTHOR A,  [1143].AUTHORED B,  [1143].INPROCEEDINGS P  WHERE A.FULLNAME = B.FULLNAME  AND B.PUBID = P.ID  AND P.BOOKTITLE IN ('SIGMOD CONFERENCE','VLDB','ICDE','PODS','ICDT')  AND A.FULLNAME NOT IN  (SELECT FULLNAME  FROM [1143].TBL_CONFERENCE X, [1143].TBL_ORGANIZER Y  WHERE X.CONF_ID = Y.CONF_ID AND X.YEAR >=2000)   GROUP BY  A.FULLNAME   ORDER BY  COUNT(*) DESC;
 SELECT A.FULLNAME, COUNT(*) AS TOTALPUBS  FROM [1143].AUTHOR A,  [1143].AUTHORED B,  [1143].INPROCEEDINGS P  WHERE A.FULLNAME = B.FULLNAME  AND B.PUBID = P.ID  AND P.BOOKTITLE IN ('VLDB')  AND A.FULLNAME NOT IN  (SELECT FULLNAME  FROM [1143].TBL_CONFERENCE X, [1143].TBL_ORGANIZER Y  WHERE X.CONF_ID = Y.CONF_ID AND X.YEAR >=2000)   GROUP BY  A.FULLNAME   ORDER BY  COUNT(*) DESC;
2/2
 SELECT X,Y,Z FROM [1267].[TABLE_1A17_3.CSV] WHERE RES_SURFACE_AREA_RATIO > 0.4
 SELECT X,Y,Z,RES_SURFACE_AREA_RATIO FROM [1267].[TABLE_1A17_3.CSV] WHERE RES_SURFACE_AREA_RATIO > 0.4
 SELECT X,Y,Z,RES_SURFACE_AREA_RATIO FROM [1267].[TABLE_1A17_3.CSV] WHERE RES_SURFACE_AREA_RATIO > 0.2
3/4

 SELECT * FROM [1267].[TABLE_CPH1_2.CSV] WHERE RES_TYPE='LYS'
 SELECT * FROM [1267].[TABLE_CPH1_2.CSV] WHERE RES_TYPE='ALA'
2/15
 SELECT ONE.RES_TYPE, TWO.RES_TYPE FROM [1267].[H1_W_2.CSV] ONE, [1267].[H1_W_2.CSV] TWO WHERE ONE.PDB_ID = TWO.PDB_ID   AND ONE.CHAIN = TWO.CHAIN   AND ONE.RES_INDEX = TWO.RES_INDEX + 1   AND TWO.RES_SURFACE_AREA_RATIO > 0.4   AND ONE.RES_SURFACE_AREA_RATIO > 0.4
 SELECT ONE.RES_TYPE, TWO.RES_TYPE  FROM [1267].[H1_W_2.CSV] ONE, [1267].[H1_W_2.CSV] TWO  WHERE ONE.PDB_ID = TWO.PDB_ID  AND ONE.CHAIN = TWO.CHAIN  AND ONE.RES_INDEX = TWO.RES_INDEX + 1  AND TWO.RES_SURFACE_AREA_RATIO > 0.3  AND ONE.RES_SURFACE_AREA_RATIO > 0.3
 SELECT COUNT(*)  FROM [1267].[H1_W_2.CSV] ONE, [1267].[H1_W_2.CSV] TWO  WHERE ONE.PDB_ID = TWO.PDB_ID  AND ONE.CHAIN = TWO.CHAIN  AND ONE.RES_INDEX = TWO.RES_INDEX + 1  AND TWO.RES_SURFACE_AREA_RATIO > 0.3  AND ONE.RES_SURFACE_AREA_RATIO > 0.3
3/5
 SELECT ONE.RES_TYPE, TWO.RES_TYPE FROM [1267].[EH1_2.CSV] ONE, [1267].[EH1_2.CSV] TWO WHERE ONE.PDB_ID = TWO.PDB_ID   AND ONE.CHAIN = TWO.CHAIN   AND ONE.RES_INDEX = TWO.RES_INDEX + 1   AND TWO.RES_SURFACE_AREA_RATIO > 0.3   AND ONE.RES_SURFACE_AREA_RATIO > 0.3
 SELECT ONE.RES_TYPE, TWO.RES_TYPE FROM [1267].[EH1_2.CSV] ONE, [1267].[EH1_2.CSV] TWO WHERE ONE.PDB_ID = TWO.PDB_ID   AND ONE.CHAIN = TWO.CHAIN   AND ONE.RES_INDEX = TWO.RES_INDEX + 1   AND TWO.RES_SURFACE_AREA_RATIO > 0.4   AND ONE.RES_SURFACE_AREA_RATIO > 0.4
 SELECT ONE.RES_TYPE, TWO.RES_TYPE FROM [1267].[EH1_2.CSV] ONE, [1267].[EH1_2.CSV] TWO WHERE ONE.PDB_ID = TWO.PDB_ID   AND ONE.CHAIN = TWO.CHAIN   AND ONE.RES_INDEX = TWO.RES_INDEX + 1  AND TWO.RES_SURFACE_AREA_RATIO > 0.3   AND ONE.RES_SURFACE_AREA_RATIO > 0.3
3/3
 SELECT PDB_ID FROM [1259].[ECOLI_1.CSV] WHERE PDB_ID = '1B5T'
 SELECT PDB_ID FROM [1259].[ECOLI_1.CSV] WHERE PDB_ID = '1GVF'
2/10
 SELECT RES_TYPE_SH, PDB_ID, RES_INDEX AS K FROM [1267].[H2_W_2.CSV] WHERE RES_TYPE_SH ='K';  SELECT RES_TYPE_SH, PDB_ID, RES_INDEX AS R FROM [1267].[H2_W_2.CSV] WHERE RES_TYPE_SH ='R';
 SELECT * FROM [1267].[H2_W_2.CSV] RESIDUES WHERE RESIDUES.PDB_ID IS NOT NULL AND RESIDUES.PDB_ID = '3JYR'
 SELECT * FROM [1267].[H2_W_2.CSV] RESIDUES WHERE RESIDUES.PDB_ID IS NOT NULL AND RESIDUES.PDB_ID = '1A12'
 SELECT RES_TYPE_SH, PDB_ID, RES_INDEX AS K FROM [1267].[H2_W_2.CSV] WHERE RES_TYPE_SH ='K';  SELECT RES_TYPE_SH, PDB_ID, RES_INDEX AS R FROM [1267].[H2_W_2.CSV] WHERE RES_TYPE_SH ='R';  SELECT * FROM K, R WHERE K.RES_INDEX = R.RES_INDEX-1;
 SELECT * FROM [1267].[H2_W_2.CSV] RESIDUES WHERE RESIDUES.PDB_ID IS NOT NULL AND RESIDUES.PDB_ID = '3JRY'
 SELECT RES_TYPE_SH, PDB_ID, RES_INDEX AS F FROM [1267].[H2_W_2.CSV] WHERE RES_TYPE_SH ='F';  SELECT RES_TYPE_SH, PDB_ID, RES_INDEX AS K FROM [1267].[H2_W_2.CSV] WHERE RES_TYPE_SH ='K';  SELECT * FROM K, F WHERE K.RES_INDEX = F.RES_INDEX-1;
 SELECT RES_TYPE_SH, PDB_ID, RES_INDEX AS R FROM [1267].[H2_W_2.CSV] WHERE RES_TYPE_SH ='R';  SELECT RES_TYPE_SH, PDB_ID, RES_INDEX AS K FROM [1267].[H2_W_2.CSV] WHERE RES_TYPE_SH ='K';  SELECT * FROM K, R WHERE K.RES_INDEX = R.RES_INDEX-1;
7/28
 SELECT * FROM [1267].[CPH2_W_1.CSV] WHERE GLU / RES_NUM > 0.1
 SELECT * FROM [1267].[CPH2_W_1.CSV] WHERE GLU / RES_NUM > 100
 SELECT * FROM [1267].[CPH2_W_1.CSV] WHERE GLU / RES_NUM > 0
3/8
 SELECT * FROM [1267].[H2_W_1.CSV] WHERE GAPS=0 AND PDB_ID='3GHG"'
 SELECT * FROM [1267].[H2_W_1.CSV] WHERE GAPS=0 AND PDB_ID='3GHG'
2/5
 SELECT ONE.PDB_ID, ONE.RES_TYPE, TWO.RES_TYPE  FROM [1267].[H2_W_2.CSV] ONE, [1267].[H2_W_2.CSV] TWO  WHERE ONE.PDB_ID = TWO.PDB_ID   AND ONE.CHAIN = TWO.CHAIN  AND ONE.RES_INDEX = TWO.RES_INDEX + 1  AND ONE.RES_TYPE='ALA' AND TWO.RES_TYPE='ALA'
 SELECT ONE.PDB_ID, ONE.RES_INDEX, TWO.RES_INDEX, ONE.PHI, ONE.PSI  FROM [1267].[H2_W_2.CSV] ONE, [1267].[H2_W_2.CSV] TWO  WHERE ONE.PDB_ID = TWO.PDB_ID   AND ONE.CHAIN = TWO.CHAIN  AND ONE.RES_INDEX = TWO.RES_INDEX + 1  AND ONE.RES_TYPE='ALA' AND TWO.RES_TYPE='ALA'
 SELECT ONE.PDB_ID, ONE.RES_INDEX, TWO.RES_INDEX, ONE.PHI, ONE.PSI  FROM [1267].[H2_W_2.CSV] ONE, [1267].[H2_W_2.CSV] TWO  WHERE ONE.PDB_ID = TWO.PDB_ID  AND ONE.CHAIN = TWO.CHAIN  AND ONE.RES_INDEX = TWO.RES_INDEX + 1  AND ONE.RES_TYPE='ALA'  AND TWO.RES_TYPE='ALA'
 SELECT ONE.PDB_ID, ONE.RES_INDEX, TWO.RES_INDEX, ONE.PHI, ONE.PSI  FROM [1267].[H2_W_2.CSV] ONE, [1267].[H2_W_2.CSV] TWO  WHERE ONE.PDB_ID = TWO.PDB_ID  AND ONE.CHAIN = TWO.CHAIN  AND ONE.RES_INDEX = TWO.RES_INDEX - 1  AND ONE.RES_TYPE='ALA'  AND TWO.RES_TYPE='ALA'
 SELECT ONE.PDB_ID, ONE.RES_TYPE, TWO.RES_TYPE  FROM [1267].[H2_W_2.CSV] ONE, [1267].[H2_W_2.CSV] TWO  WHERE ONE.PDB_ID = TWO.PDB_ID   AND ONE.CHAIN = TWO.CHAIN  AND ONE.RES_INDEX = TWO.RES_INDEX + 1  AND ONE.RES_TYPE='A' AND TWO.RES_TYPE='A'
5/9
 SELECT * FROM [1123].[GILL_DONE_2]  WHERE PERCENT_METH >80  AND GIL >10  AND CG >10
 SELECT * FROM [1123].[GILL_DONE_2]  WHERE PERCENT_METH > 60  AND CG >10  AND CDSCOUNT = 10
 SELECT * FROM [1123].[GILL_DONE_2]  WHERE PERCENT_METH > 50  AND GIL >10  AND CG >10
 SELECT * FROM [1123].[GILL_DONE_2]  WHERE PERCENT_METH > 20  AND CG >10  AND CDSCOUNT = 10
 SELECT * FROM [1123].[GILL_DONE_2]  WHERE PERCENT_METH > 20  AND CG >10  AND CDSCOUNT = 4
5/14
 SELECT * FROM [412].[CDDANNOT.TXT]  WHERE [PSSM-ID] LIKE '236140'
 SELECT * FROM [412].[CDDANNOT.TXT]  WHERE [PSSM-ID] LIKE '221770'
 SELECT * FROM [412].[CDDANNOT.TXT]  WHERE [PSSM-ID] LIKE '233829'
 SELECT * FROM [412].[CDDANNOT.TXT]  WHERE [PSSM-ID] LIKE '88330'
4/6
 SELECT * FROM [412].[MOUSE BLAST WITH TREATMENTS]  WHERE OA LIKE '*'
 SELECT * FROM [412].[MOUSE BLAST WITH TREATMENTS]  WHERE OA LIKE '%'
2/4
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_1000000'
 SELECT * FROM  [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE DESCRIPTION = '%VITELLO%'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10006403'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID LIKE 'C%'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10006323'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10011969'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10004144  '
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10011518'
 SELECT *  FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE CGI_ID =  'CGI_10023379'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10004144'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID LIKE 'CGI_100004%'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE CGI_ID LIKE '27416'
 SELECT * FROM  [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE DESCRIPTION = 'ESTRO%'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10015357'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10004145'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10009035'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10008719'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID LIKE 'CGI_100004086%'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10015174'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10008718'
 SELECT * FROM  [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE DESCRIPTION = 'ACT%'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10008720'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE CGI_ID LIKE 'CGI_10027416'
 SELECT *  FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE CGI_ID =  'CGI_10011651'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10003515'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10004181'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID='CGI_10004806'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID LIKE 'CGI_10000408%'
 SELECT * FROM  [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE DESCRIPTION LIKE 'VITELL%'
 SELECT * FROM  [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE DESCRIPTION = 'ESTRO_'
 SELECT * FROM  [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE DESCRIPTION LIKE 'SUPER%'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10006040'
 SELECT * FROM  [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE DESCRIPTION = 'VITELLO%'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID LIKE 'CGI_10004086'
 SELECT *  FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE DESCRIPTION LIKE '%AMP-ACTIVATED%'
 SELECT * FROM  [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE DESCRIPTION = '%ESTRO%'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10013762'
 SELECT *  FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE DESCRIPTION LIKE '%MP-ACTIVATED%'
 SELECT * FROM  [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE DESCRIPTION LIKE 'ACT%'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10004146'
 SELECT *  FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE DESCRIPTION LIKE 'AMP-ACTIVATED%'
 SELECT * FROM  [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE DESCRIPTION = 'VITELLO_'
 SELECT *  FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE DESCRIPTION LIKE 'AMP-ACTIVATED'
 SELECT *  FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE DESCRIPTION LIKE 'AMP-ACTIVATED PROTEIN KINASE'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10003883'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10015360'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID = 'CGI_10000001'
 SELECT * FROM [1123].[QDOD CGIGAS GENE DESCRIPTIONS (SWISS-PROT)]  WHERE  CGI_ID='CGI_100004806'
48/61

 SELECT * FROM [412].[GEODUCK SPEC COUNTS WITH TOTAL SPC]  WHERE [TOTAL SPC]>1
 SELECT * FROM [412].[GEODUCK SPEC COUNTS WITH TOTAL SPC]  WHERE [TOTAL SPC]>0
2/2
 SELECT * FROM [412].[RPOM PEPTIDES AND PROTEINS]  WHERE PEPTIDE LIKE '%IPIATSVPR%'
 SELECT * FROM [412].[RPOM PEPTIDES AND PROTEINS]  WHERE PEPTIDE LIKE '%YPFLLVDK%'
2/4
 SELECT * FROM [1123].[AGGCO OYSTER BISULFITE MRNA AND CDS]  WHERE "SUM MRNA" > 100  AND "RATIO MCDS/MINTRON" > 3
 SELECT * FROM [1123].[AGGCO OYSTER BISULFITE MRNA AND CDS]  WHERE "SUM MRNA" > 100  AND "PERCENT MCPG (CDS)" > 90  AND "PERCENT MCPG (INTRON)" < 50
 SELECT * FROM [1123].[AGGCO OYSTER BISULFITE MRNA AND CDS] WHERE "SUM MRNA" > 2
 SELECT * FROM [1123].[AGGCO OYSTER BISULFITE MRNA AND CDS]  WHERE "SUM MRNA" > 100  AND "PERCENT MCPG (CDS)" > 90  AND "PERCENT MCPG (INTRON)" < 20
 SELECT * FROM [1123].[AGGCO OYSTER BISULFITE MRNA AND CDS] WHERE "SUM MRNA" > 100
 SELECT * FROM [1123].[AGGCO OYSTER BISULFITE MRNA AND CDS] WHERE "SUM MRNA" > 10
 SELECT * FROM [1123].[AGGCO OYSTER BISULFITE MRNA AND CDS]  WHERE "SUM MRNA" > 100  AND "RATIO MCDS/MINTRON" >2
7/12
 SELECT COLUMN2 FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 50  AND "PERCENT MCPG (MRNA)" < 80
 SELECT COLUMN4 FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 100  AND "PERCENT MCPG (CDS)" > 80  AND "PERCENT MCPG (INTRON)" < 20
 SELECT * FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 100  AND "PERCENT MCPG (CDS)" < 75  AND "PERCENT MCPG (INTRON)" > 25
 SELECT * FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 20  AND "PERCENT MCPG (INTRON)" > 80  AND "PERCENT MCPG (CDS)" < 20
 SELECT COLUMN2 FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 50  AND "PERCENT MCPG (MRNA)" > 80
 SELECT COLUMN4 FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 100  AND "PERCENT MCPG (MRNA)" > 90
 SELECT * FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 50  AND "PERCENT MCPG (MRNA)" > 80
 SELECT * FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 100  AND "PERCENT MCPG (INTRON)" > 80  AND "PERCENT MCPG (CDS)" < 20
 SELECT * FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 100  AND "PERCENT MCPG (MRNA)" > 80
 SELECT COLUMN2 FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 50  AND "PERCENT MCPG (MRNA)" < 20
 SELECT * FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 100  AND "PERCENT MCPG (INTRON)" > 70  AND "PERCENT MCPG (CDS)" < 30
 SELECT * FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 50  AND "PERCENT MCPG (MRNA)" < 20
 SELECT COLUMN2 FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 20  AND "PERCENT MCPG (INTRON)" > 80  AND "PERCENT MCPG (CDS)" < 20
 SELECT * FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 100  AND "PERCENT MCPG (CDS)" > 75  AND "PERCENT MCPG (INTRON)" < 25
 SELECT COLUMN2 FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 50  AND "PERCENT MCPG (CDS)" > 80  AND "PERCENT MCPG (INTRON)" < 20
 SELECT * FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 100  AND "PERCENT MCPG (MRNA)" > 90
 SELECT * FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 50  AND "PERCENT MCPG (CDS)" > 80  AND "PERCENT MCPG (INTRON)" < 20
 SELECT * FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 100  AND "PERCENT MCPG (CDS)" > 90  AND "PERCENT MCPG (INTRON)" < 20
 SELECT * FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 20  AND "PERCENT MCPG (INTRON)" > 70  AND "PERCENT MCPG (CDS)" < 30
 SELECT * FROM [1123].[BSOYSTERGENE]  WHERE "SUM MRNA" > 100  AND "PERCENT MCPG (CDS)" > 80  AND "PERCENT MCPG (INTRON)" < 20
20/32
 SELECT * FROM [1123].[BSOYSTERGENE_WMGOEXPRESSION]  WHERE "SUM MRNA" > 100  AND "MGO" > 20  AND "CDSCOUNT" > 30
 SELECT * FROM [1123].[BSOYSTERGENE_WMGOEXPRESSION]  WHERE "SUM MRNA" > 100  AND "MGO" > 20  AND "CDSCOUNT" > 50
 SELECT * FROM [1123].[BSOYSTERGENE_WMGOEXPRESSION]  WHERE "SUM MRNA" > 100  AND "PERCENT MCPG (CDS)" > 75  AND "PERCENT MCPG (INTRON)" < 25  AND "MGO" > .1
 SELECT * FROM [1123].[BSOYSTERGENE_WMGOEXPRESSION]  WHERE "SUM MRNA" > 100  AND "MGO" > 20  AND "CDSCOUNT" > 20  AND "RATIO MCDS/MINTRON" > 2
 SELECT * FROM [1123].[BSOYSTERGENE_WMGOEXPRESSION]  WHERE "SUM MRNA" > 100  AND "MGO" > 20  AND "RATIO MCDS/MINTRON" > 1.5
 SELECT * FROM [1123].[BSOYSTERGENE_WMGOEXPRESSION]  WHERE "SUM MRNA" > 100  AND "MGO" > 10  AND "PERCENT MCPG (MRNA)" < 20
 SELECT * FROM [1123].[BSOYSTERGENE_WMGOEXPRESSION]  WHERE "SUM MRNA" > 100  AND "MGO" > 5  AND "PERCENT MCPG (MRNA)" < 20
 SELECT * FROM [1123].[BSOYSTERGENE_WMGOEXPRESSION]  WHERE "SUM MRNA" > 100  AND "MGO" > 5  AND "PERCENT MCPG (CDS)" < 20
 SELECT * FROM [1123].[BSOYSTERGENE_WMGOEXPRESSION]  WHERE "SUM MRNA" > 100  AND "MGO" > 20
 SELECT * FROM [1123].[BSOYSTERGENE_WMGOEXPRESSION]  WHERE "SUM MRNA" > 100  AND "MGO" > 5  AND "PERCENT MCPG (CDS)" < 10
 SELECT * FROM [1123].[BSOYSTERGENE_WMGOEXPRESSION]  WHERE "SUM MRNA" > 100  AND "MGO" > .1
 SELECT * FROM [1123].[BSOYSTERGENE_WMGOEXPRESSION]  WHERE "SUM MRNA" > 100  AND "PERCENT MCPG (CDS)"> 75  AND "PERCENT MCPG (INTRON)" < 25  AND "MGO" > 10
 SELECT * FROM [1123].[BSOYSTERGENE_WMGOEXPRESSION]  WHERE "SUM MRNA" > 100  AND "MGO" > 10  AND "RATIO MCDS/MINTRON" > 1.5
 SELECT * FROM [1123].[BSOYSTERGENE_WMGOEXPRESSION]  WHERE "SUM MRNA" > 100  AND "MGO" > 20  AND "RATIO MCDS/MINTRON" > 2
 SELECT * FROM [1123].[BSOYSTERGENE_WMGOEXPRESSION]  WHERE "SUM MRNA" > 100  AND "PERCENT MCPG (CDS)" > 75  AND "PERCENT MCPG (INTRON)" < 25  AND "MGO" > 2
 SELECT * FROM [1123].[BSOYSTERGENE_WMGOEXPRESSION]  WHERE "SUM MRNA" > 100  AND "MGO" > 20  AND "CDSCOUNT" > 1  AND "RATIO MCDS/MINTRON" > 2
 SELECT * FROM [1123].[BSOYSTERGENE_WMGOEXPRESSION]  WHERE "SUM MRNA" > 100  AND "PERCENT MCPG (CDS)" > 75  AND "PERCENT MCPG (INTRON)" < 25  AND "MGO" > 10
17/19
 SELECT * FROM [1123].[TABLE_MGOTOPHAT_COVER_CDS_SPLIT_B]  WHERE "COLUMN10" > 20
 SELECT * FROM [1123].[TABLE_MGOTOPHAT_COVER_CDS_SPLIT_B]  WHERE "COLUMN10" > 10
2/8
 SELECT * FROM [1123].[TABLE_TJGR_MRNA_INTERSECT_MCPGOVSNP]  LEFT JOIN [1123].[TJGR_GENE_SPID_EVALUE_DESCRIPTION]  ON [1123].[TABLE_TJGR_MRNA_INTERSECT_MCPGOVSNP].COLUMN9=[1123].[TJGR_GENE_SPID_EVALUE_DESCRIPTION].COLUMN1  WHERE COLUMN10 > 1
 SELECT * FROM [1123].[TABLE_TJGR_MRNA_INTERSECT_MCPGOVSNP]  LEFT JOIN [1123].[TJGR_GENE_SPID_EVALUE_DESCRIPTION]  ON [1123].[TABLE_TJGR_MRNA_INTERSECT_MCPGOVSNP].COLUMN9=[1123].[TJGR_GENE_SPID_EVALUE_DESCRIPTION].COLUMN1  WHERE COLUMN10 > 10
2/4
 SELECT "PERCENT MCPG (MRNA)","PERCENT MCPG (CDS)","PERCENT MCPG (INTRON)",  SWISSPROT, "SUM MRNA"  FROM [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB]  LEFT JOIN [1123].[ZHANG_ETAL_SUPPTABLE14]  ON [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB].ID=[1123].[ZHANG_ETAL_SUPPTABLE14].GENEID  WHERE MGO > 100
 SELECT * FROM [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB]  LEFT JOIN [1123].[ZHANG_ETAL_SUPPTABLE14]  ON [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB].ID=[1123].[ZHANG_ETAL_SUPPTABLE14].GENEID  WHERE MGO > 100
 SELECT ID,"PERCENT MCPG (MRNA)","PERCENT MCPG (CDS)","PERCENT MCPG (INTRON)",  SWISSPROT, "SUM MRNA", MGO  FROM [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB]  LEFT JOIN [1123].[ZHANG_ETAL_SUPPTABLE14]  ON [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB].ID=[1123].[ZHANG_ETAL_SUPPTABLE14].GENEID  WHERE MGO > 0  AND "SUM MRNA" > 50
 SELECT "PERCENT MCPG (MRNA)","PERCENT MCPG (CDS)" FROM [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB]  LEFT JOIN [1123].[ZHANG_ETAL_SUPPTABLE14]  ON [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB].ID=[1123].[ZHANG_ETAL_SUPPTABLE14].GENEID  WHERE MGO > 100
 SELECT "PERCENT MCPG (MRNA)","PERCENT MCPG (CDS)","PERCENT MCPG (INTRON)",  SWISSPROT  FROM [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB]  LEFT JOIN [1123].[ZHANG_ETAL_SUPPTABLE14]  ON [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB].ID=[1123].[ZHANG_ETAL_SUPPTABLE14].GENEID  WHERE MGO > 100
 SELECT "PERCENT MCPG (MRNA)","PERCENT MCPG (CDS)","PERCENT MCPG (INTRON)" FROM [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB]  LEFT JOIN [1123].[ZHANG_ETAL_SUPPTABLE14]  ON [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB].ID=[1123].[ZHANG_ETAL_SUPPTABLE14].GENEID  WHERE MGO > 100
 SELECT ID,"RATIO MCDS/MINTRON","PERCENT MCPG (MRNA)","PERCENT MCPG (CDS)","PERCENT MCPG (INTRON)",  SWISSPROT, "SUM MRNA", MGO  FROM [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB]  LEFT JOIN [1123].[ZHANG_ETAL_SUPPTABLE14]  ON [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB].ID=[1123].[ZHANG_ETAL_SUPPTABLE14].GENEID  WHERE MGO > 0  AND "SUM MRNA" > 50
 SELECT ID,"PERCENT MCPG (MRNA)","PERCENT MCPG (CDS)","PERCENT MCPG (INTRON)",  SWISSPROT, "SUM MRNA"  FROM [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB]  LEFT JOIN [1123].[ZHANG_ETAL_SUPPTABLE14]  ON [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB].ID=[1123].[ZHANG_ETAL_SUPPTABLE14].GENEID  WHERE MGO > 0  AND "SUM MRNA" > 50
 SELECT "PERCENT MCPG (MRNA)","PERCENT MCPG (CDS)","PERCENT MCPG (INTRON)",  SWISSPROT, "SUM MRNA"  FROM [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB]  LEFT JOIN [1123].[ZHANG_ETAL_SUPPTABLE14]  ON [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB].ID=[1123].[ZHANG_ETAL_SUPPTABLE14].GENEID  WHERE MGO > 0
 SELECT "PERCENT MCPG (MRNA)","PERCENT MCPG (CDS)","PERCENT MCPG (INTRON)",  SWISSPROT, "SUM MRNA"  FROM [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB]  LEFT JOIN [1123].[ZHANG_ETAL_SUPPTABLE14]  ON [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB].ID=[1123].[ZHANG_ETAL_SUPPTABLE14].GENEID  WHERE MGO > 0  AND "SUM MRNA" > 50
 SELECT ID,"RATIO MCDS/MINTRON",CDSCOUNT,"PERCENT MCPG (MRNA)","PERCENT MCPG (CDS)","PERCENT MCPG (INTRON)",  SWISSPROT, "SUM MRNA", MGO  FROM [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB]  LEFT JOIN [1123].[ZHANG_ETAL_SUPPTABLE14]  ON [1123].[TABLE_AGGCO OYSTER BISULFITE MRNA AND CDS.TAB].ID=[1123].[ZHANG_ETAL_SUPPTABLE14].GENEID  WHERE MGO > 1  AND "SUM MRNA" > 50
11/16

 SELECT * FROM [1123].[TABLE_UNTITLED (4).TXT]  WHERE PERCENT_METH >1
 SELECT * FROM [1123].[TABLE_UNTITLED (4).TXT]  WHERE PERCENT_METH > 50
2/3
 SELECT * FROM [1123].[MGOTOPHAT_COVERAGE_CDS_SUMM_CV]  WHERE CV > 1
 SELECT * FROM [1123].[MGOTOPHAT_COVERAGE_CDS_SUMM_CV]  WHERE CV >10
2/3
 SELECT * FROM [1123].[QDOD_PROTEIN_SEQUENCES]  WHERE PROTEINSEQ LIKE '%BEYER%'
 SELECT * FROM [1123].[QDOD_PROTEIN_SEQUENCES]  WHERE PROTEINSEQ LIKE '%MAC%'
 SELECT * FROM [1123].[QDOD_PROTEIN_SEQUENCES] PRO  LEFT JOIN [1123].[QDOD_CGIGAS_GO_GOSLIM] CGSLIM  ON PRO.CGI_ID = CGSLIM.CGI_ID  WHERE PROTEINSEQ LIKE '%CLAIRE%'
 SELECT * FROM [1123].[QDOD_PROTEIN_SEQUENCES]  WHERE PROTEINSEQ LIKE '%MIR%'
 SELECT * FROM [1123].[QDOD_PROTEIN_SEQUENCES]  WHERE PROTEINSEQ LIKE '%CLAIRE%'
 SELECT * FROM [1123].[QDOD_PROTEIN_SEQUENCES] PRO  LEFT JOIN [1123].[QDOD_CGIGAS_GO_GOSLIM] CGSLIM  ON PRO.CGI_ID = CGSLIM.CGI_ID  WHERE PROTEINSEQ LIKE '%STEVEN%'
 SELECT * FROM [1123].[QDOD_PROTEIN_SEQUENCES]  WHERE PROTEINSEQ LIKE '%MACKENZIE%'
 SELECT * FROM [1123].[QDOD_PROTEIN_SEQUENCES]  WHERE PROTEINSEQ LIKE '%EMMA%'
 SELECT * FROM [1123].[QDOD_PROTEIN_SEQUENCES]  WHERE PROTEINSEQ LIKE '%STEVEN%'
9/9
 SELECT * FROM [1123].[QDOD_SCAFFOLD_SEQUENCE.TXT]  WHERE COLUMN1 = 'SCAFFOLD920'
 SELECT * FROM [1123].[QDOD_SCAFFOLD_SEQUENCE.TXT]  WHERE COLUMN1 = 'SCAFFOLD29146'
 SELECT * FROM [1123].[QDOD_SCAFFOLD_SEQUENCE.TXT]  WHERE COLUMN1 = 'SCAFFOLD500'
3/4
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%CGI_100006842%'
 SELECT  LEN(SEQUENCE_GG) FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%CGI_10000001%'
 SELECT COUNT(*)  FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%[_]%'
 SELECT COUNT(*)  FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%_%'
 SELECT TOP 5 *  FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%\_%' AND GID = 'CGI'
 SELECT *,LEN(SEQUENCE_GG) FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%CGI_10000001%'
 SELECT TOP 5 *  FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%_%' AND GID = 'CGI'
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%CGI_10000002%'
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%6842%'
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%42%'
 SELECT COUNT(*)  FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%_%' AND GID = 'CGI'
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%10000002%'
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%10006842'
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID = '%0006842%'
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE 'CGI_10006842'
 SELECT COUNT(*)  FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID = 'CGI'
 SELECT  LEN(SEQUENCE_GG) FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%CGI_10000087%'
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%CGI_10006842%'
 SELECT TOP 5 *  FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%\_%' --AND GID = 'CGI'
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%06842%'
 SELECT TOP 5 *  FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%[_]%' --AND GID = 'CGI'
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%842%'
 SELECT  LEN(SEQUENCE_GG) FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%CGI_10000060%'
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE 'CGI_10000001'
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID = 'CGI_10000088'
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID = 'CGI_10006842'
 SELECT  LEN(SEQUENCE_GG) FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%CGI_10000162%'
 SELECT  LEN(SEQUENCE_GG) FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%CGI_10000115%'
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID = '%10006842'
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%06842'
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%0006842%'
 SELECT  LEN(SEQUENCE_GG) FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%CGI_10000090%'
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%2%'
 SELECT COUNT(*)  FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE 'CGI_%'
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE 'CGI_10000088'
 SELECT * FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID = '%0006842'
 SELECT *,LEN(SEQUENCE_GG) FROM [1123].[TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE  '%CGI%'
37/50
 SELECT * FROM [1123].[METHRATIO WITH GO]  WHERE SEQUENCE_LENGTH LIKE '10'
 SELECT * FROM [1123].[METHRATIO WITH GO]  WHERE SEQUENCE_LENGTH LIKE ' '
 SELECT * FROM [1123].[METHRATIO WITH GO]  WHERE TERM LIKE '%STRESS%'
 SELECT * FROM [1123].[METHRATIO WITH GO]  WHERE TERM LIKE 'STRESS'
4/5
 SELECT COUNT(*)  FROM [1314HOWE].[CORRECTED_TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%[_]%'
 SELECT COUNT(*)  FROM [1314HOWE].[CORRECTED_TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%_%'
 SELECT * FROM [1314HOWE].[CORRECTED_TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%006842'
 SELECT *  FROM [1314HOWE].[CORRECTED_TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE '%006842'
 SELECT * FROM [1314HOWE].[CORRECTED_TJGR_GENOMIC_GENE.TXT]  WHERE GID LIKE 'CGI_10006842'
5/6
 SELECT * FROM [1123].[QDOD_ZHANG_GIL_GENE_RNA-SEQ]  WHERE [FEATURE ID] = 'CGI_10003231'
 SELECT * FROM [1123].[QDOD_ZHANG_GIL_GENE_RNA-SEQ]  WHERE [FEATURE ID] = 'CGI_10000009'
 SELECT * FROM [1123].[QDOD_ZHANG_GIL_GENE_RNA-SEQ]  WHERE [FEATURE ID] = 'CGI_10000009 '
3/7
 SELECT *  FROM [1123].[CLCVEXCEL_RUPHIRNASEQ]  WHERE "GO ENRICHMENT" LIKE $
 SELECT *  FROM [1123].[CLCVEXCEL_RUPHIRNASEQ]  WHERE "GO ENRICHMENT" LIKE '*'
2/2
 SELECT *  FROM [1123].[ROBERTSLAB_PRIMERDATABASE]  WHERE "DATE ORDERED" LIKE '_7'
 SELECT *  FROM [1123].[ROBERTSLAB_PRIMERDATABASE]  WHERE ORGANISM LIKE '_GIG_'
 SELECT *  FROM [1123].[ROBERTSLAB_PRIMERDATABASE]  WHERE ORGANISM LIKE '_RAT_'
 SELECT *  FROM [1123].[ROBERTSLAB_PRIMERDATABASE]  WHERE "DESIGNED BY" LIKE '%CHI%'
 SELECT *  FROM [1123].[ROBERTSLAB_PRIMERDATABASE]  WHERE ORGANISM LIKE '_OY_'
 SELECT *  FROM [1123].[ROBERTSLAB_PRIMERDATABASE]  WHERE "ORGANISM" LIKE 'C.GIGAS'
 SELECT *  FROM [1123].[ROBERTSLAB_PRIMERDATABASE]  WHERE "ORGANISM" LIKE '%GIGAS'
 SELECT *  FROM [1123].[ROBERTSLAB_PRIMERDATABASE]  WHERE "ORGANISM" LIKE 'HUMAN'
 SELECT *  FROM [1123].[ROBERTSLAB_PRIMERDATABASE]  WHERE "DESIGNED BY" LIKE 'BRAD%'
 SELECT *  FROM [1123].[ROBERTSLAB_PRIMERDATABASE]  WHERE ORGANISM LIKE '_PON_'
 SELECT *  FROM [1123].[ROBERTSLAB_PRIMERDATABASE]  WHERE ORGANISM LIKE 'GAS'
 SELECT *  FROM [1123].[ROBERTSLAB_PRIMERDATABASE]  WHERE "ORGANISM" LIKE 'MAN'
 SELECT *  FROM [1123].[ROBERTSLAB_PRIMERDATABASE]  WHERE ORGANISM LIKE '_.GIGAS_'
 SELECT *  FROM [1123].[ROBERTSLAB_PRIMERDATABASE]  WHERE ORGANISM LIKE 'RAT'
 SELECT *  FROM [1123].[ROBERTSLAB_PRIMERDATABASE]  WHERE "ORGANISM" LIKE '_GIGAS'
 SELECT *  FROM [1123].[ROBERTSLAB_PRIMERDATABASE]  WHERE "DATE ORDERED" LIKE '_2013'
16/19
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[CLEAN_BIGO_METHRATIO_V1]  WHERE  CONTEXT LIKE '__CT_' --MODIFIED RESPECTIVELY FOR  AND  CT_COUNT >= 5  AND RATIO = 0)  BETTY
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[CLEAN_BIGO_METHRATIO_V1]  WHERE  CONTEXT LIKE '__CC_' --MODIFIED RESPECTIVELY FOR  AND  CT_COUNT >= 5  AND RATIO = 0)  BETTY
 SELECT  CHR AS SEQNAME,  'METHRATIO' AS SOURCE,  'CPG' AS FEATURE,  POS AS START,  POS + 1 AS [END],  RATIO AS SCORE,  STRAND,  '.' AS FRAME,  '.' AS ATTRIBUTE  FROM [1123].  [CLEAN_BIGO_METHRATIO_V1] BETTY  WHERE  CONTEXT LIKE '__CG_' --_=SINGLE CHARACTER WILDCARD  AND  CT_COUNT >= 5  AND RATIO >= 0.500
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[CLEAN_BIGO_METHRATIO_V1]  WHERE  CONTEXT LIKE '__CA_' --MODIFIED RESPECTIVELY FOR  AND  CT_COUNT >= 5  AND RATIO >= 0.500)  BETTY
 SELECT COUNT (*)  FROM  (  SELECT  *  FROM [1123].  [CLEAN_BIGO_METHRATIO_V1]  WHERE  CONTEXT LIKE '__CG_' --MODIFIED RESPECTIVELY FOR  AND  CT_COUNT >= 5  AND RATIO >= 0.500) BETTY
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[CLEAN_BIGO_METHRATIO_V1]  WHERE  CONTEXT LIKE '__CA_' --MODIFIED RESPECTIVELY FOR  AND  CT_COUNT >= 5  AND RATIO = 0)  BETTY
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[CLEAN_BIGO_METHRATIO_V1]  WHERE  CONTEXT LIKE '__CT_' --MODIFIED RESPECTIVELY FOR  AND  CT_COUNT >= 5  AND RATIO >= 0.500)  BETTY
 SELECT  CHR AS SEQNAME,  'METHRATIO' AS SOURCE,  'CPG' AS FEATURE,  POS AS START,  POS + 1 AS [END],  RATIO AS SCORE,  STRAND,  '.' AS FRAME,  '.' AS ATTRIBUTE  FROM [1123].[CLEAN_BIGO_METHRATIO_V1]  WHERE  CONTEXT LIKE '__CG_'  AND  CT_COUNT >= 5  AND  RATIO >= 0.5
 SELECT  CHR AS SEQNAME,  'METHRATIO' AS SOURCE,  'CPG' AS FEATURE,  POS AS START,  POS + 1 AS [END],  CAST(RATIO AS FLOAT) AS SCORE,  STRAND,  '.' AS FRAME,  '.' AS ATTRIBUTE  FROM [1123].  [CLEAN_BIGO_METHRATIO_V1] BETTY  WHERE  CONTEXT LIKE '__CG_' --_=SINGLE CHARACTER WILDCARD  AND  CT_COUNT >= 5  AND CAST(RATIO AS FLOAT) >= 0.500
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[CLEAN_BIGO_METHRATIO_V1]  WHERE  CONTEXT LIKE '__CC_' --MODIFIED RESPECTIVELY FOR  AND  CT_COUNT >= 5  AND RATIO >= 0.500)  BETTY
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[CLEAN_BIGO_METHRATIO_V1]  WHERE  CONTEXT LIKE '__CG_' --MODIFIED RESPECTIVELY FOR  AND  CT_COUNT >= 5  AND RATIO = 0)  BETTY
 SELECT * FROM [1123].[CLEAN_BIGO_METHRATIO_V1]  WHERE  CONTEXT LIKE '__CG_'  AND  CT_COUNT >= 5  AND RATIO >= 0.500
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[CLEAN_BIGO_METHRATIO_V1]  WHERE  CONTEXT LIKE '__CT_' --MODIFIED RESPECTIVELY FOR  AND  CT_COUNT >= 5  AND RATIO =0)  BETTY
 SELECT  CHR AS SEQNAME,  'METHRATIO' AS SOURCE,  'CPG' AS FEATURE,  POS AS START,  POS + 1 AS [END],  RATIO AS SCORE,  STRAND,  '.' AS FRAME,  '.' AS ATTRIBUTE  FROM [1123].  [CLEAN_BIGO_METHRATIO_V1] BETTY  WHERE  CONTEXT LIKE '__CG_' --_=SINGLE CHARACTER WILDCARD  AND  CT_COUNT >= 5  AND CAST(RATIO AS FLOAT) >= 0.500
14/18

 SELECT * FROM [1123].[LFT_BLACKABALONE_V3_GO]  WHERE TERM LIKE '%GLY%'
 SELECT * FROM [1123].[LFT_BLACKABALONE_V3_GO]  WHERE  TERM LIKE '%1341PL%'
2/9
 SELECT  ["CHROMOSOME"] AS SEQID,  ["CHROMOSOME REGION START"] AS START,  ["CHROMOSOME REGION END"] AS [END],  'EXON_EXP' AS FEATURE,  ["RPKM"] AS RPKM  FROM [1123].[BIGILL_RNASEQ_EXON]  WHERE ["CHROMOSOME"] LIKE 'SCAFFOLD1261'
 SELECT  ["CHROMOSOME"] AS SEQID,  ["CHROMOSOME REGION START"] AS START,  ["CHROMOSOME REGION END"] AS [END],  'EXON_EXP' AS FEATURE,  ["RPKM"] AS RPKM  FROM [1123].[BIGILL_RNASEQ_EXON]  WHERE ["CHROMOSOME"] LIKE 'SCAFFOLD44006'
 SELECT * FROM [1123].[BIGILL_RNASEQ_EXON]  WHERE  ["GENE NAME"] LIKE 'CGI_10024475'
 SELECT * FROM [1123].[BIGILL_RNASEQ_EXON]  WHERE  ["GENE NAME"] LIKE 'CGI_10026597'
 SELECT * FROM [1123].[BIGILL_RNASEQ_EXON]  WHERE  ["GENE NAME"] LIKE 'CGI_10010090'
 SELECT * FROM [1123].[BIGILL_RNASEQ_EXON]  WHERE  ["GENE NAME"] LIKE 'CGI%'
 SELECT * FROM [1123].[BIGILL_RNASEQ_EXON]  WHERE  ["GENE NAME"] LIKE 'CGI_10026148'
 SELECT * FROM [1123].[BIGILL_RNASEQ_EXON]  WHERE  ["GENE NAME"] LIKE 'CGI*'
8/26
 SELECT *  FROM [1123].[TJGR_CCD_DOMAIN_CONCISE_SUPERFAMILY_DEF]  WHERE  DEFINITION LIKE '%REPEAT%'
 SELECT *  FROM [1123].[TJGR_CCD_DOMAIN_CONCISE_SUPERFAMILY_DEF]  WHERE  DEFINITION LIKE '%CPG%'
2/2
 SELECT * FROM [1123].[_BIGOM3CG5]  WHERE  RATIO = 0
 SELECT * FROM [1123].[_BIGOM3CG5]  WHERE  RATIO =0.333
2/4
 SELECT *  FROM [1123].[_BIGILL EXON RPKM]  WHERE  AVGRPKM > 10  AND  NUMEX >5  AND  NUMEX <20
 SELECT *  FROM [1123].[_BIGILL EXON RPKM]  WHERE  AVGRPKM > 10  AND  NUMEX >5  AND  NUMEX <20  AND  VARRPKM < 200
 SELECT *  FROM [1123].[_BIGILL EXON RPKM]  WHERE  AVGRPKM > 10  AND  NUMEX >5  AND  NUMEX <20  AND  VARRPKM > 1000
 SELECT *  FROM [1123].[_BIGILL EXON RPKM]  WHERE  AVGRPKM > 10  AND  NUMEX >5  AND  NUMEX <20  AND  VARRPKM > 20000
 SELECT * FROM [1123].[_BIGILL EXON RPKM]  WHERE MINRPKM > 0  AND  NUMEX > 4
 SELECT *  FROM [1123].[_BIGILL EXON RPKM]  WHERE  AVGRPKM >0  AND  NUMEX >5  AND  NUMEX <20
 SELECT *  FROM [1123].[_BIGILL EXON RPKM]  WHERE  AVGRPKM > 10  AND  NUMEX >5  AND  NUMEX <20  AND  VARRPKM < 100
 SELECT *  FROM [1123].[_BIGILL EXON RPKM]  WHERE  AVGRPKM > 10  AND  NUMEX >5  AND  NUMEX <20  AND  VARRPKM > 200
 SELECT *  FROM [1123].[_BIGILL EXON RPKM]  WHERE  AVGRPKM > 10  AND  NUMEX >5  AND  NUMEX <20  AND  VARRPKM >500
 SELECT * FROM [1123].[_BIGILL EXON RPKM]  WHERE MINRPKM > 0  AND  NUMEX > 5
 SELECT *  FROM [1123].[_BIGILL EXON RPKM]  WHERE  AVGRPKM >5  AND  NUMEX >5  AND  NUMEX <20
 SELECT *  FROM [1123].[_BIGILL EXON RPKM]  WHERE  AVGRPKM > 10  AND  NUMEX >5  AND  NUMEX <20  AND  VARRPKM > 50000
 SELECT *  FROM [1123].[_BIGILL EXON RPKM]  WHERE  AVGRPKM > 10  AND  NUMEX >5  AND  NUMEX <20  AND  VARRPKM < 10
13/17
 SELECT * FROM [1123].[BIGORNASEQ_EXON_EXP_1]  WHERE ["GENE NAME"] LIKE 'CGI_10009854'
 SELECT * FROM [1123].[BIGORNASEQ_EXON_EXP_1]  WHERE ["GENE NAME"] LIKE 'CGI_10014148'
 SELECT * FROM [1123].[BIGORNASEQ_EXON_EXP_1]  WHERE ["GENE NAME"] LIKE 'CGI%'
 SELECT * FROM [1123].[BIGORNASEQ_EXON_EXP_1]  WHERE ["GENE NAME"] LIKE 'CGI_10006796'
 SELECT * FROM [1123].[BIGORNASEQ_EXON_EXP_1]  WHERE ["GENE NAME"] LIKE 'CGI_10028140'
 SELECT * FROM [1123].[BIGORNASEQ_EXON_EXP_1]  WHERE ["GENE NAME"] LIKE 'CGI_10008589'
 SELECT * FROM [1123].[BIGORNASEQ_EXON_EXP_1]  WHERE ["GENE NAME"] LIKE 'CGI_10007702'
7/7
 SELECT * FROM [1123].[OABS_ETS_S3]  WHERE [PROTEIN ID] LIKE 'CGI_10003983'
 SELECT * FROM [1123].[OABS_ETS_S3]  WHERE [PROTEIN ID] LIKE 'CGI_10010273'
 SELECT * FROM [1123].[OABS_ETS_S3]  WHERE [PROTEIN ID] LIKE 'CGI_10000033'
 SELECT * FROM [1123].[OABS_ETS_S3]  WHERE [PROTEIN ID] LIKE '%03983'
 SELECT * FROM [1123].[OABS_ETS_S3]  WHERE [PROTEIN ID] LIKE 'CGI_10025389'
 SELECT * FROM [1123].[OABS_ETS_S3]  WHERE [PROTEIN ID] LIKE 'CGI_10010275'
6/7
 SELECT * FROM [1123].[CGIGAS LARVAE RNA-SEQ OSHV]  WHERE ID LIKE 'CGI_10025389'
 SELECT * FROM [1123].[CGIGAS LARVAE RNA-SEQ OSHV]  WHERE ID LIKE 'CGI_10003983'
 SELECT * FROM [1123].[CGIGAS LARVAE RNA-SEQ OSHV]  WHERE  ID LIKE 'CGI_10003983'
3/4
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[BIGO_MITO_CLEAM]  WHERE  CONTEXT LIKE '__CA_' --MODIFIED RESPECTIVELY FOR CA, CT, CC  AND  CT_COUNT >= 5  AND RATIO = 0) --MODIFIED RESPECTIVELY FOR ZERO METHYLATION (= 0.000 )  BETTY
 SELECT * FROM [1123].[BIGO_MITO_CLEAM]  WHERE  CONTEXT LIKE '__CG_' --_=SINGLE CHARACTER WILDCARD
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[BIGO_MITO_CLEAM]  WHERE  CONTEXT LIKE '__CT_' --MODIFIED RESPECTIVELY FOR CA, CT, CC  AND  CT_COUNT >= 5  AND RATIO = 0) --MODIFIED RESPECTIVELY FOR ZERO METHYLATION (= 0.000 )  BETTY
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[BIGO_MITO_CLEAM]  WHERE  CONTEXT LIKE '__CG_' --MODIFIED RESPECTIVELY FOR CA, CT, CC  AND  CT_COUNT >= 5  AND RATIO = 0) --MODIFIED RESPECTIVELY FOR ZERO METHYLATION (= 0.000 )  BETTY
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[BIGO_MITO_CLEAM]  WHERE  CONTEXT LIKE '__C__' --MODIFIED RESPECTIVELY FOR CA, CT, CC  AND  CT_COUNT >= 5  AND RATIO >= 0.500) --MODIFIED RESPECTIVELY FOR ZERO METHYLATION (= 0.000 )  BETTY
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[BIGO_MITO_CLEAM]  WHERE  CONTEXT LIKE '__CG_' --MODIFIED RESPECTIVELY FOR CA, CT, CC  AND  CT_COUNT >= 5  AND RATIO > 0) --MODIFIED RESPECTIVELY FOR ZERO METHYLATION (= 0.000 )  BETTY
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[BIGO_MITO_CLEAM]  WHERE  CONTEXT LIKE '__CT_' --MODIFIED RESPECTIVELY FOR CA, CT, CC  AND  CT_COUNT >= 5  AND RATIO > 0) --MODIFIED RESPECTIVELY FOR ZERO METHYLATION (= 0.000 )  BETTY
 SELECT * FROM [1123].[BIGO_MITO_CLEAM]  WHERE  CONTEXT LIKE '__CG_' --_=SINGLE CHARACTER WILDCARD  AND  CT_COUNT >= 5
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[BIGO_MITO_CLEAM]  WHERE  CONTEXT LIKE '__CG_' --MODIFIED RESPECTIVELY FOR CA, CT, CC  AND  CT_COUNT >= 5  AND RATIO >= 0.500) --MODIFIED RESPECTIVELY FOR ZERO METHYLATION (= 0.000 )  BETTY
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[BIGO_MITO_CLEAM]  WHERE  CONTEXT LIKE '__CC_' --MODIFIED RESPECTIVELY FOR CA, CT, CC  AND  CT_COUNT >= 5  AND RATIO >= 0.500) --MODIFIED RESPECTIVELY FOR ZERO METHYLATION (= 0.000 )  BETTY
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[BIGO_MITO_CLEAM]  WHERE  CONTEXT LIKE '__CG_' --MODIFIED RESPECTIVELY FOR CA, CT, CC  AND  CT_COUNT >= 5)  BETTY
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[BIGO_MITO_CLEAM]  WHERE  CONTEXT LIKE '__CT_' --MODIFIED RESPECTIVELY FOR CA, CT, CC  AND  CT_COUNT >= 5  AND RATIO >= 0.500) --MODIFIED RESPECTIVELY FOR ZERO METHYLATION (= 0.000 )  BETTY
 SELECT * FROM [1123].[BIGO_MITO_CLEAM]  WHERE  CONTEXT LIKE '__CG_' --_=SINGLE CHARACTER WILDCARD  AND  CT_COUNT >= 5  AND  RATIO > 0.5
 SELECT * FROM [1123].[BIGO_MITO_CLEAM]  WHERE  CONTEXT LIKE '__CG_' --_=SINGLE CHARACTER WILDCARD  AND  CT_COUNT >= 5  AND  RATIO = 0
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[BIGO_MITO_CLEAM]  WHERE  CONTEXT LIKE '__C__' --MODIFIED RESPECTIVELY FOR CA, CT, CC  AND  CT_COUNT >= 5)  BETTY
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[BIGO_MITO_CLEAM]  WHERE  CONTEXT LIKE '__CA_' --MODIFIED RESPECTIVELY FOR CA, CT, CC  AND  CT_COUNT >= 5  AND RATIO >= 0.500) --MODIFIED RESPECTIVELY FOR ZERO METHYLATION (= 0.000 )  BETTY
 SELECT COUNT (*) FROM  (  SELECT  *  FROM [1123].[BIGO_MITO_CLEAM]  WHERE  CONTEXT LIKE '__C__' --MODIFIED RESPECTIVELY FOR CA, CT, CC  AND  CT_COUNT >= 5  AND RATIO = 0) --MODIFIED RESPECTIVELY FOR ZERO METHYLATION (= 0.000 )  BETTY
17/17
 SELECT * FROM [594].[OGOP2]  WHERE [GIG1] LIKE '%  '
 SELECT * FROM [594].[OGOP2]  WHERE GIG1 LIKE '%'
 SELECT * FROM [594].[OGOP2]  WHERE GIG1 LIKE  'CGI%'
 SELECT * FROM [594].[OGOP2]  WHERE [GIG1] LIKE ' '
 SELECT * FROM [594].[OGOP2]  WHERE GIG1 LIKE 'CGI%'
5/6
 SELECT * FROM [1123].[LFT_BLACKABALONE_V3_GENEHUNT]  WHERE  FOLDCHANGE < 2
 SELECT * FROM [1123].[LFT_BLACKABALONE_V3_GENEHUNT]  WHERE  FOLDCHANGE > 2
 SELECT * FROM [1123].[LFT_BLACKABALONE_V3_GENEHUNT]  WHERE  FOLDCHANGE > 1.5
 SELECT * FROM [1123].[LFT_BLACKABALONE_V3_GENEHUNT]  WHERE  FOLDCHANGE < 0.5
4/11
 SELECT * FROM [267].[COMMONLOCI_FINAL_NONAS.CSV]  WHERE  M1_METH > .8  AND  M3_METH > .8  AND  T1D3_METH < 0.5  AND  T1D5_METH < 0.5  AND  T3D3_METH < 0.5  AND  T3D5_METH < 0.5
 SELECT * FROM [267].[COMMONLOCI_FINAL_NONAS.CSV]  WHERE  M1_METH > .5  AND  M3_METH > .5  AND  T1D3_METH < 0.5  AND  T1D5_METH < 0.5  AND  T3D3_METH < 0.5  AND  T3D5_METH < 0.5
2/7

 SELECT * FROM [1123].[BIGOLARVAE_DMR]  WHERE  M1VT1D3 <> ' '  AND  M1VT1D5 = NULL
 SELECT * FROM [1123].[BIGOLARVAE_DMR]  WHERE  M1VT1D3 <> ' '  AND  M1VT1D5=NULL
 SELECT * FROM [1123].[BIGOLARVAE_DMR]  WHERE  M1VT1D3 <> ' '  AND  M1VT1D5=''
 SELECT * FROM [1123].[BIGOLARVAE_DMR]  WHERE  M1VT1D3 <> ' '  AND  M1VT1D5 = ''
4/10
 SELECT * FROM [1123].[CGIGAS_EST_NCBI_040414_CL]EST  WHERE  COLUMN5 = 'FQ662477'
 SELECT * FROM [1123].[CGIGAS_EST_NCBI_040414_CL]EST  WHERE  COLUMN5='CU995582'
2/2
 SELECT * FROM [1123].[BIGORNASEQ_GPL11353_V6REF]  WHERE  RPKM > 200
 SELECT * FROM [1123].[BIGORNASEQ_GPL11353_V6REF]  WHERE  RPKM > 2000
2/2
 SELECT M1ID,M1RATIO,M3RATIO,T1D3RATIO,T1D5RATIO,T3D3RATIO,T3D5RATIO  FROM [1123].[FILT3_M1]M1  JOIN  [1123].[FILT3_M3]M3  ON  M1.M1ID=M3.M3ID  JOIN  [1123].[FILT3_T1D3]T1D3  ON  M1.M1ID=T1D3.T1D3ID  JOIN  [1123].[FILT3_T1D5]T1D5  ON  M1.M1ID=T1D5.T1D5ID  JOIN  [1123].[FILT3_T3D3]T3D3  ON  M1.M1ID=T3D3.T3D3ID  JOIN  [1123].[FILT3_T3D5]T3D5  ON  M1.M1ID=T3D5.T3D5ID  WHERE  [M1COVERAGE] >= '5'  AND  [M3COVERAGE] >= '5'  AND  [T1D3COVERAGE] >= '5'  AND  [T1D5COVERAGE] >= '5'  AND  [T3D3COVERAGE] >= '5'  AND  [T3D5COVERAGE] >= '5'  AND  M1RATIO = 0  AND  T1D3RATIO = 0  AND  T1D5RATIO = 0  AND  M3RATIO = 0  AND  T3D3RATIO = 0  AND  T3D5RATIO = 0
 SELECT M1ID,M1RATIO,M3RATIO,T1D3RATIO,T1D5RATIO,T3D3RATIO,T3D5RATIO  FROM [1123].[FILT3_M1]M1  JOIN  [1123].[FILT3_M3]M3  ON  M1.M1ID=M3.M3ID  JOIN  [1123].[FILT3_T1D3]T1D3  ON  M1.M1ID=T1D3.T1D3ID  JOIN  [1123].[FILT3_T1D5]T1D5  ON  M1.M1ID=T1D5.T1D5ID  JOIN  [1123].[FILT3_T3D3]T3D3  ON  M1.M1ID=T3D3.T3D3ID  JOIN  [1123].[FILT3_T3D5]T3D5  ON  M1.M1ID=T3D5.T3D5ID  WHERE  [M1COVERAGE] >= '5'  AND  [M3COVERAGE] >= '5'  AND  [T1D3COVERAGE] >= '5'  AND  [T1D5COVERAGE] >= '5'  AND  [T3D3COVERAGE] >= '5'  AND  [T3D5COVERAGE] >= '5'  AND  M1RATIO > 0.1  AND  T1D3RATIO = 0  AND  T1D5RATIO = 0  AND  M3RATIO > 0.1  AND  T3D3RATIO = 0  AND  T3D5RATIO = 0
 SELECT M1ID,M1RATIO,M3RATIO,T1D3RATIO,T1D5RATIO,T3D3RATIO,T3D5RATIO  FROM [1123].[FILT3_M1]M1  JOIN  [1123].[FILT3_M3]M3  ON  M1.M1ID=M3.M3ID  JOIN  [1123].[FILT3_T1D3]T1D3  ON  M1.M1ID=T1D3.T1D3ID  JOIN  [1123].[FILT3_T1D5]T1D5  ON  M1.M1ID=T1D5.T1D5ID  JOIN  [1123].[FILT3_T3D3]T3D3  ON  M1.M1ID=T3D3.T3D3ID  JOIN  [1123].[FILT3_T3D5]T3D5  ON  M1.M1ID=T3D5.T3D5ID  WHERE  [M1COVERAGE] >= '5'  AND  [M3COVERAGE] >= '5'  AND  [T1D3COVERAGE] >= '5'  AND  [T1D5COVERAGE] >= '5'  AND  [T3D3COVERAGE] >= '5'  AND  [T3D5COVERAGE] >= '5'  AND  M1RATIO > 0.3  AND  T1D3RATIO = 0  AND  T1D5RATIO = 0  AND  M3RATIO > 0.3  AND  T3D3RATIO = 0  AND  T3D5RATIO = 0
 SELECT M1ID,M1RATIO,M3RATIO,T1D3RATIO,T1D5RATIO,T3D3RATIO,T3D5RATIO  FROM [1123].[FILT3_M1]M1  JOIN  [1123].[FILT3_M3]M3  ON  M1.M1ID=M3.M3ID  JOIN  [1123].[FILT3_T1D3]T1D3  ON  M1.M1ID=T1D3.T1D3ID  JOIN  [1123].[FILT3_T1D5]T1D5  ON  M1.M1ID=T1D5.T1D5ID  JOIN  [1123].[FILT3_T3D3]T3D3  ON  M1.M1ID=T3D3.T3D3ID  JOIN  [1123].[FILT3_T3D5]T3D5  ON  M1.M1ID=T3D5.T3D5ID  WHERE  [M1COVERAGE] >= '5'  AND  [M3COVERAGE] >= '5'  AND  [T1D3COVERAGE] >= '5'  AND  [T1D5COVERAGE] >= '5'  AND  [T3D3COVERAGE] >= '5'  AND  [T3D5COVERAGE] >= '5'  AND  M1RATIO >= 0.5  AND  T1D3RATIO >= 0.5  AND  T1D5RATIO >= 0.5  AND  M3RATIO >= 0.5  AND  T3D3RATIO >= 0.5  AND  T3D5RATIO >= 0.5
 SELECT M1ID,M1RATIO,M3RATIO,T1D3RATIO,T1D5RATIO,T3D3RATIO,T3D5RATIO  FROM [1123].[FILT3_M1]M1  JOIN  [1123].[FILT3_M3]M3  ON  M1.M1ID=M3.M3ID  JOIN  [1123].[FILT3_T1D3]T1D3  ON  M1.M1ID=T1D3.T1D3ID  JOIN  [1123].[FILT3_T1D5]T1D5  ON  M1.M1ID=T1D5.T1D5ID  JOIN  [1123].[FILT3_T3D3]T3D3  ON  M1.M1ID=T3D3.T3D3ID  JOIN  [1123].[FILT3_T3D5]T3D5  ON  M1.M1ID=T3D5.T3D5ID  WHERE  [M1COVERAGE] >= '5'  AND  [M3COVERAGE] >= '5'  AND  [T1D3COVERAGE] >= '5'  AND  [T1D5COVERAGE] >= '5'  AND  [T3D3COVERAGE] >= '5'  AND  [T3D5COVERAGE] >= '5'  AND  M1RATIO = 1  AND  T1D3RATIO = 1  AND  T1D5RATIO = 1  AND  M3RATIO = 1  AND  T3D3RATIO = 1  AND  T3D5RATIO = 1
 SELECT M1ID,M1RATIO,M3RATIO,T1D3RATIO,T1D5RATIO,T3D3RATIO,T3D5RATIO  FROM [1123].[FILT3_M1]M1  JOIN  [1123].[FILT3_M3]M3  ON  M1.M1ID=M3.M3ID  JOIN  [1123].[FILT3_T1D3]T1D3  ON  M1.M1ID=T1D3.T1D3ID  JOIN  [1123].[FILT3_T1D5]T1D5  ON  M1.M1ID=T1D5.T1D5ID  JOIN  [1123].[FILT3_T3D3]T3D3  ON  M1.M1ID=T3D3.T3D3ID  JOIN  [1123].[FILT3_T3D5]T3D5  ON  M1.M1ID=T3D5.T3D5ID  WHERE  [M1COVERAGE] >= '5'  AND  [M3COVERAGE] >= '5'  AND  [T1D3COVERAGE] >= '5'  AND  [T1D5COVERAGE] >= '5'  AND  [T3D3COVERAGE] >= '5'  AND  [T3D5COVERAGE] >= '5'  AND  M1RATIO > 0.8  AND  T1D3RATIO < 0.2  AND  T1D5RATIO > 0.8
 SELECT M1ID,M1RATIO,M3RATIO,T1D3RATIO,T1D5RATIO,T3D3RATIO,T3D5RATIO  FROM [1123].[FILT3_M1]M1  JOIN  [1123].[FILT3_M3]M3  ON  M1.M1ID=M3.M3ID  JOIN  [1123].[FILT3_T1D3]T1D3  ON  M1.M1ID=T1D3.T1D3ID  JOIN  [1123].[FILT3_T1D5]T1D5  ON  M1.M1ID=T1D5.T1D5ID  JOIN  [1123].[FILT3_T3D3]T3D3  ON  M1.M1ID=T3D3.T3D3ID  JOIN  [1123].[FILT3_T3D5]T3D5  ON  M1.M1ID=T3D5.T3D5ID  WHERE  [M1COVERAGE] >= '5'  AND  [M3COVERAGE] >= '5'  AND  [T1D3COVERAGE] >= '5'  AND  [T1D5COVERAGE] >= '5'  AND  [T3D3COVERAGE] >= '5'  AND  [T3D5COVERAGE] >= '5'  AND  M1RATIO > 0.5  AND  T1D3RATIO < 0.2  AND  T1D5RATIO > 0.5
 SELECT M1ID,M1RATIO,M3RATIO,T1D3RATIO,T1D5RATIO,T3D3RATIO,T3D5RATIO  FROM [1123].[FILT3_M1]M1  JOIN  [1123].[FILT3_M3]M3  ON  M1.M1ID=M3.M3ID  JOIN  [1123].[FILT3_T1D3]T1D3  ON  M1.M1ID=T1D3.T1D3ID  JOIN  [1123].[FILT3_T1D5]T1D5  ON  M1.M1ID=T1D5.T1D5ID  JOIN  [1123].[FILT3_T3D3]T3D3  ON  M1.M1ID=T3D3.T3D3ID  JOIN  [1123].[FILT3_T3D5]T3D5  ON  M1.M1ID=T3D5.T3D5ID  WHERE  [M1COVERAGE] >= '5'  AND  [M3COVERAGE] >= '5'  AND  [T1D3COVERAGE] >= '5'  AND  [T1D5COVERAGE] >= '5'  AND  [T3D3COVERAGE] >= '5'  AND  [T3D5COVERAGE] >= '5'  AND  M1RATIO >= 0.8  AND  T1D3RATIO >= 0.8  AND  T1D5RATIO >= 0.8  AND  M3RATIO >= 0.8  AND  T3D3RATIO >= 0.8  AND  T3D5RATIO >= 0.8
 SELECT M1ID,M1RATIO,M3RATIO,T1D3RATIO,T1D5RATIO,T3D3RATIO,T3D5RATIO  FROM [1123].[FILT3_M1]M1  JOIN  [1123].[FILT3_M3]M3  ON  M1.M1ID=M3.M3ID  JOIN  [1123].[FILT3_T1D3]T1D3  ON  M1.M1ID=T1D3.T1D3ID  JOIN  [1123].[FILT3_T1D5]T1D5  ON  M1.M1ID=T1D5.T1D5ID  JOIN  [1123].[FILT3_T3D3]T3D3  ON  M1.M1ID=T3D3.T3D3ID  JOIN  [1123].[FILT3_T3D5]T3D5  ON  M1.M1ID=T3D5.T3D5ID  WHERE  [M1COVERAGE] >= '5'  AND  [M3COVERAGE] >= '5'  AND  [T1D3COVERAGE] >= '5'  AND  [T1D5COVERAGE] >= '5'  AND  [T3D3COVERAGE] >= '5'  AND  [T3D5COVERAGE] >= '5'  AND  M1RATIO > 0  AND  T1D3RATIO = 0  AND  T1D5RATIO = 0  AND  M3RATIO > 0  AND  T3D3RATIO = 0  AND  T3D5RATIO = 0
9/37
 SELECT * FROM [1123].[FILT3_M3]  WHERE  M3RATIO = 0
 SELECT * FROM [1123].[FILT3_M3]  WHERE  M3RATIO = 'NA'
2/3
 SELECT * FROM [1123].[FILT3M1_M3_CGFEATURE]  WHERE M1RATIO > 0.5
 SELECT * FROM [1123].[FILT3M1_M3_CGFEATURE]  WHERE M1RATIO > 0
2/3
 SELECT *,  ([M1RATIO]+[T1D3RATIO]+[T1D5RATIO])/3 AS MEAN_CHK  FROM [1123].[_CAST_LINEAGE_1]  WHERE  [M1RATIO]-[MEAN] < ABS(0.20)  AND  [T1D3RATIO]-[MEAN] <.2  AND  [T1D5RATIO]-[MEAN] <.2
 SELECT *,  ([M1RATIO]+[T1D3RATIO]+[T1D5RATIO])/3 AS MEAN_CHK  FROM [1123].[_CAST_LINEAGE_1]  WHERE  [M1RATIO]-[MEAN] < ABS(0.20)  AND  [T1D3RATIO]-[MEAN] < ABS(.2)  AND  [T1D5RATIO]-[MEAN] < ABS(.2)
 SELECT *,  ([M1RATIO]+[T1D3RATIO]+[T1D5RATIO])/3 AS MEAN_CHK  FROM [1123].[_CAST_LINEAGE_1]  WHERE  [M1RATIO]-[MEAN] < ABS('0.20')  AND  [T1D3RATIO]-[MEAN] <.2  AND  [T1D5RATIO]-[MEAN] <.2
 SELECT *,  ([M1RATIO]+[T1D3RATIO]+[T1D5RATIO])/3 AS MEAN_CHK  FROM [1123].[_CAST_LINEAGE_1]  WHERE  [M1RATIO]-[MEAN] <.2  AND  [T1D3RATIO]-[MEAN] <.2  AND  [T1D5RATIO]-[MEAN] <.2
4/13
 SELECT *,  SPERM.MEAN_SPERM-D3.MEAN_DAY3 AS 'S-3',  SPERM.MEAN_SPERM-D5.MEAN_DAY5 AS 'S-5',  D3.MEAN_DAY3-D5.MEAN_DAY5 AS '3-5'  FROM [1123].[BR_CGLARV_SPERM.TXT]SPERM INNER JOIN  [1123].[BR_CGLARV_DAY3.TXT]D3 ON SPERM.LOCI=D3.LOCI INNER JOIN  [1123].[BR_CGLARV_DAY5.TXT]D5 ON SPERM.LOCI=D5.LOCI  WHERE  ABS(SPERM.MEAN_SPERM-D3.MEAN_DAY3) > 0.4  OR  ABS(SPERM.MEAN_SPERM-D5.MEAN_DAY5) > 0.4  OR  ABS(D3.MEAN_DAY3-D5.MEAN_DAY5) > 0.4
 SELECT *,  SPERM.MEAN_SPERM-D3.MEAN_DAY3 AS 1358  FROM [1123].[BR_CGLARV_SPERM.TXT]SPERM INNER JOIN  [1123].[BR_CGLARV_DAY3.TXT]D3 ON SPERM.LOCI=D3.LOCI INNER JOIN  [1123].[BR_CGLARV_DAY5.TXT]D5 ON SPERM.LOCI=D5.LOCI  WHERE  ABS(SPERM.MEAN_SPERM-D3.MEAN_DAY3) > 0.3  OR  ABS(SPERM.MEAN_SPERM-D5.MEAN_DAY5) > 0.3  OR  ABS(D3.MEAN_DAY3-D5.MEAN_DAY5) > 0.3
 SELECT *,  SPERM.MEAN_SPERM-D3.MEAN_DAY3 AS 'S-3',  SPERM.MEAN_SPERM-D5.MEAN_DAY5 AS 'S-5',  D3.MEAN_DAY3-D5.MEAN_DAY5 AS '3-5'  FROM [1123].[BR_CGLARV_SPERM.TXT]SPERM INNER JOIN  [1123].[BR_CGLARV_DAY3.TXT]D3 ON SPERM.LOCI=D3.LOCI INNER JOIN  [1123].[BR_CGLARV_DAY5.TXT]D5 ON SPERM.LOCI=D5.LOCI  WHERE  ABS(SPERM.MEAN_SPERM-D3.MEAN_DAY3) > 0.3  OR  ABS(SPERM.MEAN_SPERM-D5.MEAN_DAY5) > 0.3  OR  ABS(D3.MEAN_DAY3-D5.MEAN_DAY5) > 0.3
 SELECT * FROM [1123].[BR_CGLARV_SPERM.TXT]SPERM INNER JOIN  [1123].[BR_CGLARV_DAY3.TXT]D3 ON SPERM.LOCI=D3.LOCI INNER JOIN  [1123].[BR_CGLARV_DAY5.TXT]D5 ON SPERM.LOCI=D5.LOCI  WHERE  ABS(SPERM.MEAN_SPERM-D3.MEAN_DAY3) > 0.3  OR  ABS(SPERM.MEAN_SPERM-D5.MEAN_DAY5) > 0.3  OR  ABS(D3.MEAN_DAY3-D5.MEAN_DAY5) > 0.3
 SELECT *,  SPERM.MEAN_SPERM-D3.MEAN_DAY3 AS 'S-3'  FROM [1123].[BR_CGLARV_SPERM.TXT]SPERM INNER JOIN  [1123].[BR_CGLARV_DAY3.TXT]D3 ON SPERM.LOCI=D3.LOCI INNER JOIN  [1123].[BR_CGLARV_DAY5.TXT]D5 ON SPERM.LOCI=D5.LOCI  WHERE  ABS(SPERM.MEAN_SPERM-D3.MEAN_DAY3) > 0.3  OR  ABS(SPERM.MEAN_SPERM-D5.MEAN_DAY5) > 0.3  OR  ABS(D3.MEAN_DAY3-D5.MEAN_DAY5) > 0.3
5/7

 SELECT *, ([M1RATIO]-[M3RATIO])/2 AS DIFF  FROM [267].[M1.TXT]  INNER JOIN [267].[M3.TXT] ON [267].[M1.TXT].LOCI=[267].[M3.TXT].LOCI  WHERE (([M1RATIO]-[M3RATIO])/2) > (.2)
 SELECT *, ([M1RATIO]-[M3RATIO])/2 AS DIFF  FROM [267].[M1.TXT]  INNER JOIN [267].[M3.TXT] ON [267].[M1.TXT].LOCI=[267].[M3.TXT].LOCI  WHERE (([M1RATIO]-[M3RATIO])/2) > ABS(.2)
2/10
 SELECT * FROM [1045].[UNIPROTPROTNAMESREVIEWED_YES20130610]  WHERE  PROTEINNAME LIKE '%IMMUNE%'
 SELECT * FROM [1045].[UNIPROTPROTNAMESREVIEWED_YES20130610]  WHERE  PROTEINNAME = '%CORN%'
 SELECT * FROM [1045].[UNIPROTPROTNAMESREVIEWED_YES20130610]  WHERE  PROTEINNAME LIKE'%CORN%'
 SELECT * FROM [1045].[UNIPROTPROTNAMESREVIEWED_YES20130610]  WHERE  PROTEINNAME = '%IMMUNE%'
4/5
 SELECT * FROM [1123].[CGIGAS-DEGLIST-GODESC]DE  LEFT JOIN  [1123].[CGIGAS-HS-COUNT.TXT]CNT  ON  DE.CGI_ID=CNT.[FEATURE ID]  WHERE  GOSLIM_BIN LIKE '%STRESS%'
 SELECT * FROM [1123].[CGIGAS-DEGLIST-GODESC]DE  LEFT JOIN  [1123].[CGIGAS-HS-COUNT.TXT]CNT  ON  DE.CGI_ID=CNT.[FEATURE ID]  WHERE  GOSLIM_BIN LIKE 'DEATH'
2/4
 SELECT * FROM [1123].[DML-GENES]DML  LEFT JOIN  [1123].[QDOD-ENSEMBL-ANNOTATION]SP  ON  DML.COLUMN14 = SP.CGI_ID  WHERE COLUMN14 = 'CGI_10013832'
 SELECT * FROM [1123].[DML-GENES]DML  LEFT JOIN  [1123].[QDOD-ENSEMBL-ANNOTATION]SP  ON  DML.COLUMN14 = SP.CGI_ID  WHERE COLUMN14 = 'CGI_10012036'
2/3
 SELECT *  FROM [1314HOWE].[UW SALARIES 2009]  WHERE LAST LIKE 'MICHAUD'
 SELECT *  FROM [1314HOWE].[UW SALARIES 2009]  WHERE LAST LIKE 'LEWIS'
 SELECT * FROM [1314HOWE].[UW SALARIES 2009]  WHERE LAST LIKE '%ERBECK%'   ORDER BY  LAST
 SELECT * FROM [1314HOWE].[UW SALARIES 2009]  WHERE LAST LIKE '%CUNNINGTON%'   ORDER BY  LAST
4/17
 SELECT COMMON_NAME, COUNTY, COUNT(*)  FROM [1231].[NATUREMAPPING]  WHERE  COMMON_NAME IS NOT NULL  AND COUNTY = 'KING'   GROUP BY  COMMON_NAME, COUNTY   ORDER BY  COUNT(*) DESC
 SELECT COMMON_NAME, COUNTY, COUNT(*)  FROM [1231].[NATUREMAPPING]  WHERE  COMMON_NAME IS NOT NULL  AND COUNTY = 'PIERCE'   GROUP BY  COMMON_NAME, COUNTY   ORDER BY  COUNT(*) DESC
2/7
 SELECT * FROM 1385S WHERE 1385NAME LIKE '%ANGELA%'
 SELECT * FROM 1385S WHERE 1385NAME LIKE 'ANGELA%'
2/6
 SELECT COUNT(*) FROM 1385_QUERIES WHERE 1=1  AND NOT (SQL_CODE  LIKE '%TABLE_%'  AND SQL_CODE NOT LIKE '%AND%'  AND SQL_CODE NOT LIKE '%JOIN%')  AND IS_PUBLIC = 1;  SELECT * FROM 1385_QUERIES WHERE SHORT_DESC LIKE '%ORCA%' -- ORDER BY  DATE_CREATED DESC;
 SELECT * FROM 1385_QUERIES WHERE OWNER LIKE '%FRIDAYHARBOR%'
 SELECT * FROM 1385_QUERIES WHERE SHORT_DESC = 'PMTE_ALL-DE_GROUP1'
 SELECT COUNT(*) FROM 1385_QUERIES WHERE SQL_CODE NOT LIKE '%TABLE%'
 SELECT COUNT(*) FROM 1385_QUERIES WHERE SQL_CODE LIKE '%FROM%TABLE_%'
 SELECT * FROM 1385_QUERIES WHERE SQL_CODE LIKE '%>%'
 SELECT * FROM 1385_QUERIES WHERE SQL_CODE LIKE '%FROM%TABLE%'
 SELECT * FROM 1385_QUERIES WHERE SQL_CODE LIKE '%TABLE%'
 SELECT * FROM 1385_QUERIES WHERE SQL_CODE LIKE '%FROM TABLE%'
 SELECT * FROM 1385_QUERIES WHERE SQL_CODE LIKE '%FROM [TABLE%'
 SELECT * FROM 1385_QUERIES WHERE SQL_CODE LIKE '%FROM \[TABLE%'
 SELECT OWNER, MAX(DATE_CREATED)  FROM 1385_QUERIES Q, [UW_EMPLOYEES_DEPT.CSV] E  WHERE OWNER LIKE '%WASHINGTON%'  AND Q.OWNER LIKE '%'+ E.1385NAME + '%'   GROUP BY  OWNER  ORDER BY  MAX(DATE_CREATED) DESC;
 SELECT * FROM 1385_QUERIES WHERE SHORT_DESC = 'PMTE_ALL-DE_GROUP1_MIN1SIGDE'
 SELECT * FROM 1385_QUERIES WHERE OWNER LIKE '%MITRY%'
 SELECT COUNT(*) FROM 1385_QUERIES WHERE SQL_CODE LIKE '%TABLE%'
 SELECT * FROM 1385_QUERIES WHERE OWNER LIKE '%MEDVED%'
 SELECT COUNT(*) FROM 1385_QUERIES WHERE 1=1  AND IS_PUBLIC = 0;  SELECT * FROM 1385_QUERIES WHERE SHORT_DESC LIKE '%ORCA%' -- ORDER BY  DATE_CREATED DESC;
 SELECT OWNER, MAX(DATE_CREATED) FROM 1385_QUERIES WHERE OWNER LIKE '%WASHINGTON%'   GROUP BY  OWNER  ORDER BY  MAX(DATE_CREATED) DESC;
 SELECT * FROM 1385_QUERIES WHERE SQL_CODE LIKE '%>%'  ORDER BY  DATE_CREATED DESC
 SELECT * FROM 1385_QUERIES WHERE SQL_CODE LIKE '%FROM%TABLE_%'
 SELECT OWNER, COUNT(*), MAX(DATE_CREATED)  FROM 1385_QUERIES Q  WHERE OWNER NOT LIKE '%WASHINGTON%'   GROUP BY  OWNER   ORDER BY  COUNT(*) DESC;
 SELECT * FROM 1385_QUERIES WHERE SQL_CODE LIKE '%PMTE_ALL-DE_GROUP1_MIN1SIGDE%'
 SELECT COUNT(*) FROM 1385_QUERIES WHERE 1=1  AND NOT (SQL_CODE  LIKE '%TABLE_%'  AND SQL_CODE NOT LIKE '%AND%'  AND SQL_CODE NOT LIKE '%JOIN%')  AND IS_PUBLIC = 0;  SELECT * FROM 1385_QUERIES WHERE SHORT_DESC LIKE '%ORCA%' -- ORDER BY  DATE_CREATED DESC;
 SELECT * FROM 1385_QUERIES WHERE OWNER LIKE '%SR320%'
 SELECT * FROM 1385_QUERIES WHERE SQL_CODE LIKE '%HIV%'
 SELECT * FROM 1385_QUERIES WHERE OWNER LIKE '%DMITRY%'
 SELECT OWNER, E.LAST, E.FIRST, E.DEPARTMENT, MAX(DATE_CREATED)  FROM 1385_QUERIES Q, [UW_EMPLOYEES_DEPT.CSV] E  WHERE OWNER LIKE '%WASHINGTON%'  AND Q.OWNER LIKE '%'+ E.1385NAME + '%'   GROUP BY  OWNER, E.LAST, E.FIRST, E.DEPARTMENT   ORDER BY  MAX(DATE_CREATED) DESC;
 SELECT OWNER, E.LAST, E.FIRST, E.DEPARTMENT, E.1385NAME, MAX(DATE_CREATED)  FROM 1385_QUERIES Q, [UW_EMPLOYEES_DEPT.CSV] E  WHERE OWNER LIKE '%WASHINGTON%'  AND Q.OWNER LIKE E.1385NAME + '%'   GROUP BY  OWNER, E.LAST, E.FIRST, E.DEPARTMENT, E.1385NAME   ORDER BY  MAX(DATE_CREATED) DESC;
 SELECT COUNT(*) FROM 1385_QUERIES WHERE SQL_CODE NOT LIKE '%FROM%TABLE_%'
 SELECT COUNT(*) FROM 1385_QUERIES WHERE 1=1  AND IS_PUBLIC = 1;  SELECT * FROM 1385_QUERIES WHERE SHORT_DESC LIKE '%ORCA%' -- ORDER BY  DATE_CREATED DESC;
30/76
 SELECT * FROM DBO.1385S WHERE 1385NAME LIKE '%SR320%'
 SELECT COUNT(*) FROM DBO.1385_QUERIES WHERE OWNER LIKE '%KOESTER%'
 SELECT * FROM DBO.1385_QUERIES WHERE OWNER LIKE '%KOESTER%'
 SELECT * FROM DBO.1385S WHERE 1385NAME LIKE '%GAV%'
 SELECT * FROM DBO.1385S WHERE 1385NAME LIKE '%BERT%'
 SELECT * FROM DBO.1385_QUERIES WHERE OWNER LIKE 'KOESTER'
6/20
 SELECT * FROM [1314HOWE].[UW_EMPLOYEES_DEPT.CSV]  WHERE EMAIL LIKE 'WHITEAD%'
 SELECT * FROM [1314HOWE].[UW_EMPLOYEES_DEPT.CSV]  WHERE EMAIL LIKE 'AHINDRA%'
 SELECT * FROM [1314HOWE].[UW_EMPLOYEES_DEPT.CSV]  WHERE EMAIL LIKE 'ABHINDRA%'
3/8
 SELECT * FROM 1314HOWE.HT_SCREENING_RESULTS  WHERE [CLONE_NAME] LIKE '%ANPHA.00421%'
 SELECT * FROM 1314HOWE.HT_SCREENING_RESULTS  WHERE [CLONE_NAME] LIKE 'ANPHA.00354%'
 SELECT * FROM 1314HOWE.HT_SCREENING_RESULTS  WHERE [CLONE_NAME] LIKE '%ANPHA%'
3/3
 SELECT U.1385NAME AS SQLSHARE_1385NAME, D.*  FROM [DBO].[1385S] U  LEFT OUTER JOIN [1314HOWE].[UW_EMPLOYEES_DEPT.CSV] D  ON (REPLACE(U.1385NAME, '@U.WASHINGTON.EDU', '@WASHINGTON.EDU') = D.EMAIL OR U.1385NAME = D.1385NAME)  WHERE DEPARTMENT IS NULL
 SELECT U.1385NAME AS SQLSHARE_1385NAME, D.*  FROM [DBO].[1385S] U  LEFT OUTER JOIN [1314HOWE].[UW_EMPLOYEES_DEPT.CSV] D  ON (REPLACE(D.EMAIL, '@U.WASHINGTON.EDU', '@WASHINGTON.EDU') = U.1385NAME OR U.1385NAME = D.1385NAME)  WHERE DEPARTMENT IS NULL
 SELECT U.1385NAME AS SQLSHARE_1385NAME, D.*  FROM [DBO].[1385S] U  LEFT OUTER JOIN [1314HOWE].[UW_EMPLOYEES_DEPT.CSV] D  ON (U.1385NAME = D.EMAIL OR U.1385NAME = D.1385NAME)  WHERE DEPARTMENT IS NULL
 SELECT *  FROM [DBO].[1385S] U  LEFT OUTER JOIN [1314HOWE].[UW_EMPLOYEES_DEPT.CSV] D  ON (U.1385NAME = D.EMAIL OR U.1385NAME = D.1385NAME)  WHERE DEPARTMENT IS NOT NULL
4/6
 SELECT COUNT(*)  , AVG(TOTAL4TYPE_FU)  , AVG(ANY4TYPE_FU_24WK)  , AVG(ANY4TYPE_FU_2WK)  FROM [1314HOWE].[MHIP_TRAVEL_DISTANCE_HOME_CLINIC]  WHERE DISTANCE > (SELECT AVG(DISTANCE) FROM [1314HOWE].[MHIP_TRAVEL_DISTANCE_HOME_CLINIC])
 SELECT COUNT(*)  , AVG(TOTAL4TYPE_FU)  , AVG(ANY4TYPE_FU_24WK)  , AVG(ANY4TYPE_FU_2WK)  FROM [1314HOWE].[MHIP_TRAVEL_DISTANCE_HOME_CLINIC]  WHERE DISTANCE < (SELECT AVG(DISTANCE) FROM [1314HOWE].[MHIP_TRAVEL_DISTANCE_HOME_CLINIC])
 SELECT COUNT(*)  FROM [1314HOWE].[MHIP_TRAVEL_DISTANCE_HOME_CLINIC]  WHERE DISTANCE > (SELECT AVG(DISTANCE) FROM [1314HOWE].[MHIP_TRAVEL_DISTANCE_HOME_CLINIC])
 SELECT COUNT(*)  , AVG(TOTAL4TYPE_FU)  , AVG(ANY4TYPE_FU_24WK)  , AVG(ANY4TYPE_FU_2WK)  , AVG(ANY4TYPE_FU_16WK)  FROM [1314HOWE].[MHIP_TRAVEL_DISTANCE_HOME_CLINIC]  WHERE DISTANCE > 25000
 SELECT COUNT(*)  , AVG(TOTAL4TYPE_FU)  , AVG(ANY4TYPE_FU_24WK)  , AVG(ANY4TYPE_FU_2WK)  , AVG(ANY4TYPE_FU_16WK)  FROM [1314HOWE].[MHIP_TRAVEL_DISTANCE_HOME_CLINIC]  WHERE DISTANCE < 25000
 SELECT COUNT(*), AVG(TOTAL4TYPE_FU), AVG(ANY4TYPE_FU_24WK)  FROM [1314HOWE].[MHIP_TRAVEL_DISTANCE_HOME_CLINIC]  WHERE DISTANCE > (SELECT AVG(DISTANCE) FROM [1314HOWE].[MHIP_TRAVEL_DISTANCE_HOME_CLINIC])
6/9
 SELECT *  FROM [1314HOWE].[AMATH_ANALYSIS.CSV]  WHERE COLUMN11 IS NOT NULL
 SELECT COUNT(SYSTEM_KEY)  FROM [1314HOWE].[AMATH_ANALYSIS.CSV]  WHERE DEPT_ABBREV = 'CSE'

 SELECT *  FROM [1314HOWE].[AMATH_ANALYSIS.CSV]  WHERE COLUMN10 IS NOT NULL
 SELECT COUNT(SYSTEM_KEY)  FROM [1314HOWE].[AMATH_ANALYSIS.CSV]  WHERE DEPT_ABBREV = 'AMATH'
 SELECT *  FROM [1314HOWE].[AMATH_ANALYSIS.CSV]  WHERE COLUMN10 IS NULL
 SELECT *  FROM [1314HOWE].[AMATH_ANALYSIS.CSV]  WHERE COLUMN11 IS NULL
6/11
 SELECT COUNT(*), AVG(DATEDIFF(MONTH, A.START_DATE, C.START_DATE))/3.0  FROM [1314HOWE].[AMATH_ANALYSIS.CSV] A  , [1314HOWE].[AMATH_ANALYSIS.CSV] C  WHERE A.DEPT_ABBREV = 'AMATH'  AND C.DEPT_ABBREV = 'CSE'  AND A.SYSTEM_KEY = C.SYSTEM_KEY  AND A.S1_GENDER = 'F'
 SELECT COUNT(*), AVG(A.GRADE) AS AMATHGRADE, AVG(C.GRADE) AS CSEGRADE  FROM [1314HOWE].[AMATH_ANALYSIS.CSV] A  , [1314HOWE].[AMATH_ANALYSIS.CSV] C  WHERE A.DEPT_ABBREV = 'AMATH'  AND C.DEPT_ABBREV = 'CSE'  AND A.SYSTEM_KEY = C.SYSTEM_KEY  AND A.S1_GENDER = 'M'
 SELECT COUNT(*), AVG(A.GRADE) AS AMATHGRADE, AVG(C.GRADE) AS CSEGRADE  FROM [1314HOWE].[AMATH_ANALYSIS.CSV] A  , [1314HOWE].[AMATH_ANALYSIS.CSV] C  WHERE A.DEPT_ABBREV = 'AMATH'  AND C.DEPT_ABBREV = 'CSE'  AND A.SYSTEM_KEY = C.SYSTEM_KEY  AND A.S1_GENDER = 'F'
3/18
 SELECT DEFINITION  FROM SYS.SQL_MODULES  WHERE OBJECT_ID = OBJECT_ID('<[1314HOWE@WASHINGTON.EDU].[UPLOAD_FAILING.CSV]>');
 SELECT DEFINITION  FROM SYS.SQL_MODULES  WHERE OBJECT_ID = OBJECT_ID('<[1314HOWE].[UPLOAD_FAILING.CSV]>');
 SELECT DEFINITION  FROM SYS.SQL_MODULES  WHERE OBJECT_ID = OBJECT_ID('<SCHEMA_NAME.OBJECT_NAME>');
 SELECT DEFINITION  FROM SYS.SQL_MODULES  WHERE OBJECT_ID = OBJECT_ID('<[1314HOWE@U.WASHINGTON.EDU].[UPLOAD_FAILING.CSV]>');
4/5
 SELECT *, SALARY*12  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE LIKE '%SPEC%'   ORDER BY  SALARY*12 DESC
 SELECT *  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE DEPARTMENT LIKE '%SCHOLARLY%'
 SELECT AVG(SALARY)  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE LIKE '%SOFTWARE ENGINEER%'
 SELECT *  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE LIKE '%MICH%'
 SELECT * FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE IN('SENIOR FELLOW')
 SELECT TITLE, AVG(SALARY)  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE LIKE '%PROGRAMMER%'   GROUP BY  TITLE
 SELECT AVG(SALARY)  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE LIKE '%ENGINEER%'
 SELECT *  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE LAST LIKE '%MICHAUD%'
 SELECT *  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE DEPARTMENT LIKE '%LEARNING%'
 SELECT * FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE LIKE 'COACH'
 SELECT *  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE LIKE '%SOFTWARE%'
 SELECT *  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE LIKE '%ENGINEER%'
 SELECT *  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE LIKE '%SOFTWARE%'   ORDER BY  SALARY DESC
 SELECT * FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE = 'SENIOR FELLOW'
 SELECT TITLE, AVG(SALARY)  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE LIKE '%WEB%'   GROUP BY  TITLE
 SELECT * FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE IN('COACH')
 SELECT *  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE LIKE '%MICHAUD%'
 SELECT * FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE LIKE '%COACH%'
 SELECT *  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE LIKE '%SOFTWARE ENGINEER%'
 SELECT *, SALARY*12  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE LIKE '%PRINCIPAL%'   ORDER BY  SALARY*12 DESC
 SELECT *, SALARY*12  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE LIKE '%SOFTWARE%'   ORDER BY  SALARY*12 DESC
 SELECT FIRST, AVG(SALARY)  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE LAST LIKE '%KOESTER%'   GROUP BY  FIRST
 SELECT AVG(SALARY)  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE LIKE '%PROGRAMMER%'
 SELECT FIRST, AVG(SALARY)  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE LAST LIKE '%LEWIS%'   GROUP BY  FIRST
 SELECT TITLE, AVG(SALARY)  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE LAST LIKE '%MICHAUD%'   GROUP BY  TITLE
 SELECT *  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE = 'MANAGER OF PROGRAM OPERATIONS'   ORDER BY  SALARY DESC
 SELECT AVG(SALARY)  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE LIKE '%SOFTWARE%'
 SELECT * FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE IN('*COACH*')
 SELECT * FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE IN('*COACH')
 SELECT *  FROM [1314HOWE].[UW EMPLOYEES, SALARY AND DEPARTMENT]  WHERE TITLE LIKE '%PRINCIPAL%'   ORDER BY  SALARY*12 DESC
30/38
 SELECT  MIN(SAL), MAX(SAL), COUNT(*)  FROM [1314HOWE].[UWSALARIES.CSV]  WHERE TITLE LIKE '%SOFTWARE%'  AND SAL < 8000
 SELECT ROUND(SAL / 1000, 0), MIN(SAL), MAX(SAL), COUNT(*)  FROM [1314HOWE].[UWSALARIES.CSV]  WHERE TITLE LIKE '%SOFTWARE%'  AND SAL > 5900   GROUP BY  ROUND(SAL / 1000, 0)
 SELECT * FROM [1314HOWE].[UWSALARIES.CSV]  WHERE [PERCENT] < 50 AND [PERCENT] > 0
 SELECT *  FROM [1314HOWE].[UWSALARIES.CSV]  WHERE TITLE LIKE '%SOFTWARE%'
 SELECT ROUND(SAL / 1000, 0), MIN(SAL), MAX(SAL)  FROM [1314HOWE].[UWSALARIES.CSV]  WHERE TITLE LIKE '%SOFTWARE%'   GROUP BY  ROUND(SAL / 1000, 0)
 SELECT  MIN(SAL), MAX(SAL), COUNT(*)  FROM [1314HOWE].[UWSALARIES.CSV]  WHERE TITLE LIKE '%SOFTWARE%'  AND SAL < 6200
 SELECT ROUND(SAL / 1000, 2), MIN(SAL), MAX(SAL)  FROM [1314HOWE].[UWSALARIES.CSV]  WHERE TITLE LIKE '%SOFTWARE%'   GROUP BY  ROUND(SAL / 1000, 2)
 SELECT *  FROM [1314HOWE].[UWSALARIES.CSV]  WHERE TITLE LIKE '%SOFTWARE%'   ORDER BY  SAL DESC
 SELECT  MIN(SAL), MAX(SAL), COUNT(*)  FROM [1314HOWE].[UWSALARIES.CSV]  WHERE TITLE LIKE '%SOFTWARE%'  AND SAL < 7000
 SELECT * FROM [1314HOWE].[UWSALARIES.CSV]  WHERE [PERCENT] < 100 AND [PERCENT] > 0
 SELECT MIN(SAL), MAX(SAL)  FROM [1314HOWE].[UWSALARIES.CSV]  WHERE TITLE LIKE '%SOFTWARE%'
 SELECT  MIN(SAL), MAX(SAL), COUNT(*)  FROM [1314HOWE].[UWSALARIES.CSV]  WHERE TITLE LIKE '%SOFTWARE%'  AND SAL > 5900
 SELECT  MIN(SAL), MAX(SAL), COUNT(*)  FROM [1314HOWE].[UWSALARIES.CSV]  WHERE TITLE LIKE '%SOFTWARE%'  AND SAL < 5900
 SELECT  MIN(SAL), MAX(SAL), COUNT(*)  FROM [1314HOWE].[UWSALARIES.CSV]  WHERE TITLE LIKE '%SOFTWARE%'  AND SAL > 8000
 SELECT SAL / 100, MIN(SAL), MAX(SAL)  FROM [1314HOWE].[UWSALARIES.CSV]  WHERE TITLE LIKE '%SOFTWARE%'   GROUP BY  SAL / 100
 SELECT  MIN(SAL), MAX(SAL), COUNT(*)  FROM [1314HOWE].[UWSALARIES.CSV]  WHERE TITLE LIKE '%SOFTWARE%'  AND SAL > 7000
 SELECT AVG(SAL)  FROM [1314HOWE].[UWSALARIES.CSV]  WHERE TITLE LIKE '%SOFTWARE%'
 SELECT *  FROM [1314HOWE].[UWSALARIES.CSV]  WHERE TITLE LIKE '%OFTWARE%'
 SELECT ROUND(SAL / 1000, 0), MIN(SAL), MAX(SAL), COUNT(*)  FROM [1314HOWE].[UWSALARIES.CSV]  WHERE TITLE LIKE '%SOFTWARE%'   GROUP BY  ROUND(SAL / 1000, 0)
 SELECT * FROM [1314HOWE].[UWSALARIES.CSV]  WHERE [PERCENT] < 26 AND [PERCENT] > 0
 SELECT  MIN(SAL), MAX(SAL), COUNT(*)  FROM [1314HOWE].[UWSALARIES.CSV]  WHERE TITLE LIKE '%SOFTWARE%'  AND SAL < 6500
21/22
 SELECT C.NAME AS COL_NAME,  TYPE_NAME(C.1385_TYPE_ID) AS TYPE_NAME  FROM SYS.OBJECTS AS O  JOIN SYS.COLUMNS AS C  ON O.OBJECT_ID = C.OBJECT_ID  WHERE O.NAME = '[446].[V2_GEOMICS_FE-CU-MN-ZN-VEDAMATI.CSV]'
 SELECT C.NAME AS COL_NAME,  TYPE_NAME(C.1385_TYPE_ID) AS TYPE_NAME  FROM SYS.OBJECTS AS O  JOIN SYS.COLUMNS AS C  ON O.OBJECT_ID = C.OBJECT_ID  WHERE O.NAME = 'V2_GEOMICS_FE-CU-MN-ZN-VEDAMATI.CSV'
2/4
 SELECT * FROM REUTERS WHERE  TERM_ID NOT IN (  SELECT TERM_ID  FROM REUTERS   GROUP BY  TERM_ID  HAVING SUM(FREQUENCY) BETWEEN 400 AND 500  )  AND DOC_ID IN (  SELECT DOC_ID  FROM REUTERS   GROUP BY  DOC_ID  HAVING SUM(FREQUENCY) BETWEEN 200 AND 300  )
 SELECT * FROM REUTERS WHERE  TERM_ID NOT IN (  SELECT COUNT(DISTINCT DOC_ID)  FROM REUTERS  WHERE LEN(TERM_ID) > 10   GROUP BY  TERM_ID  HAVING SUM(FREQUENCY) BETWEEN 400 AND 500  )  AND DOC_ID IN (  SELECT DOC_ID  FROM REUTERS   GROUP BY  DOC_ID  HAVING SUM(FREQUENCY) BETWEEN 200 AND 300  )
 SELECT * FROM REUTERS WHERE  TERM_ID NOT IN (  SELECT TERM_ID  FROM REUTERS   GROUP BY  TERM_ID  HAVING SUM(FREQUENCY) BETWEEN 400 AND 500  )  AND DOC_ID IN (  SELECT DOC_ID  FROM REUTERS   GROUP BY  DOC_ID  HAVING SUM(FREQUENCY) BETWEEN 200 AND 300  )  UNION  SELECT '10642_TXT_TRADE', 'GOVERNMENT', 3  UNION  SELECT '10779_TXT_TRADE', 'AGREEMENT', 1  UNION  SELECT '11763_TXT_ACQ', 'OFFER', 4
 SELECT * FROM REUTERS WHERE  TERM_ID IN (  SELECT COUNT(DISTINCT DOC_ID)  FROM REUTERS  WHERE LEN(TERM_ID) > 10   GROUP BY  TERM_ID  HAVING SUM(FREQUENCY) BETWEEN 400 AND 500  )  AND DOC_ID IN (  SELECT DOC_ID  FROM REUTERS   GROUP BY  DOC_ID  HAVING SUM(FREQUENCY) BETWEEN 200 AND 300  )
 SELECT * FROM REUTERS WHERE  TERM_ID IN (  SELECT TERM_ID  FROM REUTERS   GROUP BY  TERM_ID  HAVING SUM(FREQUENCY) BETWEEN 400 AND 500  )  AND DOC_ID IN (  SELECT DOC_ID  FROM REUTERS   GROUP BY  DOC_ID  HAVING SUM(FREQUENCY) BETWEEN 200 AND 300  )
5/23

 SELECT TIME, POP, LAT, LONG  , FLOW, BULK_RED, EVENT_RATE  , SALINITY, TEMPERATURE, EVT, OPP, N  ,  FLUORESCENCE, CONC, FLAG  FROM [1314HOWE].[STATS.TAB]  WHERE TIME BETWEEN '2011-10-28' AND '2011-10-29'
 SELECT TIME, POP, LAT, LONG  , FLOW, BULK_RED, EVENT_RATE  , SALINITY, TEMPERATURE, EVT, OPP, N  ,  FLUORESCENCE, CONC, FLAG  FROM [1314HOWE].[STATS.TAB]  WHERE TIME BETWEEN '2011-11-4' AND '2011-11-5'
 SELECT TIME, POP, LAT, LONG  , FLOW, BULK_RED, EVENT_RATE  , SALINITY, TEMPERATURE, EVT, OPP, N  ,  FLUORESCENCE, CONC, FLAG  FROM [1314HOWE].[STATS.TAB]  WHERE TIME BETWEEN '2011-10-26' AND '2011-10-27'
 SELECT TIME, POP, LAT, LONG  , FLOW, BULK_RED, EVENT_RATE  , SALINITY, TEMPERATURE, EVT, OPP, N  ,  FLUORESCENCE, CONC, FLAG  FROM [1314HOWE].[STATS.TAB]  WHERE TIME BETWEEN '2011-10-31' AND '2011-11-1'
 SELECT TIME, POP, LAT, LONG  , FLOW, BULK_RED, EVENT_RATE  , SALINITY, TEMPERATURE, EVT, OPP, N  ,  FLUORESCENCE, CONC, FLAG  FROM [1314HOWE].[STATS.TAB]  WHERE TIME BETWEEN '2011-10-27' AND '2011-10-28'
 SELECT TIME, POP, LAT, LONG  , FLOW, BULK_RED, EVENT_RATE  , SALINITY, TEMPERATURE, EVT, OPP, N  ,  FLUORESCENCE, CONC, FLAG  FROM [1314HOWE].[STATS.TAB]  WHERE TIME BETWEEN '2011-11-1' AND '2011-11-2'
 SELECT TIME, POP, LAT, LONG  , FLOW, BULK_RED, EVENT_RATE  , SALINITY, TEMPERATURE, EVT, OPP, N  ,  FLUORESCENCE, CONC, FLAG  FROM [1314HOWE].[STATS.TAB]  WHERE TIME BETWEEN '2011-10-30' AND '2011-10-31'
7/20
 SELECT *  FROM [354].[BIVALVIA_METHYLATED_20CG_20AS_20BED.TXT.GFF]  WHERE SEQNAME = 'SCAFFOLD1009'
 SELECT *  FROM [354].[BIVALVIA_METHYLATED_20CG_20AS_20BED.TXT.GFF]  WHERE SEQNAME != 'SCAFFOLD1009'
 SELECT *  FROM [354].[BIVALVIA_METHYLATED_20CG_20AS_20BED.TXT.GFF]  WHERE SEQNAME = 'SCAFFOLD100'
 SELECT *  FROM [354].[BIVALVIA_METHYLATED_20CG_20AS_20BED.TXT.GFF]  WHERE SEQNAME != 'SCAFFOLD100'
4/4
 SELECT * FROM SYS.VIEWS WHERE NAME LIKE '%LOG%'
 SELECT * FROM SYS.VIEWS WHERE NAME LIKE '%ANON%'
2/3
 SELECT *  FROM [446].[UW_SALARIES_2011.TXT]  WHERE COLUMN6 IS NULL
 SELECT *  FROM [446].[UW_SALARIES_2011.TXT]  WHERE COLUMN6 IS NOT NULL
2/8
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE '%RSEARCH%SCI%'
 SELECT * FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE 'RES%SCI%PRI%'
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE 'R%EER %SENIOR%'
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE 1=1  AND JOB_TITLE LIKE '%RESEARCH%EER%SENIOR%'   ORDER BY  SALARY DESC
 SELECT * FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE '%ASSISTANT %PROF%'   ORDER BY  SALARY ASC
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE 'R%EER %'
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE 'R%EER %SR'
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE 1=1  AND JOB_TITLE LIKE '%ENGINEER%'   ORDER BY  SALARY DESC
 SELECT COUNT(*)  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE (JOB_TITLE LIKE '%SOFTWARE%'  OR JOB_TITLE LIKE '%COMPUTER SPECIALIST%')  AND SALARY > 100000
 SELECT * FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE '%ASSIS%PROF%'   ORDER BY  SALARY DESC
 SELECT * FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE '%ASS%PROF%'   ORDER BY  SALARY DESC
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE NAME LIKE 'ZETT%'
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE NAME LIKE 'TOMPA%'
 SELECT * FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE '%PRINCI%'
 SELECT * FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE 'PRI%RES%SCI%'
 SELECT COUNT(*)  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE (JOB_TITLE LIKE '%SOFTWARE%'  OR JOB_TITLE LIKE '%COMPUTER SPECIALIST%'  OR JOB_TITLE LIKE '%RESEARCH%ENG%')  AND SALARY > 80000
 SELECT COUNT(*)  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE (JOB_TITLE LIKE '%SOFTWARE%'  OR JOB_TITLE LIKE '%COMPUTER SPECIALIST%')  AND SALARY > 80000
 SELECT * FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE '%RESEARCH%SCI%'   ORDER BY  SALARY DESC
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE '%RESEARCH%SCI%4%'   ORDER BY  SALARY DESC
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE NAME LIKE 'ERNST%'
 SELECT COUNT(*)  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE (JOB_TITLE LIKE '%SOFTWARE%'  OR JOB_TITLE LIKE '%COMPUTER SPECIALIST%')  AND SALARY > 86000
 SELECT * FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE '%PRINCI%'   ORDER BY  SALARY DESC
 SELECT * FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE 'RES%SCI%EER%PRI%'   ORDER BY  SALARY DESC
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE 'R%EER %S%'
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE '%RESEARCH%SCI%'  AND SALARY < 90000   ORDER BY  SALARY DESC
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE '%RESEARCH%SCI%'   ORDER BY  SALARY DESC
 SELECT * FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE 'RES%SCI%EER PRI%'   ORDER BY  SALARY DESC
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE 1=1  AND JOB_TITLE LIKE '%RESEARCH%EER%'   ORDER BY  SALARY DESC
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE NAME LIKE '%GROSSMAN%'
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE '%RESEARCH%SCI%'  AND SALARY < 60000   ORDER BY  SALARY DESC
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE 1=1  AND JOB_TITLE LIKE '%RESEARCH%SCI%PRINC%'   ORDER BY  SALARY DESC
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE 'R%EER%SENIOR%'   ORDER BY  SALARY DESC
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE 1=1  AND JOB_TITLE LIKE '%SOFTWARE%'   ORDER BY  SALARY DESC
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE '%RESEARCH%SCI%3%'   ORDER BY  SALARY DESC
 SELECT * FROM [1314HOWE].[UW 2010 SALARIES]  WHERE NAME LIKE '%BALAZINSKA%'
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE 1=1  AND JOB_TITLE LIKE '%RESEARCH%EER %PRINC%'   ORDER BY  SALARY DESC
 SELECT SALARY  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE 1=1  AND JOB_TITLE LIKE '%RESEARCH%EER %PRINC%'   ORDER BY  SALARY DESC
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE '%SOFTWARE%'   ORDER BY  SALARY DESC
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE 'R%EER%4%'   ORDER BY  SALARY DESC
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE NAME LIKE '%ERNST%'
 SELECT AVG(SALARY)  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE 1=1  AND JOB_TITLE LIKE '%RESEARCH%EER %PRINC%'
 SELECT * FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE '%ASSISTANT %PROF%'   ORDER BY  SALARY DESC
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE '%RESEARCH%SCI%'
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE NAME LIKE 'POP%'
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE 'R%EER%SENIOR%'
 SELECT *  FROM [1314HOWE].[UW 2010 SALARIES]  WHERE NAME LIKE 'PATEL%'
 SELECT * FROM [1314HOWE].[UW 2010 SALARIES]  WHERE JOB_TITLE LIKE 'RES%SCI%PRI%'   ORDER BY  SALARY DESC
47/61
 SELECT L.DEPARTMENT, L.EMAIL, R.DEPARTMENT  FROM [1314HOWE].[UW_EMPLOYEES_DEPT.CSV] L,  [1314HOWE].[UW_EMPLOYEES_DEPT.CSV] R  WHERE L.EMAIL = R.EMAIL  AND L.DEPARTMENT < R.DEPARTMENT  AND L.EMAIL IN (  SELECT EMAIL  FROM [1314HOWE].[UW_EMPLOYEES_DEPT.CSV]   GROUP BY  EMAIL  HAVING COUNT(*) = 2  )
 SELECT L.DEPARTMENT, L.EMAIL, R.DEPARTMENT  FROM [1314HOWE].[UW_EMPLOYEES_DEPT.CSV] L,  [1314HOWE].[UW_EMPLOYEES_DEPT.CSV] R  WHERE L.EMAIL = R.EMAIL  AND L.DEPARTMENT < R.DEPARTMENT  AND L.EMAIL IN (  SELECT EMAIL  FROM [1314HOWE].[UW_EMPLOYEES_DEPT.CSV]   GROUP BY  EMAIL  HAVING COUNT(*) > 1  )
2/7
 SELECT COUNT(*) FROM [1314HOWE].[TABLE_OH_DATA_EXAMPLE.CSV]  WHERE SCHOOLID != 'SCHOOLID'
 SELECT * FROM [1314HOWE].[TABLE_OH_DATA_EXAMPLE.CSV]  WHERE SCHOOLID != 'SCHOOLID'
 SELECT * FROM [1314HOWE].[TABLE_OH_DATA_EXAMPLE.CSV]  WHERE SCHOOLID != 'BUILDING IRN'
 SELECT COUNT(*) FROM [1314HOWE].[TABLE_OH_DATA_EXAMPLE.CSV]  WHERE SCHOOLID != 'BUILDING IRN'
4/5
 SELECT CASE WHEN BUDGET = 'MOORE' THEN 'MOORE/SLOAN'  WHEN BUDGET = 'SLOAN' THEN 'MOORE/SLOAN'  ELSE BUDGET  END AS BUDGET  , CASE WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%OST-DOC%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'POSTDOC'  WHEN DESCRIPTION LIKE '%OST-DOC%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'POSTDOC'  ELSE CATEGORY_LABEL  END AS CATEGORY  , DESCRIPTION  , CASE  WHEN LEN(INV_DATE) <2 THEN NULL  WHEN PO_INVOICE = 'CR3566' THEN '9/1/2015'  ELSE CAST(INV_DATE AS DATE)  END AS INV_DATE  , CAST(CASE  WHEN BAR_AMT IS NULL THEN ENCUMBERED  ELSE BAR_AMT  END AS FLOAT) AS AMOUNT  , CD, PO_INVOICE, ENCUMBERED  FROM [1314HOWE].[ALL_OPERATIONS_DETAILS.CSV]  WHERE DESCRIPTION LIKE '%RES%'
 SELECT CASE WHEN BUDGET = 'MOORE' THEN 'MOORE/SLOAN'  WHEN BUDGET = 'SLOAN' THEN 'MOORE/SLOAN'  ELSE BUDGET  END AS BUDGET  , CASE WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%OST-DOC%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'POSTDOC'  WHEN DESCRIPTION LIKE '%OST-DOC%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'POSTDOC'  ELSE CATEGORY_LABEL  END AS CATEGORY  , DESCRIPTION  , CASE  WHEN LEN(INV_DATE) <2 THEN NULL  WHEN PO_INVOICE = 'CR3566' THEN '9/1/2015'  ELSE CAST(INV_DATE AS DATE)  END AS INV_DATE  , CAST(CASE  WHEN BAR_AMT IS NULL THEN ENCUMBERED  ELSE BAR_AMT  END AS FLOAT) AS AMOUNT  , CD, PO_INVOICE, ENCUMBERED  FROM [1314HOWE].[ALL_OPERATIONS_DETAILS.CSV]  WHERE DESCRIPTION LIKE '%RES%' AND CATEGORY_LABEL LIKE '%SCI%'
 SELECT SUM(BAR_AMT)  FROM [1314HOWE].[ALL_OPERATIONS_DETAILS.CSV]  WHERE CATEGORY_LABEL = 'SALARIES'  AND  DESCRIPTION LIKE '%OST-DOCS%'
 SELECT CASE WHEN BUDGET = 'MOORE' THEN 'MOORE/SLOAN'  WHEN BUDGET = 'SLOAN' THEN 'MOORE/SLOAN'  ELSE BUDGET  END AS BUDGET  , CASE WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%OSTDOC%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'POSTDOC'  ELSE CATEGORY_LABEL  END AS CATEGORY  , DESCRIPTION  , CASE  WHEN LEN(INV_DATE) <2 THEN NULL  WHEN PO_INVOICE = 'CR3566' THEN '9/1/2015'  ELSE CAST(INV_DATE AS DATE)  END AS INV_DATE  , CAST(CASE  WHEN BAR_AMT IS NULL THEN ENCUMBERED  ELSE BAR_AMT  END AS FLOAT) AS AMOUNT  , CD, PO_INVOICE, ENCUMBERED  FROM [1314HOWE].[ALL_OPERATIONS_DETAILS.CSV]  WHERE DESCRIPTION LIKE '%OST-DOCS%'
 SELECT CASE WHEN BUDGET = 'MOORE' THEN 'MOORE/SLOAN'  WHEN BUDGET = 'SLOAN' THEN 'MOORE/SLOAN'  ELSE BUDGET  END AS BUDGET  , CASE WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%OSTDOC%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'POSTDOC'  ELSE CATEGORY_LABEL  END AS CATEGORY  , DESCRIPTION  , CASE  WHEN LEN(INV_DATE) <2 THEN NULL  WHEN PO_INVOICE = 'CR3566' THEN '9/1/2015'  ELSE CAST(INV_DATE AS DATE)  END AS INV_DATE  , CAST(CASE  WHEN BAR_AMT IS NULL THEN ENCUMBERED  ELSE BAR_AMT  END AS FLOAT) AS AMOUNT  , CD, PO_INVOICE, ENCUMBERED  FROM [1314HOWE].[ALL_OPERATIONS_DETAILS.CSV]  WHERE DESCRIPTION LIKE '%OSTDOC%'
 SELECT SUM(BAR_AMT)  FROM [1314HOWE].[ALL_OPERATIONS_DETAILS.CSV]  WHERE CATEGORY_LABEL = 'SALARIES'  AND DESCRIPTION LIKE 'TOTAL POST-DOCS'
 SELECT CASE WHEN BUDGET = 'MOORE' THEN 'MOORE/SLOAN'  WHEN BUDGET = 'SLOAN' THEN 'MOORE/SLOAN'  ELSE BUDGET  END AS BUDGET  , CASE WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'STUDENTS'  ELSE CATEGORY_LABEL  END AS CATEGORY  , DESCRIPTION  , CASE  WHEN LEN(INV_DATE) <2 THEN NULL  WHEN PO_INVOICE = 'CR3566' THEN '9/1/2015'  ELSE CAST(INV_DATE AS DATE)  END AS INV_DATE  , CAST(CASE  WHEN BAR_AMT IS NULL THEN ENCUMBERED  ELSE BAR_AMT  END AS FLOAT) AS AMOUNT  , CD, PO_INVOICE, ENCUMBERED  FROM [1314HOWE].[ALL_OPERATIONS_DETAILS.CSV]  WHERE DESCRIPTION LIKE '%TUDENT%'
 SELECT CASE WHEN BUDGET = 'MOORE' THEN 'MOORE/SLOAN'  WHEN BUDGET = 'SLOAN' THEN 'MOORE/SLOAN'  ELSE BUDGET  END AS BUDGET  , CASE WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'FACULTY'  ELSE CATEGORY_LABEL  END AS CATEGORY  , DESCRIPTION  , CASE  WHEN LEN(INV_DATE) <2 THEN NULL  WHEN PO_INVOICE = 'CR3566' THEN '9/1/2015'  ELSE CAST(INV_DATE AS DATE)  END AS INV_DATE  , CAST(CASE  WHEN BAR_AMT IS NULL THEN ENCUMBERED  ELSE BAR_AMT  END AS FLOAT) AS AMOUNT  , CD, PO_INVOICE, ENCUMBERED  FROM [1314HOWE].[ALL_OPERATIONS_DETAILS.CSV]  WHERE DESCRIPTION LIKE '%TUDENT%'
 SELECT SUM(BAR_AMT)  FROM [1314HOWE].[ALL_OPERATIONS_DETAILS.CSV]  WHERE (CATEGORY_LABEL = 'SALARIES'  OR CATEGORY_LABEL = 'BENEFITS')  AND DESCRIPTION LIKE 'TOTAL POST-DOCS'
 SELECT CASE WHEN BUDGET = 'MOORE' THEN 'MOORE/SLOAN'  WHEN BUDGET = 'SLOAN' THEN 'MOORE/SLOAN'  ELSE BUDGET  END AS BUDGET  , CASE WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'FACULTY'  ELSE CATEGORY_LABEL  END AS CATEGORY  , DESCRIPTION  , CASE  WHEN LEN(INV_DATE) <2 THEN NULL  WHEN PO_INVOICE = 'CR3566' THEN '9/1/2015'  ELSE CAST(INV_DATE AS DATE)  END AS INV_DATE  , CAST(CASE  WHEN BAR_AMT IS NULL THEN ENCUMBERED  ELSE BAR_AMT  END AS FLOAT) AS AMOUNT  , CD, PO_INVOICE, ENCUMBERED  FROM [1314HOWE].[ALL_OPERATIONS_DETAILS.CSV]  WHERE DESCRIPTION LIKE '%FACULTY:%'
 SELECT CASE WHEN BUDGET = 'MOORE' THEN 'MOORE/SLOAN'  WHEN BUDGET = 'SLOAN' THEN 'MOORE/SLOAN'  ELSE BUDGET  END AS BUDGET  , CASE WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%OST-DOC%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'POSTDOC'  WHEN DESCRIPTION LIKE '%OST-DOC%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'POSTDOC'  ELSE CATEGORY_LABEL  END AS CATEGORY  , DESCRIPTION  , CASE  WHEN LEN(INV_DATE) <2 THEN NULL  WHEN PO_INVOICE = 'CR3566' THEN '9/1/2015'  ELSE CAST(INV_DATE AS DATE)  END AS INV_DATE  , CAST(CASE  WHEN BAR_AMT IS NULL THEN ENCUMBERED  ELSE BAR_AMT  END AS FLOAT) AS AMOUNT  , CD, PO_INVOICE, ENCUMBERED  FROM [1314HOWE].[ALL_OPERATIONS_DETAILS.CSV]  WHERE DESCRIPTION LIKE '%RES%' AND CATEGORY_LABEL LIKE '%RES%'
 SELECT SUM(BAR_AMT)  FROM [1314HOWE].[ALL_OPERATIONS_DETAILS.CSV]  WHERE (CATEGORY_LABEL = 'SALARIES'  OR CATEGORY_LABEL = 'BENEFITS')  AND DESCRIPTION LIKE '%OST-DOCS%'
 SELECT CASE WHEN BUDGET = 'MOORE' THEN 'MOORE/SLOAN'  WHEN BUDGET = 'SLOAN' THEN 'MOORE/SLOAN'  ELSE BUDGET  END AS BUDGET  , CASE WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%FACULTY:%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'FACULTY'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'SALARIES'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%TUDENTS%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'STUDENTS'  WHEN DESCRIPTION LIKE '%OSTDOC%' AND CATEGORY_LABEL = 'BENEFITS'  THEN 'POSTDOC'  ELSE CATEGORY_LABEL  END AS CATEGORY  , DESCRIPTION  , CASE  WHEN LEN(INV_DATE) <2 THEN NULL  WHEN PO_INVOICE = 'CR3566' THEN '9/1/2015'  ELSE CAST(INV_DATE AS DATE)  END AS INV_DATE  , CAST(CASE  WHEN BAR_AMT IS NULL THEN ENCUMBERED  ELSE BAR_AMT  END AS FLOAT) AS AMOUNT  , CD, PO_INVOICE, ENCUMBERED  FROM [1314HOWE].[ALL_OPERATIONS_DETAILS.CSV]  WHERE DESCRIPTION LIKE '%TUDENT%'
13/36
 SELECT SUM(AMOUNT)  FROM [1314HOWE].[ESCIENCE_SPEND_11_2015]  WHERE CATEGORY = 'POSTDOC'
 SELECT * FROM [1314HOWE].[ESCIENCE_SPEND_11_2015]  WHERE CATEGORY = 'SUB-BUDGETS'
2/6

 SELECT * FROM [1352].[GO_SLIMS]  WHERE DEF LIKE '%XIDATIVE%'
 SELECT * FROM [1352].[GO_SLIMS]  WHERE DEF LIKE '%STRESS%'
2/2
 SELECT * FROM [826].[FRACYINTERPROSCAN]  WHERE INTERPROENTRY != NULL
 SELECT * FROM [826].[FRACYINTERPROSCAN]  WHERE INTERPROENTRY != 'NULL'
2/3
 SELECT * FROM [826].[PMUREASIGDEONLY05PVALUECUTOFF.TXT] UREA  INNER JOIN [826].[TABLE_PMSISTARVESIGDEONLY05PVALUECUTOFF.TXT] SI  ON UREA.UREA_TRANSCRIPTID = SI.SI_TRANSCRIPTID  WHERE SI.SI_LOGFC < 1  AND UREA.UREA_LOGFC < 1;
 SELECT * FROM [826].[PMUREASIGDEONLY05PVALUECUTOFF.TXT] UREA  INNER JOIN [826].[TABLE_PMSISTARVESIGDEONLY05PVALUECUTOFF.TXT] SI  ON UREA.UREA_TRANSCRIPTID = SI.SI_TRANSCRIPTID  WHERE SI.SI_LOGFC < -1  AND UREA.UREA_LOGFC < -1;
2/4
 SELECT * FROM [826].[UREASIP_DEDOWN_SHARED]  WHERE P_PVALUE < 0.000001  AND SI_PVALUE < 0.000001  AND UREA_PVALUE < 0.000001  AND P_LOGFC < 1  AND SI_LOGFC < 1  AND UREA_LOGFC < 1;
 SELECT * FROM [826].[UREASIP_DEDOWN_SHARED]  WHERE P_PVALUE < 0.000001  AND SI_PVALUE < 0.000001  AND UREA_PVALUE < 0.000001  AND P_LOGFC < -1  AND SI_LOGFC < -1  AND UREA_LOGFC < -1;
2/5
 SELECT * FROM [826].[DEUREA_BH.CSV]  WHERE LOGFC > 0  AND BH < 0.0001
 SELECT * FROM [826].[DEUREA_BH.CSV]  WHERE LOGFC > 2  AND BH < 0.0001
 SELECT * FROM [826].[DEUREA_BH.CSV]  WHERE LOGFC > 1  AND BH < 0.0001
3/4
 SELECT * FROM [826].[DE.TAB.IPR.CSV]  WHERE LOGFC < 0  AND BH < 0.1
 SELECT * FROM [826].[DE.TAB.IPR.CSV]  WHERE LOGFC < 0  AND BH < 0.0001
 SELECT * FROM [826].[DE.TAB.IPR.CSV]  WHERE LOGFC < 0  AND BH < 0.05
 SELECT * FROM [826].[DE.TAB.IPR.CSV]  WHERE LOGFC > 0  AND BH < 0.1
 SELECT * FROM [826].[DE.TAB.IPR.CSV]  WHERE LOGFC > 0  AND BH < 0.0001
 SELECT * FROM [826].[DE.TAB.IPR.CSV]  WHERE LOGFC > 0  AND BH < 0.05
6/6
 SELECT * FROM [826].[GENEMODELPOSITIONS.TXT]  WHERE PROXIMITY < 200  AND PROXIMITY > 0
 SELECT * FROM [826].[GENEMODELPOSITIONS.TXT]  WHERE PROXIMITY < 100  AND PROXIMITY > 0
2/3
 SELECT * FROM [826].[PSEMU1_GENE_MODELS_POSITIONS.TXT]  WHERE PROXIMITY > 0  AND PROXIMITY < 500
 SELECT * FROM [826].[PSEMU1_GENE_MODELS_POSITIONS.TXT]  WHERE PROXIMITY < 0  AND PROXIMITY > -2000
 SELECT * FROM [826].[PSEMU1_GENE_MODELS_POSITIONS.TXT]  WHERE PROXIMITY < 0  AND PROXIMITY > -1000
3/4
 SELECT FUNCTION_1,SPECTRA_COUNTS  FROM [446].[LINEP_CAMERA_ANNOTATION]  WHERE FINALTAXONOMY LIKE 'PELAGIBACTER'
 SELECT *  FROM [446].[LINEP_CAMERA_ANNOTATION]  WHERE FUNCTION_1 LIKE '%FE%'
 SELECT *  FROM [446].[LINEP_CAMERA_ANNOTATION]  WHERE FUNCTION_1 LIKE 'IRON'
 SELECT *  FROM [446].[LINEP_CAMERA_ANNOTATION]  WHERE FUNCTION_1 LIKE '%IRON%'  OR FUNCTION_1 LIKE '%FE%'
 SELECT FUNCTION_1,SPECTRA_COUNTS  FROM [446].[LINEP_CAMERA_ANNOTATION]  WHERE FINALTAXONOMY LIKE '%PELAGIBACTER%'
 SELECT FILENUMBER,FUNCTION_1,SPECTRA_COUNTS  FROM [446].[LINEP_CAMERA_ANNOTATION]  WHERE FINALTAXONOMY LIKE '%PELAGIBACTER%'
 SELECT *  FROM [446].[LINEP_CAMERA_ANNOTATION]  WHERE FUNCTION_1 LIKE 'FE'
 SELECT FUNCTION_1,SPECTRA_COUNTS  FROM [446].[LINEP_CAMERA_ANNOTATION]  WHERE FINALTAXONOMY LIKE '.*PELAGIBACTER.*'
 SELECT *  FROM [446].[LINEP_CAMERA_ANNOTATION]  WHERE FUNCTION_1 LIKE '%IRON%'  OR FUNCTION_1 LIKE '%FE[^A-Z]%'
 SELECT *  FROM [446].[LINEP_CAMERA_ANNOTATION]  WHERE FUNCTION_1 LIKE '%IRON%'
10/32
 SELECT *  FROM [446].[V2_GEOMICS_CTD_RAWDATA.CSV]  WHERE EVENT < 1000 OR EVENT > 1046
 SELECT *  FROM [446].[V2_GEOMICS_CTD_RAWDATA.CSV]  WHERE EVENT < 1001 OR EVENT > 1038
 SELECT *  FROM [446].[V2_GEOMICS_CTD_RAWDATA.CSV]  WHERE EVENT < 1000 OR EVENT > 1020
 SELECT *  FROM [446].[V2_GEOMICS_CTD_RAWDATA.CSV]  WHERE EVENT < 1000 OR EVENT > 1010
 SELECT *  FROM [446].[V2_GEOMICS_CTD_RAWDATA.CSV]  WHERE EVENT < 1000 OR EVENT > 1040
 SELECT *  FROM [446].[V2_GEOMICS_CTD_RAWDATA.CSV]  WHERE EVENT < 1000 OR EVENT > 1004
 SELECT *  FROM [446].[V2_GEOMICS_CTD_RAWDATA.CSV]  WHERE EVENT < 1000 OR EVENT > 1037
 SELECT *  FROM [446].[V2_GEOMICS_CTD_RAWDATA.CSV]  WHERE EVENT < 1000 OR EVENT > 1038
 SELECT *  FROM [446].[V2_GEOMICS_CTD_RAWDATA.CSV]  WHERE EVENT < 1000 OR EVENT > 1005
 SELECT *  FROM [446].[V2_GEOMICS_CTD_RAWDATA.CSV]  WHERE EVENT < 1000 OR EVENT > 1035
10/31
 SELECT *  FROM [446].[LINEP_CAMERA_ANNOTATION_FULL]  WHERE FUNCTION_1 LIKE '%[^A-Z]FE[^A-Z]%'
 SELECT *  FROM [446].[LINEP_CAMERA_ANNOTATION_FULL]  WHERE FUNCTION_1 LIKE '%[^A-Z]FE%'
 SELECT *  FROM [446].[LINEP_CAMERA_ANNOTATION_FULL]  WHERE FUNCTION_1 LIKE '%FE[^A-Z]%'
3/16
 SELECT ORDERED.LABEL  , ORDERED.FINALTAXONOMY  , ORDERED.TAXA  FROM (SELECT ROW_NUMBER() OVER (PARTITION BY LABEL  ORDER BY  TAXA DESC) AS ROWNUM  , LABEL  , FINALTAXONOMY  , TAXA  FROM [446].[LINEP_CAMERA_ANNOTATION_FINALTAXONOMY_TAXA]) ORDERED  WHERE ORDERED.ROWNUM <= 3
 SELECT ORDERED.LABEL  , ORDERED.FINALTAXONOMY  , ORDERED.TAXA  FROM (SELECT ROW_NUMBER() OVER (PARTITION BY LABEL  ORDER BY  TAXA DESC) AS ROWNUM  , LABEL  , FINALTAXONOMY  , TAXA  FROM [446].[LINEP_CAMERA_ANNOTATION_FINALTAXONOMY_TAXA]) ORDERED  WHERE ORDERED.ROWNUM <= 5
 SELECT *  FROM (SELECT ROW_NUMBER() OVER (PARTITION BY LABEL  ORDER BY  TAXA DESC) AS ROWNUM  , LABEL  , FINALTAXONOMY  , TAXA  FROM [446].[LINEP_CAMERA_ANNOTATION_FINALTAXONOMY_TAXA]) ORDERED  WHERE ORDERED.ROWNUM <= 3
 SELECT GEOKEY.STATION  , ORDERED.FINALTAXONOMY  , ORDERED.TAXA  FROM (SELECT ROW_NUMBER() OVER (PARTITION BY LABEL  ORDER BY  TAXA DESC) AS ROWNUM  , LABEL  , FINALTAXONOMY  , TAXA  FROM [446].[LINEP_CAMERA_ANNOTATION_FINALTAXONOMY_TAXA]) ORDERED  JOIN [446].[GEOMICS_KEY.CSV] GEOKEY  ON ORDERED.LABEL = GEOKEY.LABEL  WHERE ORDERED.ROWNUM <= 5
 SELECT ORDERED.STATION  , ORDERED.FINALTAXONOMY  , ORDERED.TAXA  FROM (SELECT ROW_NUMBER() OVER (PARTITION BY PROTEIN.LABEL  ORDER BY  TAXA DESC) AS ROWNUM  , GEOKEY.STATION  , PROTEIN.FINALTAXONOMY  , PROTEIN.TAXA  FROM [446].[LINEP_CAMERA_ANNOTATION_FINALTAXONOMY_TAXA] PROTEIN  JOIN [446].[GEOMICS_KEY.CSV] GEOKEY  ON GEOKEY.LABEL = PROTEIN.LABEL) ORDERED  WHERE ORDERED.ROWNUM <= 5
5/5
 SELECT * FROM  [446].[SAITO_CODATA_SUBMITTED.CSV] AS MAIN,  [446].[1341LS_AND_NUTRIENTS] AS MET  WHERE  MAIN.STATION = MET.STATION AND  MAIN.[DEPTH (M)] = MET.[DEPTH..M.] AND  MAIN.[DEPTH (M)] >499
 SELECT * FROM  [446].[SAITO_CODATA_SUBMITTED.CSV] AS MAIN,  [446].[1341LS_AND_NUTRIENTS] AS MET  WHERE  MAIN.STATION = MET.STATION AND  MAIN.[DEPTH (M)] = MET.[DEPTH..M.] AND  MAIN.[DEPTH (M)] >200
2/5
 SELECT COUNT(*) FROM [446].[TABLE_P8-A.TOP1000.SORTED.NR.TAB]  WHERE [HIT.DESCRIPTION] LIKE '%RIBOSOMAL%'
 SELECT [RELATIVE ABUNDANCE],[HIT.DESCRIPTION] FROM [446].[TABLE_P8-A.TOP1000.SORTED.NR.TAB] WHERE [HIT.DESCRIPTION] LIKE '%RIBOSOMAL%'
 SELECT [RELATIVE ABUNDANCE] [HIT.DESCRIPTION] FROM [446].[TABLE_P8-A.TOP1000.SORTED.NR.TAB]  WHERE [HIT.DESCRIPTION] = 'UBIQUITIN B, ISOFORM CRA_E [HOMO SAPIENS]'
 SELECT COUNT([HIT.DESCRIPTION]) FROM [446].[TABLE_P8-A.TOP1000.SORTED.NR.TAB] WHERE [HIT.DESCRIPTION] LIKE '%RIBOSOMAL%'
 SELECT [HIT.DESCRIPTION] FROM [446].[TABLE_P8-A.TOP1000.SORTED.NR.TAB] WHERE [HIT.DESCRIPTION] LIKE '%RIBOSOMAL%'
 SELECT [HIT.DESCRIPTION] FROM [446].[TABLE_P8-A.TOP1000.SORTED.NR.TAB]  WHERE [HIT.DESCRIPTION] = 'UBIQUITIN B, ISOFORM CRA_E [HOMO SAPIENS]'
 SELECT [RELATIVE ABUNDANCE],[HIT.DESCRIPTION] FROM [446].[TABLE_P8-A.TOP1000.SORTED.NR.TAB] WHERE [HIT.DESCRIPTION] = '*RIBOSOMAL*'
 SELECT [RELATIVE ABUNDANCE],[HIT.DESCRIPTION] FROM [446].[TABLE_P8-A.TOP1000.SORTED.NR.TAB] WHERE [HIT.DESCRIPTION] = 'PREDICTED: UBIQUITIN-60S RIBOSOMAL PROTEIN L40 [SARCOPHILUS HARRISII]'
 SELECT * FROM [446].[TABLE_P8-A.TOP1000.SORTED.NR.TAB]  WHERE [HIT.DESCRIPTION] LIKE '%RIBOSOMAL%'
 SELECT [RELATIVE ABUNDANCE],[HIT.DESCRIPTION] FROM [446].[TABLE_P8-A.TOP1000.SORTED.NR.TAB] WHERE [HIT.DESCRIPTION] = 'RIBOSOMAL'
 SELECT [RELATIVE ABUNDANCE],[HIT.DESCRIPTION] FROM [446].[TABLE_P8-A.TOP1000.SORTED.NR.TAB] WHERE [HIT.DESCRIPTION] = '*UREA*'
 SELECT * FROM [446].[TABLE_P8-A.TOP1000.SORTED.NR.TAB]  WHERE [HIT.DESCRIPTION] LIKE '%SODIUM%'
 SELECT * FROM [446].[TABLE_P8-A.TOP1000.SORTED.NR.TAB]  WHERE [HIT.DESCRIPTION] LIKE '%UREA%'
 SELECT * FROM [446].[TABLE_P8-A.TOP1000.SORTED.NR.TAB]  WHERE [HIT.DESCRIPTION] LIKE '%NRAMP%'
 SELECT [RELATIVE ABUNDANCE],[HIT.DESCRIPTION] FROM [446].[TABLE_P8-A.TOP1000.SORTED.NR.TAB]  WHERE [HIT.DESCRIPTION] = 'UBIQUITIN B, ISOFORM CRA_E [HOMO SAPIENS]'
 SELECT * FROM [446].[TABLE_P8-A.TOP1000.SORTED.NR.TAB]  WHERE [HIT.DESCRIPTION] LIKE '%UBIQUITIN%'
 SELECT SUM([RELATIVE ABUNDANCE]) FROM [446].[TABLE_P8-A.TOP1000.SORTED.NR.TAB]  WHERE [HIT.DESCRIPTION] LIKE '%RIBOSOMAL%'
 SELECT [RELATIVE ABUNDANCE][HIT.DESCRIPTION] FROM [446].[TABLE_P8-A.TOP1000.SORTED.NR.TAB] WHERE [HIT.DESCRIPTION] LIKE '%RIBOSOMAL%'

18/18
 SELECT * FROM [446].[FUNCTION_MAP]  WHERE [FUNCTION] LIKE '%RAMP%'
 SELECT * FROM [446].[FUNCTION_MAP]  WHERE [FUNCTION] LIKE '%NRAMP%'
2/2
 SELECT [TIME], [OCEAN_TMP] FROM [1059].[SEAFLOW ALL QUERY] WHERE [TIME] <= '12/9/2014 12:15:03 AM'
 SELECT [TIME], [OCEAN_TMP] FROM [1059].[SEAFLOW ALL QUERY] WHERE [TIME] <= '12/9/2014 12:15:03'
 SELECT [TIME], [OCEAN_TMP] FROM [1059].[SEAFLOW ALL QUERY] WHERE [TIME] <= '12/9/2014 00:15:03'
3/20
 SELECT  A.[TIME], SALINITY, OCEAN_TMP, PAR, [VELOCITY (KNOTS)] AS VELOCITY,  B.PROCHLORO AS PROCHLORO_CONC, B.SYNECHO AS SYNECHO_CONC, B.PICOEUK AS PICOEUK_CONC, B.BEADS AS BEADS_CONC,  C.PROCHLORO AS PROCHLORO_SIZE, C.SYNECHO AS SYNECHO_SIZE, C.PICOEUK AS PICOEUK_SIZE, C.BEADS AS BEADS_SIZE,  (ISNULL(B.PROCHLORO, 0) + ISNULL(B.SYNECHO, 0) + ISNULL(B.PICOEUK, 0) + ISNULL(B.BEADS, 0)) AS TOTAL_CONC  FROM  [1059].[SFL_VIEW] AS A,  [1059].[SEAFLOW: POPULATION-WISE CONCENTRATIONS] AS B,  [1059].[SEAFLOW: POPULATION-WISE SIZE (FSC_SMALL)] AS C,  [1059].[SEAFLOW: VELOCITY] AS D  WHERE  A.[TIME] = B.[TIME]  AND  A.[TIME] = C.[TIME]  AND  A.[TIME] = D.[DATETIME]  AND  A.[TIME] > '12/10/2014 17:30:13 PM'   ORDER BY  A.[TIME] ASC
 SELECT  A.[TIME], SALINITY, OCEAN_TMP, IIF(PAR < 0, 0, PAR) AS PAR, [VELOCITY (KNOTS)] AS VELOCITY,  B.PROCHLORO AS PROCHLORO_CONC, B.SYNECHO AS SYNECHO_CONC, B.PICOEUK AS PICOEUK_CONC, B.BEADS AS BEADS_CONC,  C.PROCHLORO AS PROCHLORO_SIZE, C.SYNECHO AS SYNECHO_SIZE, C.PICOEUK AS PICOEUK_SIZE, C.BEADS AS BEADS_SIZE,  (ISNULL(B.PROCHLORO, 0) + ISNULL(B.SYNECHO, 0) + ISNULL(B.PICOEUK, 0) + ISNULL(B.BEADS, 0)) AS TOTAL_CONC  FROM  [1059].[SFL_VIEW] AS A,  [1059].[SEAFLOW: POPULATION-WISE CONCENTRATIONS] AS B,  [1059].[SEAFLOW: POPULATION-WISE SIZE (FSC_SMALL)] AS C,  [1059].[SEAFLOW: VELOCITY] AS D  WHERE  A.[TIME] = B.[TIME]  AND  A.[TIME] = C.[TIME]  AND  A.[TIME] = D.[DATETIME]  AND  A.[TIME] > '12/09/2014 6:30:13 AM'   ORDER BY  A.[TIME] DESC
 SELECT  A.[TIME], SALINITY, OCEAN_TMP, PAR, [VELOCITY (KNOTS)] AS VELOCITY,  B.PROCHLORO AS PROCHLORO_CONC, B.SYNECHO AS SYNECHO_CONC, B.PICOEUK AS PICOEUK_CONC, B.BEADS AS BEADS_CONC,  C.PROCHLORO AS PROCHLORO_SIZE, C.SYNECHO AS SYNECHO_SIZE, C.PICOEUK AS PICOEUK_SIZE, C.BEADS AS BEADS_SIZE,  (ISNULL(B.PROCHLORO, 0) + ISNULL(B.SYNECHO, 0) + ISNULL(B.PICOEUK, 0) + ISNULL(B.BEADS, 0)) AS TOTAL_CONC  FROM  [1059].[SFL_VIEW] AS A,  [1059].[SEAFLOW: POPULATION-WISE CONCENTRATIONS] AS B,  [1059].[SEAFLOW: POPULATION-WISE SIZE (FSC_SMALL)] AS C,  [1059].[SEAFLOW: VELOCITY] AS D  WHERE  A.[TIME] = B.[TIME]  AND  A.[TIME] = C.[TIME]  AND  A.[TIME] = D.[DATETIME]  AND  A.[TIME] > '12/10/2014 18:00:13 PM'   ORDER BY  A.[TIME] ASC
 SELECT  A.[TIME], SALINITY, OCEAN_TMP, PAR, [VELOCITY (KNOTS)] AS VELOCITY,  B.PROCHLORO AS PROCHLORO_CONC, B.SYNECHO AS SYNECHO_CONC, B.PICOEUK AS PICOEUK_CONC, B.BEADS AS BEADS_CONC,  C.PROCHLORO AS PROCHLORO_SIZE, C.SYNECHO AS SYNECHO_SIZE, C.PICOEUK AS PICOEUK_SIZE, C.BEADS AS BEADS_SIZE,  (ISNULL(B.PROCHLORO, 0) + ISNULL(B.SYNECHO, 0) + ISNULL(B.PICOEUK, 0) + ISNULL(B.BEADS, 0)) AS TOTAL_CONC  FROM  [1059].[SFL_VIEW] AS A,  [1059].[SEAFLOW: POPULATION-WISE CONCENTRATIONS] AS B,  [1059].[SEAFLOW: POPULATION-WISE SIZE (FSC_SMALL)] AS C,  [1059].[SEAFLOW: VELOCITY] AS D  WHERE  A.[TIME] = B.[TIME]  AND  A.[TIME] = C.[TIME]  AND  A.[TIME] = D.[DATETIME]  AND  A.[TIME] > '12/09/2014 6:30:13 AM'   ORDER BY  A.[TIME] ASC
 SELECT  A.[TIME], SALINITY, OCEAN_TMP, IIF(PAR < 0, 0, PAR) AS PAR, [VELOCITY (KNOTS)] AS VELOCITY,  B.PROCHLORO AS PROCHLORO_CONC, B.SYNECHO AS SYNECHO_CONC, B.PICOEUK AS PICOEUK_CONC, B.BEADS AS BEADS_CONC,  C.PROCHLORO AS PROCHLORO_SIZE, C.SYNECHO AS SYNECHO_SIZE, C.PICOEUK AS PICOEUK_SIZE, C.BEADS AS BEADS_SIZE,  (ISNULL(B.PROCHLORO, 0) + ISNULL(B.SYNECHO, 0) + ISNULL(B.PICOEUK, 0) + ISNULL(B.BEADS, 0)) AS TOTAL_CONC  FROM  [1059].[SFL_VIEW] AS A,  [1059].[SEAFLOW: POPULATION-WISE CONCENTRATIONS] AS B,  [1059].[SEAFLOW: POPULATION-WISE SIZE (FSC_SMALL)] AS C,  [1059].[SEAFLOW: VELOCITY] AS D  WHERE  A.[TIME] = B.[TIME]  AND  A.[TIME] = C.[TIME]  AND  A.[TIME] = D.[DATETIME]  AND  A.[TIME] > '12/09/2014 6:30:13 AM'   ORDER BY  A.[TIME] ASC
5/11
 SELECT [TIME], ATTENUATION, [TYPE] FROM [1059].[SEAFLOW: 3 MINUTE ATTENUATION TYPED] WHERE [TIME] > '2015-03-24T19:57:01.000Z' AND [TYPE] != 'MIXED'  ORDER BY  [TIME] ASC
 SELECT [TIME], ATTENUATION, [TYPE] FROM [1059].[SEAFLOW: 3 MINUTE ATTENUATION TYPED] WHERE [TIME] > '2015-03-24T20:57:01.000Z' AND [TYPE] != 'MIXED'  ORDER BY  [TIME] DESC
 SELECT [TIME], ATTENUATION, [TYPE] FROM [1059].[SEAFLOW: 3 MINUTE ATTENUATION TYPED] WHERE [TIME] > '2015-03-24T20:57:01.000Z' AND [TYPE] != 'MIXED'  ORDER BY  [TIME] ASC
3/8
 SELECT * FROM [1059].[TABLE_SFL.CSV7A9FF]  WHERE LON < -30
 SELECT * FROM [1059].[TABLE_SFL.CSV7A9FF]  WHERE LON > -158
 SELECT * FROM [1059].[TABLE_SFL.CSV7A9FF]  WHERE LON > -30
 SELECT * FROM [1059].[TABLE_SFL.CSV7A9FF]  WHERE LON < -159
 SELECT * FROM [1059].[TABLE_SFL.CSV7A9FF]  WHERE LON > -155
 SELECT * FROM [1059].[TABLE_SFL.CSV7A9FF]  WHERE LON > -157.5
 SELECT * FROM [1059].[TABLE_SFL.CSV7A9FF]  WHERE LON > 0
 SELECT * FROM [1059].[TABLE_SFL.CSV7A9FF]  WHERE LON < 0
8/10
 SELECT S.SSGCIDID, S.UNIPROT, EC."EC NUMBERS" AS EC_NUMBER, EC."DATABASE" AS EC_SOURCE, EC.ENZYME_ID AS EC_SOURCE_ID,  S.ANNOTATION, S.GENUS, S.CLASS, S.SUPERKINGDOM, S.FAMILYID  FROM [UNIQUE_EC_MAPPED_TO_UNIPROT] EC  JOIN [SSGCID_UNIPROT.CSV] S ON (S.UNIPROT = EC.ACCESSION)  WHERE  EC."EC NUMBERS" = '1.14.99.42'
 SELECT S.SSGCIDID, S.UNIPROT, EC."EC NUMBERS" AS EC_NUMBER, EC."DATABASE" AS EC_SOURCE, EC.ENZYME_ID AS EC_SOURCE_ID,  S.ANNOTATION, S.GENUS, S.CLASS, S.SUPERKINGDOM, S.FAMILYID  FROM [UNIQUE_EC_MAPPED_TO_UNIPROT] EC  JOIN [SSGCID_UNIPROT.CSV] S ON (S.UNIPROT = EC.ACCESSION)  WHERE EC."EC NUMBERS" = '1.3.99.3'
 SELECT DISTINCT(S.ANNOTATION)  FROM [UNIQUE_EC_MAPPED_TO_UNIPROT] EC  JOIN [SSGCID_UNIPROT.CSV] S ON (S.UNIPROT = EC.ACCESSION)  WHERE EC."EC NUMBERS" = '1.3.99.3'
 SELECT S.SSGCIDID, EC."EC NUMBERS", EC."DATABASE", S.ANNOTATION  FROM [UNIQUE_EC_MAPPED_TO_UNIPROT] EC  JOIN [SSGCID_UNIPROT.CSV] S ON (S.UNIPROT = EC.ACCESSION)  WHERE ANNOTATION LIKE '%.%.%.%' AND EC."DATABASE" <> '%UNIPROT%'   ORDER BY  EC."DATABASE", EC."EC NUMBERS"
 SELECT S.SSGCIDID, EC."EC NUMBERS", EC."DATABASE", S.ANNOTATION  FROM [UNIQUE_EC_MAPPED_TO_UNIPROT] EC  JOIN [SSGCID_UNIPROT.CSV] S ON (S.UNIPROT = EC.ACCESSION)  WHERE ANNOTATION LIKE '%.%.%.%' AND EC."DATABASE" <> 'UNIPROT%'   ORDER BY  EC."DATABASE", EC."EC NUMBERS"
5/28
 SELECT *  FROM [EC_PATHWAY.CSV]  WHERE EC_NUMBER ='2.1.1.79'
 SELECT *  FROM [EC_PATHWAY.CSV]  WHERE EC_NUMBER ='2.3.2.2'
 SELECT *  FROM [EC_PATHWAY.CSV]  WHERE EC_NUMBER ='1.16.3.1'
3/66
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('2.7.1.45',  '3.1.1.17',  '4.2.1.39',  '5.1.3.3')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('1.1.1.47',  '1.2.1.3',  '2.7.1.40',  '2.7.1.45',  '3.1.1.17',  '4.1.2.14',  '4.2.1.39',  '5.1.3.3',  '5.4.2.1')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('2.1.1.64',  '2.5.1.39')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('1.1.1.47',  '1.2.1.3',  '2.7.1.40',  '2.7.1.45',  '3.1.1.17',  '4.1.2.14',  '4.2.1.11',  '4.2.1.39',  '5.1.3.3',  '5.4.2.1')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('1.1.1.47',  '2.7.1.40',  '2.7.1.45',  '3.1.1.17',  '4.1.2.14',  '4.2.1.39',  '5.1.3.3')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('3.1.2.4')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('1.3.3.6',  '5.3.3.8')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('1.3.1.34')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('3.1.1.24')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('1.1.1.59',  '2.6.1.18',  '4.2.1.116',  '6.2.1.17')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('3.1.2.23',  '6.2.1.12')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('2.1.1.201')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('1.1.1.35',  '2.3.1.16',  '4.2.1.17')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('1.3.99.3')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('1.1.1.47',  '2.7.1.45',  '3.1.1.17',  '4.1.2.14',  '4.2.1.39',  '5.1.3.3')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('1.1.1.47',  '2.7.1.45',  '3.1.1.17',  '4.2.1.39',  '5.1.3.3')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('1.1.99.31',  '1.2.1.28',  '1.2.1.7',  '4.1.1.7',  '5.1.2.2')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('2.1.1.163')

 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('5.3.3.4',  '5.4.99.14',  '5.5.1.7')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('2.5.1.74')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('1.14.99.42')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('1.1.1.47',  '2.7.1.40',  '2.7.1.45',  '3.1.1.17',  '4.1.2.14',  '4.2.1.39',  '5.1.3.3',  '5.4.2.1')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('2.1.1.114')
 SELECT * FROM [SSGCID_EC_MAP]  WHERE EC_NUMBER IN  ('1.2.99.3')
24/72
 SELECT TEP.PATHWAY_NAME, TEG.ENZYMES_SELECTED, TEG.GENUS, TEP.ENZYMES_IN_PATHWAY, (100*TEG.ENZYMES_SELECTED)/TEP.ENZYMES_IN_PATHWAY AS PERCENTAGE_COVERED  FROM [TOTAL_ENZYMES_PER_PATHWAY] TEP  JOIN [TOTAL_ENZYMES_PER_GENUS] TEG ON TEG.PATHWAY_NAME = TEP.PATHWAY_NAME  WHERE TEP.ENZYMES_IN_PATHWAY > 2   ORDER BY  TEG.GENUS, PERCENTAGE_COVERED DESC, TEP.ENZYMES_IN_PATHWAY DESC
 SELECT TEP.PATHWAY_NAME, TEG.ENZYMES_SELECTED, TEG.GENUS, TEP.ENZYMES_IN_PATHWAY, (100*TEG.ENZYMES_SELECTED)/TEP.ENZYMES_IN_PATHWAY AS PERCENTAGE_COVERED  FROM [TOTAL_ENZYMES_PER_PATHWAY] TEP  JOIN [TOTAL_ENZYMES_PER_GENUS] TEG ON TEG.PATHWAY_NAME = TEP.PATHWAY_NAME  WHERE TEP.ENZYMES_IN_PATHWAY > 2   ORDER BY  PERCENTAGE_COVERED DESC, TEP.ENZYMES_IN_PATHWAY DESC
 SELECT TEP.PATHWAY_NAME, TEG.ENZYMES_SELECTED, TEP.ENZYMES_IN_PATHWAY, (100*TEG.ENZYMES_SELECTED)/TEP.ENZYMES_IN_PATHWAY AS PERCENTAGE_COVERED  FROM [TOTAL_ENZYMES_PER_PATHWAY] TEP  JOIN [TOTAL_ENZYMES_PER_GENUS] TEG ON TEG.PATHWAY_NAME = TEP.PATHWAY_NAME  WHERE TEP.ENZYMES_IN_PATHWAY > 2   ORDER BY  PERCENTAGE_COVERED DESC, TEP.ENZYMES_IN_PATHWAY DESC
 SELECT TEP.PATHWAY_NAME, TEG.ENZYMES_SELECTED, TEP.ENZYMES_IN_PATHWAY, ((10000*TEG.ENZYMES_SELECTED)/(100*TEP.ENZYMES_IN_PATHWAY)) AS PERCENTAGE_COVERED  FROM [TOTAL_ENZYMES_PER_PATHWAY] TEP  JOIN [TOTAL_ENZYMES_PER_GENUS] TEG ON TEG.PATHWAY_NAME = TEP.PATHWAY_NAME  WHERE TEP.ENZYMES_IN_PATHWAY > 2   ORDER BY  PERCENTAGE_COVERED DESC, TEP.ENZYMES_IN_PATHWAY DESC
 SELECT TEP.PATHWAY_ID, TEP.PATHWAY_NAME, TEG.ENZYMES_SELECTED, TEG.GENUS, TEP.ENZYMES_IN_PATHWAY, (100*TEG.ENZYMES_SELECTED)/TEP.ENZYMES_IN_PATHWAY AS PERCENTAGE_COVERED  FROM [TOTAL_ENZYMES_PER_PATHWAY] TEP  JOIN [TOTAL_ENZYMES_PER_GENUS] TEG ON TEG.PATHWAY_NAME = TEP.PATHWAY_NAME  WHERE TEP.ENZYMES_IN_PATHWAY > 2   ORDER BY  TEP.PATHWAY_NAME, PERCENTAGE_COVERED DESC, TEP.ENZYMES_IN_PATHWAY DESC
 SELECT TEP.PATHWAY_NAME, TEG.ENZYMES_SELECTED, TEP.ENZYMES_IN_PATHWAY, (100*TEG.ENZYMES_SELECTED/100*TEP.ENZYMES_IN_PATHWAY) AS PERCENTAGE_COVERED  FROM [TOTAL_ENZYMES_PER_PATHWAY] TEP  JOIN [TOTAL_ENZYMES_PER_GENUS] TEG ON TEG.PATHWAY_NAME = TEP.PATHWAY_NAME  WHERE TEP.ENZYMES_IN_PATHWAY > 2   ORDER BY  PERCENTAGE_COVERED DESC, TEP.ENZYMES_IN_PATHWAY DESC
 SELECT TEP.PATHWAY_NAME, TEG.ENZYMES_SELECTED, TEP.ENZYMES_IN_PATHWAY, (TEG.ENZYMES_SELECTED/TEP.ENZYMES_IN_PATHWAY)*100 AS PERCENTAGE_COVERED  FROM [TOTAL_ENZYMES_PER_PATHWAY] TEP  JOIN [TOTAL_ENZYMES_PER_GENUS] TEG ON TEG.PATHWAY_NAME = TEP.PATHWAY_NAME  WHERE TEP.ENZYMES_IN_PATHWAY > 2   ORDER BY  PERCENTAGE_COVERED DESC, TEP.ENZYMES_IN_PATHWAY DESC
 SELECT TEP.PATHWAY_ID, TEP.PATHWAY_NAME, TEG.ENZYMES_SELECTED, TEG.GENUS, TEP.ENZYMES_IN_PATHWAY, (100*TEG.ENZYMES_SELECTED)/TEP.ENZYMES_IN_PATHWAY AS PERCENTAGE_COVERED  FROM [TOTAL_ENZYMES_PER_PATHWAY] TEP  JOIN [TOTAL_ENZYMES_PER_GENUS] TEG ON TEG.PATHWAY_NAME = TEP.PATHWAY_NAME  WHERE TEP.ENZYMES_IN_PATHWAY > 0   ORDER BY  TEP.ENZYMES_IN_PATHWAY DESC, TEP.PATHWAY_NAME, PERCENTAGE_COVERED DESC
 SELECT TEP.PATHWAY_NAME, TEG.ENZYMES_SELECTED, TEP.ENZYMES_IN_PATHWAY, (10000*TEG.ENZYMES_SELECTED/100*TEP.ENZYMES_IN_PATHWAY) AS PERCENTAGE_COVERED  FROM [TOTAL_ENZYMES_PER_PATHWAY] TEP  JOIN [TOTAL_ENZYMES_PER_GENUS] TEG ON TEG.PATHWAY_NAME = TEP.PATHWAY_NAME  WHERE TEP.ENZYMES_IN_PATHWAY > 2   ORDER BY  PERCENTAGE_COVERED DESC, TEP.ENZYMES_IN_PATHWAY DESC
 SELECT TEP.PATHWAY_NAME, TEG.ENZYMES_SELECTED, TEG.GENUS, TEP.ENZYMES_IN_PATHWAY, (100*TEG.ENZYMES_SELECTED)/TEP.ENZYMES_IN_PATHWAY AS PERCENTAGE_COVERED  FROM [TOTAL_ENZYMES_PER_PATHWAY] TEP  JOIN [TOTAL_ENZYMES_PER_GENUS] TEG ON TEG.PATHWAY_NAME = TEP.PATHWAY_NAME  WHERE TEP.ENZYMES_IN_PATHWAY > 2   ORDER BY  TEP.PATHWAY_NAME, PERCENTAGE_COVERED DESC, TEP.ENZYMES_IN_PATHWAY DESC
 SELECT TEP.PATHWAY_NAME, TEG.ENZYMES_SELECTED, TEP.ENZYMES_IN_PATHWAY, 100*(TEG.ENZYMES_SELECTED/TEP.ENZYMES_IN_PATHWAY) AS PERCENTAGE_COVERED  FROM [TOTAL_ENZYMES_PER_PATHWAY] TEP  JOIN [TOTAL_ENZYMES_PER_GENUS] TEG ON TEG.PATHWAY_NAME = TEP.PATHWAY_NAME  WHERE TEP.ENZYMES_IN_PATHWAY > 2   ORDER BY  PERCENTAGE_COVERED DESC, TEP.ENZYMES_IN_PATHWAY DESC
 SELECT TEP.PATHWAY_NAME, TEG.ENZYMES_SELECTED, TEP.ENZYMES_IN_PATHWAY, (TEG.ENZYMES_SELECTED/TEP.ENZYMES_IN_PATHWAY) AS PERCENTAGE_COVERED  FROM [TOTAL_ENZYMES_PER_PATHWAY] TEP  JOIN [TOTAL_ENZYMES_PER_GENUS] TEG ON TEG.PATHWAY_NAME = TEP.PATHWAY_NAME  WHERE TEP.ENZYMES_IN_PATHWAY > 2   ORDER BY  PERCENTAGE_COVERED DESC, TEP.ENZYMES_IN_PATHWAY DESC
 SELECT TEP.PATHWAY_ID, TEP.PATHWAY_NAME, TEG.ENZYMES_SELECTED, TEG.GENUS, TEP.ENZYMES_IN_PATHWAY, (100*TEG.ENZYMES_SELECTED)/TEP.ENZYMES_IN_PATHWAY AS PERCENTAGE_COVERED  FROM [TOTAL_ENZYMES_PER_PATHWAY] TEP  JOIN [TOTAL_ENZYMES_PER_GENUS] TEG ON TEG.PATHWAY_NAME = TEP.PATHWAY_NAME  WHERE TEP.ENZYMES_IN_PATHWAY > 0   ORDER BY  TEP.PATHWAY_NAME, PERCENTAGE_COVERED DESC, TEP.ENZYMES_IN_PATHWAY DESC
13/22
 SELECT DISTINCT EC_NUMBER FROM  SSGCID_EC_MAP  WHERE EC_NUMBER IN ('1.1.1.1', '1.1.1.35', '1.2.99.3', '1.3.1.34', '1.3.99.3', '2.1.1.163', '2.1.1.201', '2.1.1.201', '2.1.1.201', '2.1.1.201', '2.3.1.16', '3.1.1.24', '4.2.1.17')   ORDER BY  EC_NUMBER
 SELECT * FROM  SSGCID_EC_MAP  WHERE EC_NUMBER IN ('1.1.1.1', '1.1.1.35', '1.2.99.3', '1.3.1.34', '1.3.99.3', '2.1.1.163', '2.1.1.201', '2.1.1.201', '2.1.1.201', '2.1.1.201', '2.3.1.16', '3.1.1.24', '4.2.1.17')
 SELECT DISTINCT EC_NUMBER FROM  SSGCID_EC_MAP  WHERE EC_NUMBER IN ('1.1.1.1', '1.1.1.35', '1.2.99.3', '1.3.1.34', '1.3.99.3', '2.1.1.163', '2.1.1.201', '2.3.1.16', '3.1.1.24', '4.2.1.17')   ORDER BY  EC_NUMBER
 SELECT * FROM  SSGCID_EC_MAP  WHERE EC_NUMBER IN ('1.1.1.1', '1.1.1.35', '1.2.99.3', '1.3.1.34', '1.3.99.3', '2.1.1.163', '2.1.1.201', '2.1.1.201', '2.1.1.201', '2.1.1.201', '2.3.1.16', '3.1.1.24', '4.2.1.17')   ORDER BY  EC_NUMBER
4/10
 SELECT *  FROM KAPPE_LSALL_UNIQUE2LS  WHERE ID='PY05577'
 SELECT C.*  FROM KAPPE_LSALL_UNIQUE2LS C  WHERE ID='PY05755'
 SELECT *  FROM KAPPE_LSALL_UNIQUE2LS  WHERE ID='PY05755'
3/9
 SELECT COUNT(*) FROM [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS_ANNIE_18SEPT.CSV]  WHERE [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS_ANNIE_18SEPT.CSV].[SUBJECT ID] = 160
 SELECT * FROM [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS_ANNIE_18SEPT.CSV]  WHERE [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS_ANNIE_18SEPT.CSV].[ISOLATE ID] LIKE 'SM0%'
 SELECT * FROM [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS_ANNIE_18SEPT.CSV]  WHERE [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS_ANNIE_18SEPT.CSV].[ISOLATE ID] LIKE 'SN0%'
 SELECT COUNT(*) FROM [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS_ANNIE_18SEPT.CSV]  WHERE [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS_ANNIE_18SEPT.CSV].[SUBJECT ID] = 1
 SELECT * FROM [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS_ANNIE_18SEPT.CSV]  WHERE [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS_ANNIE_18SEPT.CSV].[ISOLATE ID] LIKE '%0%'
 SELECT COUNT(*) FROM [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS_ANNIE_18SEPT.CSV]  WHERE [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS_ANNIE_18SEPT.CSV].[ISOLATE ID] LIKE '%0%'
6/8
 SELECT T1.[SAMPLE ID], T17.[ISOLATE ID], T1.[ARC1327E BOX], T17.[ARC1327E BOX] FROM [TABLE_SORTED_ARC1327ES_SUBS_CPS30AUG.CSV] T1  JOIN [TABLE_SORTED_ARC1327ES_SUBS_CPS_ANNIE_18SEPT.CSV] T17 ON (T1.[SAMPLE ID] = T17.[ISOLATE ID])  WHERE T17.[ISOLATE ID] IS NOT NULL AND T1.[SAMPLE ID] IS NOT NULL
 SELECT COUNT(*) FROM [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS30AUG.CSV]  WHERE [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS30AUG.CSV].[LOCATION ROW - COLUMN] LIKE '5-'
 SELECT * FROM [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS30AUG.CSV]  WHERE [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS30AUG.CSV].[LOCATION ROW - COLUMN] LIKE '%,%'
 SELECT * FROM [TABLE_SORTED_ARC1327ES_SUBS_CPS30AUG.CSV] T1  JOIN [TABLE_SORTED_ARC1327ES_SUBS_CPS_ANNIE_18SEPT.CSV] T17 ON (T1.[SAMPLE ID] = T17.[ISOLATE ID])  WHERE T17.[ISOLATE ID] IS NOT NULL
 SELECT T1.[SAMPLE ID], T17.[ISOLATE ID], T1.[ARC1327E BOX], T17.[ARC1327E BOX] FROM [TABLE_SORTED_ARC1327ES_SUBS_CPS30AUG.CSV] T1  JOIN [TABLE_SORTED_ARC1327ES_SUBS_CPS_ANNIE_18SEPT.CSV] T17 ON (T1.[SAMPLE ID] = T17.[ISOLATE ID])  WHERE T17.[ISOLATE ID] IS NULL
 SELECT COUNT(*) FROM [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS30AUG.CSV]  WHERE [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS30AUG.CSV].[LOCATION ROW - COLUMN] LIKE '%,%'
 SELECT COUNT(*) FROM [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS30AUG.CSV]  WHERE [188].[TABLE_SORTED_ARC1327ES_SUBS_CPS30AUG.CSV].[LOCATION ROW - COLUMN] LIKE '5-%'
 SELECT T1.[SAMPLE ID], T17.[ISOLATE ID], T1.[ARC1327E BOX], T17.[ARC1327E BOX] FROM [TABLE_SORTED_ARC1327ES_SUBS_CPS30AUG.CSV] T1  JOIN [TABLE_SORTED_ARC1327ES_SUBS_CPS_ANNIE_18SEPT.CSV] T17 ON (T1.[SAMPLE ID] = T17.[ISOLATE ID])  WHERE T17.[ISOLATE ID] IS NULL AND T1.[SAMPLE ID] IS NULL
 SELECT T1.[SAMPLE ID], T17.[ISOLATE ID], T1.[ARC1327E BOX], T17.[ARC1327E BOX] FROM [TABLE_SORTED_ARC1327ES_SUBS_CPS30AUG.CSV] T1  JOIN [TABLE_SORTED_ARC1327ES_SUBS_CPS_ANNIE_18SEPT.CSV] T17 ON (T1.[SAMPLE ID] = T17.[ISOLATE ID])  WHERE T17.[ISOLATE ID] IS NOT NULL
9/20

 SELECT  *  FROM [188].[TABLE_EC_PDB_GENUS.CSV]  WHERE LEN(GENUS) > 50
 SELECT  *  FROM [188].[TABLE_EC_PDB_GENUS.CSV]  WHERE LEN(GENUS) > 49
2/12
 SELECT * FROM [TABLE_ISOLATE_ID_MAPPING.CSV]  WHERE ISOLATE_ID LIKE '330 M-%'
 SELECT * FROM [TABLE_ISOLATE_ID_MAPPING.CSV]  WHERE ISOLATE_ID LIKE '330 M%6% '
 SELECT * FROM [TABLE_ISOLATE_ID_MAPPING.CSV]  WHERE ISOLATE_ID LIKE '330%-%'
 SELECT * FROM [TABLE_ISOLATE_ID_MAPPING.CSV]  WHERE ISOLATE_ID LIKE '330 M -%'
 SELECT * FROM [TABLE_ISOLATE_ID_MAPPING.CSV]  WHERE ISOLATE_ID LIKE '330 M%6%'
 SELECT * FROM [TABLE_ISOLATE_ID_MAPPING.CSV]  WHERE ISOLATE_ID LIKE '% -%'
 SELECT * FROM [TABLE_ISOLATE_ID_MAPPING.CSV]  WHERE ISOLATE_ID LIKE '% - %'
 SELECT * FROM [TABLE_ISOLATE_ID_MAPPING.CSV]  WHERE ISOLATE_ID LIKE '%-%'
 SELECT * FROM [TABLE_ISOLATE_ID_MAPPING.CSV]  WHERE ISOLATE_ID LIKE '% -% '
9/32
 SELECT DISTINCT P.EC_NUMBER, P.PATHWAY_ID, P.PATHWAY_NAME  FROM  [PATHWAYS_BY_SSGCID_ENZYME.CSV] P  JOIN SSGCID_EC_MAP S ON (S.EC_NUMBER = P.EC_NUMBER)  WHERE P.PATHWAY_ID IN ('PWY-3162', 'PWY-3941', 'PWY-5397', 'PWY-5839', 'PWY-5856', 'PWY-5857', 'PWY-5871', 'PWY-5872', 'PWY-6185', 'PWY-6435', 'PWY-6837')
 SELECT DISTINCT P.EC_NUMBER, P.PATHWAY_ID, P.PATHWAY_NAME  FROM  [PATHWAYS_BY_SSGCID_ENZYME.CSV] P  JOIN SSGCID_EC_MAP S ON (S.EC_NUMBER = P.EC_NUMBER)  WHERE P.PATHWAY_ID IN ('PWY-3162', 'PWY-3941', 'PWY-5397', 'PWY-5839', 'PWY-5856', 'PWY-5857', 'PWY-5871', 'PWY-5872', 'PWY-6185', 'PWY-6435', 'PWY-6837')   ORDER BY  P.EC_NUMBER
 SELECT DISTINCT P.EC_NUMBER, P.PATHWAY_ID, P.PATHWAY_NAME  FROM  [PATHWAYS_BY_SSGCID_ENZYME.CSV] P  JOIN SSGCID_EC_MAP S ON (S.EC_NUMBER = P.EC_NUMBER)  WHERE P.PATHWAY_ID IN ('PWY-3162')   ORDER BY  P.PATHWAY_ID
 SELECT * FROM  [PATHWAYS_BY_SSGCID_ENZYME.CSV]  WHERE PATHWAY_NAME LIKE 'PENTOSE%'
 SELECT DISTINCT P.EC_NUMBER, P.PATHWAY_ID, P.PATHWAY_NAME  FROM  [PATHWAYS_BY_SSGCID_ENZYME.CSV] P  JOIN SSGCID_EC_MAP S ON (S.EC_NUMBER = P.EC_NUMBER)  WHERE P.PATHWAY_ID IN ('PWY-3162', 'PWY-3941', 'PWY-5397', 'PWY-5839', 'PWY-5856', 'PWY-5857', 'PWY-5871', 'PWY-5872', 'PWY-6185', 'PWY-6435', 'PWY-6837')   ORDER BY  P.PATHWAY_ID
 SELECT * FROM  [PATHWAYS_BY_SSGCID_ENZYME.CSV]  WHERE PATHWAY_NAME LIKE '%<%'
 SELECT P.EC_NUMBER, P.PATHWAY_ID, P.PATHWAY_NAME, S.SSGCIDID  FROM  [PATHWAYS_BY_SSGCID_ENZYME.CSV] P  JOIN SSGCID_EC_MAP S ON (S.EC_NUMBER = P.EC_NUMBER)  WHERE P.PATHWAY_ID IN ('PWY-3162', 'PWY-3941', 'PWY-5397', 'PWY-5839', 'PWY-5856', 'PWY-5857', 'PWY-5871', 'PWY-5872', 'PWY-6185', 'PWY-6435', 'PWY-6837')
 SELECT P.EC_NUMBER, P.PATHWAY_ID, P.PATHWAY_NAME, S.SSGCIDID  FROM  [PATHWAYS_BY_SSGCID_ENZYME.CSV] P  JOIN SSGCID_EC_MAP S ON (S.EC_NUMBER = P.EC_NUMBER)  WHERE P.PATHWAY_ID IN ('PWY-3162', 'PWY-3941', 'PWY-5397', 'PWY-5839', 'PWY-5856', 'PWY-5857', 'PWY-5871', 'PWY-5872', 'PWY-6185', 'PWY-6435', 'PWY-6837')   ORDER BY  P.EC_NUMBER, S.SSGCIDID
 SELECT * FROM  [PATHWAYS_BY_SSGCID_ENZYME.CSV]  WHERE PATHWAY_NAME LIKE '%&%'
9/14
 SELECT *  FROM [188].[TABLE_EC_PATHWAY_BIOCYC.CSV]  WHERE PATHWAY_ID = 'PWY-6185'
 SELECT *  FROM [188].[TABLE_EC_PATHWAY_BIOCYC.CSV]  WHERE PATHWAY_ID = 'PWY-1501'
 SELECT *  FROM [188].[TABLE_EC_PATHWAY_BIOCYC.CSV]  WHERE PATHWAY_ID = 'PWY-5397'
 SELECT *  FROM [188].[TABLE_EC_PATHWAY_BIOCYC.CSV]  WHERE PATHWAY_ID = 'PWY-5871'
 SELECT *  FROM [188].[TABLE_EC_PATHWAY_BIOCYC.CSV]  WHERE PATHWAY_ID = 'PWY-5856'
 SELECT *  FROM [188].[TABLE_EC_PATHWAY_BIOCYC.CSV]  WHERE EC_NUMBER = '2.1.1.201'
 SELECT *  FROM [188].[TABLE_EC_PATHWAY_BIOCYC.CSV]  WHERE PATHWAY_ID = 'PWY-6837'
 SELECT *  FROM [188].[TABLE_EC_PATHWAY_BIOCYC.CSV]  WHERE EC_NUMBER = '2.5.1.39'
 SELECT *  FROM [188].[TABLE_EC_PATHWAY_BIOCYC.CSV]  WHERE PATHWAY_ID = 'PWY-3162'
 SELECT *  FROM [188].[TABLE_EC_PATHWAY_BIOCYC.CSV]  WHERE PATHWAY_ID = 'PWY-5857'
 SELECT *  FROM [188].[TABLE_EC_PATHWAY_BIOCYC.CSV]  WHERE PATHWAY_ID = 'PWY-6435'
 SELECT *  FROM [188].[TABLE_EC_PATHWAY_BIOCYC.CSV]  WHERE PATHWAY_ID = 'PWY-3941'
 SELECT  *  FROM [188].[TABLE_EC_PATHWAY_BIOCYC.CSV]  WHERE EC_NUMBER = '1.3.99.3'
 SELECT  COUNT(*)  FROM [188].[TABLE_EC_PATHWAY_BIOCYC.CSV]  WHERE EC_NUMBER = '1.3.99.3'
 SELECT *  FROM [188].[TABLE_EC_PATHWAY_BIOCYC.CSV]  WHERE PATHWAY_ID = 'PWY-5872'
 SELECT *  FROM [188].[TABLE_EC_PATHWAY_BIOCYC.CSV]  WHERE PATHWAY_ID = 'PWY-5839'
 SELECT *  FROM [188].[TABLE_EC_PATHWAY_BIOCYC.CSV]  WHERE PATHWAY_ID = 'PWY-2221'
17/24
 SELECT COUNT(DISTINCT SUBSTRING([PROTEIN CODE-1], 7, 7))  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'
 SELECT [PROTEIN CODE-1] AS XSTAL_TRIAL, LEFT ([PROTEIN CODE-1], 13) AS TARGET,  SUBSTRING([PROTEIN CODE-1], 7, 7) AS FAMILY,[CRYSTALS?],[DIFFRACTION?], [DATA SET?]  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'
 SELECT *  FROM [XSTAL_TRACKER.CSV]  WHERE [INITIAL TRIALS SET UP] < '05-01-2011'
 SELECT COUNT(SUBSTRING([PROTEIN CODE-1], 7, 5))  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'
 SELECT DISTINCT LEFT([PROTEIN CODE-1], 5) AS ORGANISM, SUBSTRING([PROTEIN CODE-1], 7, 5) AS FAMILY,  [CRYSTALS?], [DIFFRACTION?], [DATA SET?]  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'
 SELECT [CRYSTALS?], COUNT (DISTINCT [PROTEIN CODE-1])  FROM [XSTAL_TRACKER.CSV]  WHERE [INITIAL TRIALS SET UP] < '08-01-2011'   GROUP BY  [CRYSTALS?]
 SELECT LEFT([PROTEIN CODE-1], 5) AS ORGANISM, SUBSTRING([PROTEIN CODE-1], 7, 5)  [CRYSTALS?], [DIFFRACTION?], [DATA SET?]  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'
 SELECT LEFT([PROTEIN CODE-1], 5) AS ORGANISM, SUBSTRING([PROTEIN CODE-1], 7, 12)  [CRYSTALS?], [DIFFRACTION?], [DATA SET?]  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'
 SELECT DISTINCT SUBSTRING([PROTEIN CODE-1], 7, 7), [DATA SET?],[DIFFRACTION?],[CRYSTALS?]  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'
 SELECT *, [CRYSTALS?], [DIFFRACTION?], [DATA SET?]  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'
 SELECT COUNT(*)  FROM [XSTAL_TRACKER.CSV]  WHERE [INITIAL TRIALS SET UP] < '05-01-2011'
 SELECT CLEAVED, COUNT(*)  FROM [XSTAL_TRACKER.CSV] X  LEFT JOIN [PROTEINS_CLEAVED_PDB] P ON (X.[PROTEIN CODE-1] = P.SSGCIDID)  WHERE X.[INITIAL TRIALS SET UP] < '01-05-2011'  AND TOP_PDB <> ''   GROUP BY  CLEAVED
 SELECT CLEAVED, COUNT(*)  FROM [XSTAL_TRACKER.CSV] X  LEFT JOIN [PROTEINS_CLEAVED_PDB] P ON (X.[PROTEIN CODE-1] = P.SSGCIDID)  WHERE X.[INITIAL TRIALS SET UP] < '05-01-2011'  AND TOP_PDB <> ''   GROUP BY  CLEAVED
 SELECT *  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'
 SELECT COUNT(*)  FROM [XSTAL_TRACKER.CSV] X  LEFT JOIN PROTEINS_CLEAVED_PDB P ON (P.SSGCIDID = X.[PROTEIN CODE-1])  WHERE [INITIAL TRIALS SET UP] < '08-01-2011'
 SELECT *  FROM [XSTAL_TRACKER.CSV]  WHERE [INITIAL TRIALS SET UP] < '08-01-2011'   ORDER BY  [INITIAL TRIALS SET UP] DESC
 SELECT X.[CRYSTALS?], CLEAVED, COUNT(*)  FROM [XSTAL_TRACKER.CSV] X  LEFT JOIN PROTEINS_CLEAVED_PDB P ON (X.[PROTEIN CODE-1] = P.SSGCIDID)  WHERE [INITIAL TRIALS SET UP] < '05-01-2011'   GROUP BY  X.[CRYSTALS?], CLEAVED   ORDER BY  CLEAVED
 SELECT LEFT([PROTEIN CODE-1], 5) AS ORGANISM, SUBSTRING([PROTEIN CODE-1], 7, 5),  [CRYSTALS?], [DIFFRACTION?], [DATA SET?]  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'
 SELECT COUNT([PROTEIN CODE-1])  FROM [XSTAL_TRACKER.CSV] X  LEFT JOIN PROTEINS_CLEAVED_PDB P ON (P.SSGCIDID = X.[PROTEIN CODE-1])  WHERE [INITIAL TRIALS SET UP] < '08-01-2011'
 SELECT COUNT(DISTINCT SUBSTRING([PROTEIN CODE-1], 7, 5))  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'
 SELECT COUNT(*)  FROM [XSTAL_TRACKER.CSV] X  JOIN PROTEINS_CLEAVED_PDB P ON (P.SSGCIDID = X.[PROTEIN CODE-1])  WHERE [INITIAL TRIALS SET UP] < '08-01-2011'
 SELECT DISTINCT SUBSTRING([PROTEIN CODE-1], 7, 7) AS FAMILY,[CRYSTALS?],[DIFFRACTION?], [DATA SET?]  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'
 SELECT [CRYSTALS?], CLEAVED, COUNT([PROTEIN CODE-1])  FROM [XSTAL_TRACKER.CSV] X  LEFT JOIN PROTEINS_CLEAVED_PDB P ON (P.SSGCIDID = X.[PROTEIN CODE-1])  WHERE [INITIAL TRIALS SET UP] < '08-01-2011'   GROUP BY  [CRYSTALS?], CLEAVED
 SELECT * FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'ENHIA.00182%'
 SELECT [PROTEIN CODE-1], SUBSTRING([PROTEIN CODE-1], 7, 5) AS FAMILY,  [CRYSTALS?], [DIFFRACTION?], [DATA SET?]  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'
 SELECT COUNT(*)  F  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'
 SELECT [CRYSTALS?], COUNT([PROTEIN CODE-1])  FROM [XSTAL_TRACKER.CSV] X  LEFT JOIN PROTEINS_CLEAVED_PDB P ON (P.SSGCIDID = X.[PROTEIN CODE-1])  WHERE [INITIAL TRIALS SET UP] < '08-01-2011'   GROUP BY  [CRYSTALS?]
 SELECT COUNT(*)  FROM [XSTAL_TRACKER.CSV]  WHERE [INITIAL TRIALS SET UP] < '08-01-2011'
 SELECT COUNT([PROTEIN CODE-1]), [DIFFRACTION?]  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'   GROUP BY  [DIFFRACTION?] --[DATA SET?][CRYSTALS?]

 SELECT LEFT([PROTEIN CODE-1], 5), [CRYSTALS?], [DIFFRACTION?], [DATA SET?]  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'
 SELECT CLEAVED, COUNT(*)  FROM [XSTAL_TRACKER.CSV] X  RIGHT OUTER JOIN [PROTEINS_CLEAVED_PDB] P ON (X.[PROTEIN CODE-1] = P.SSGCIDID)  WHERE X.[INITIAL TRIALS SET UP] < '05-01-2011'  AND TOP_PDB <> ''   GROUP BY  CLEAVED
 SELECT X.[CRYSTALS?], CLEAVED, COUNT(*)  FROM [XSTAL_TRACKER.CSV] X  LEFT JOIN PROTEINS_CLEAVED_PDB P ON (X.[PROTEIN CODE-1] = P.SSGCIDID)  WHERE [INITIAL TRIALS SET UP] < '08-01-2011'   GROUP BY  X.[CRYSTALS?], CLEAVED   ORDER BY  CLEAVED
 SELECT [CRYSTALS?], COUNT ([PROTEIN CODE-1])  FROM [XSTAL_TRACKER.CSV]  WHERE [INITIAL TRIALS SET UP] < '08-01-2011'   GROUP BY  [CRYSTALS?]
 SELECT LEFT([PROTEIN CODE-1], 5) AS ORGANISM, SUBSTRING([PROTEIN CODE-1], 7, 5) AS FAMILY,  [CRYSTALS?], [DIFFRACTION?], [DATA SET?]  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'
 SELECT COUNT([PROTEIN CODE-1]), [DATA SET?]  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'   GROUP BY   [DATA SET?]--[DIFFRACTION?][CRYSTALS?]
 SELECT DISTINCT SUBSTRING([PROTEIN CODE-1], 7, 5) AS FAMILY,  [CRYSTALS?], [DIFFRACTION?], [DATA SET?]  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'
 SELECT COUNT(DISTINCT [PROTEIN CODE-1])  FROM [XSTAL_TRACKER.CSV] X  LEFT JOIN PROTEINS_CLEAVED_PDB P ON (P.SSGCIDID = X.[PROTEIN CODE-1])  WHERE [INITIAL TRIALS SET UP] < '08-01-2011'
 SELECT [PROTEIN CODE-1] AS XSTAL_TRIAL, LEFT ([PROTEIN CODE-1], 13) AS FEATURE,  SUBSTRING([PROTEIN CODE-1], 7, 5) AS FAMILY,[CRYSTALS?],[DIFFRACTION?], [DATA SET?]  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'
 SELECT COUNT([PROTEIN CODE-1]), [CRYSTALS?], [DIFFRACTION?], [DATA SET?]  FROM [XSTAL_TRACKER.CSV]  WHERE [PROTEIN CODE-1] LIKE 'MYTH%'   GROUP BY  [CRYSTALS?], [DIFFRACTION?], [DATA SET?]
 SELECT [CRYSTALS?], CLEAVED, COUNT([PROTEIN CODE-1])  FROM [XSTAL_TRACKER.CSV] X  LEFT JOIN PROTEINS_CLEAVED_PDB P ON (P.SSGCIDID = X.[PROTEIN CODE-1] AND TOP_PDB IS NOT NULL)  WHERE [INITIAL TRIALS SET UP] < '08-01-2011'   GROUP BY  [CRYSTALS?], CLEAVED
 SELECT *  FROM [XSTAL_TRACKER.CSV]  WHERE [INITIAL TRIALS SET UP] < '08-01-2011'
 SELECT COUNT(*)  FROM [XSTAL_TRACKER.CSV]  WHERE [INITIAL TRIALS SET UP] < '05-01-11'
42/90
 SELECT X.[INITIAL TRIALS SET UP]  FROM [PROTEINS_CLEAVED_PDB] P  JOIN [XSTAL_TRACKER.CSV] X ON (X.[PROTEIN CODE-1] = P.SSGCIDID)  WHERE TOP_PDB <> ''  AND X.[INITIAL TRIALS SET UP] > '05-01-2011'   ORDER BY  X.[INITIAL TRIALS SET UP] ASC  /*SELECT CLEAVED, COUNT(*)  FROM [XSTAL_TRACKER.CSV] X  LEFT JOIN [PROTEINS_CLEAVED_PDB] P ON (X.[PROTEIN CODE-1] = P.SSGCIDID)  WHERE X.[INITIAL TRIALS SET UP] < '05-01-2011'  AND TOP_PDB <> ''   GROUP BY  CLEAVED*/
 SELECT X.[INITIAL TRIALS SET UP]  FROM [PROTEINS_CLEAVED_PDB] P  JOIN [XSTAL_TRACKER.CSV] X ON (X.[PROTEIN CODE-1] = P.SSGCIDID)  WHERE TOP_PDB <> ''  AND X.[INITIAL TRIALS SET UP] > '2011-05-01'   ORDER BY  X.[INITIAL TRIALS SET UP] DESC  /*SELECT CLEAVED, COUNT(*)  FROM [XSTAL_TRACKER.CSV] X  LEFT JOIN [PROTEINS_CLEAVED_PDB] P ON (X.[PROTEIN CODE-1] = P.SSGCIDID)  WHERE X.[INITIAL TRIALS SET UP] < '05-01-2011'  AND TOP_PDB <> ''   GROUP BY  CLEAVED*/
 SELECT X.[INITIAL TRIALS SET UP]  FROM [PROTEINS_CLEAVED_PDB] P  JOIN [XSTAL_TRACKER.CSV] X ON (X.[PROTEIN CODE-1] = P.SSGCIDID)  WHERE TOP_PDB <> ''  AND X.[INITIAL TRIALS SET UP] > '01-05-2011'   ORDER BY  X.[INITIAL TRIALS SET UP] DESC  /*SELECT CLEAVED, COUNT(*)  FROM [XSTAL_TRACKER.CSV] X  LEFT JOIN [PROTEINS_CLEAVED_PDB] P ON (X.[PROTEIN CODE-1] = P.SSGCIDID)  WHERE X.[INITIAL TRIALS SET UP] < '05-01-2011'  AND TOP_PDB <> ''   GROUP BY  CLEAVED*/
 SELECT X.[INITIAL TRIALS SET UP]  FROM [PROTEINS_CLEAVED_PDB] P  JOIN [XSTAL_TRACKER.CSV] X ON (X.[PROTEIN CODE-1] = P.SSGCIDID)  WHERE TOP_PDB <> ''  AND X.[INITIAL TRIALS SET UP] > '05-01-2011%'   ORDER BY  X.[INITIAL TRIALS SET UP] ASC  /*SELECT CLEAVED, COUNT(*)  FROM [XSTAL_TRACKER.CSV] X  LEFT JOIN [PROTEINS_CLEAVED_PDB] P ON (X.[PROTEIN CODE-1] = P.SSGCIDID)  WHERE X.[INITIAL TRIALS SET UP] < '05-01-2011'  AND TOP_PDB <> ''   GROUP BY  CLEAVED*/
 SELECT X.[INITIAL TRIALS SET UP]  FROM [PROTEINS_CLEAVED_PDB] P  JOIN [XSTAL_TRACKER.CSV] X ON (X.[PROTEIN CODE-1] = P.SSGCIDID)  WHERE TOP_PDB <> ''  AND X.[INITIAL TRIALS SET UP] > '05-01-2011'   ORDER BY  X.[INITIAL TRIALS SET UP] DESC  /*SELECT CLEAVED, COUNT(*)  FROM [XSTAL_TRACKER.CSV] X  LEFT JOIN [PROTEINS_CLEAVED_PDB] P ON (X.[PROTEIN CODE-1] = P.SSGCIDID)  WHERE X.[INITIAL TRIALS SET UP] < '05-01-2011'  AND TOP_PDB <> ''   GROUP BY  CLEAVED*/
 SELECT X.[INITIAL TRIALS SET UP]  FROM [PROTEINS_CLEAVED_PDB] P  JOIN [XSTAL_TRACKER.CSV] X ON (X.[PROTEIN CODE-1] = P.SSGCIDID)  WHERE TOP_PDB <> ''  AND X.[INITIAL TRIALS SET UP] > '2011'   ORDER BY  X.[INITIAL TRIALS SET UP] DESC  /*SELECT CLEAVED, COUNT(*)  FROM [XSTAL_TRACKER.CSV] X  LEFT JOIN [PROTEINS_CLEAVED_PDB] P ON (X.[PROTEIN CODE-1] = P.SSGCIDID)  WHERE X.[INITIAL TRIALS SET UP] < '05-01-2011'  AND TOP_PDB <> ''   GROUP BY  CLEAVED*/
6/38
 SELECT *  FROM [188].[TABLE_PATHWAYS_BY_SSGCID_ENZYME.CSV]  WHERE PATHWAY_ID = 'PWY-5839'
 SELECT *  FROM [188].[TABLE_PATHWAYS_BY_SSGCID_ENZYME.CSV]  WHERE EC_NUMBER = '2.5.1.39'
 SELECT *  FROM [188].[TABLE_PATHWAYS_BY_SSGCID_ENZYME.CSV]  WHERE PATHWAY_ID = 'PWY-6185'
 SELECT *  FROM [188].[TABLE_PATHWAYS_BY_SSGCID_ENZYME.CSV]  WHERE PATHWAY_ID = 'PWY-5856'
 SELECT *  FROM [188].[TABLE_PATHWAYS_BY_SSGCID_ENZYME.CSV]  WHERE PATHWAY_ID = 'PWY-5857'
 SELECT *  FROM [188].[TABLE_PATHWAYS_BY_SSGCID_ENZYME.CSV]  WHERE PATHWAY_ID = 'PWY-5397'
 SELECT  *  FROM [188].[TABLE_PATHWAYS_BY_SSGCID_ENZYME.CSV]  WHERE EC_NUMBER = '1.3.99.3'
 SELECT *  FROM [188].[TABLE_PATHWAYS_BY_SSGCID_ENZYME.CSV]  WHERE PATHWAY_ID = 'PWY-5871'
 SELECT *  FROM [188].[TABLE_PATHWAYS_BY_SSGCID_ENZYME.CSV]  WHERE PATHWAY_ID = 'PWY-3941'
 SELECT *  FROM [188].[TABLE_PATHWAYS_BY_SSGCID_ENZYME.CSV]  WHERE PATHWAY_ID = 'PWY-6837'
 SELECT *  FROM [188].[TABLE_PATHWAYS_BY_SSGCID_ENZYME.CSV]  WHERE PATHWAY_ID = 'PWY-3162'
 SELECT *  FROM [188].[TABLE_PATHWAYS_BY_SSGCID_ENZYME.CSV]  WHERE PATHWAY_ID = 'PWY-5872'
 SELECT *  FROM [188].[TABLE_PATHWAYS_BY_SSGCID_ENZYME.CSV]  WHERE PATHWAY_ID = 'PWY-2221'
 SELECT *  FROM [188].[TABLE_PATHWAYS_BY_SSGCID_ENZYME.CSV]  WHERE PATHWAY_ID = 'PWY-6435'
 SELECT *  FROM [188].[TABLE_PATHWAYS_BY_SSGCID_ENZYME.CSV]  WHERE PATHWAY_ID = 'PWY-1501'
15/16
 SELECT *  FROM [SELECT_SECBYSITE_REPORT.CSV]  WHERE PURIFICATIONBATCHNUMBER='S00036'
 SELECT *  FROM [SELECT_SECBYSITE_REPORT.CSV]  WHERE PURIFICATIONBATCHNUMBER='PS00036'
2/2
 SELECT U.CONTAINER, U.CLONE_NAME  FROM [TABLE_QRYUWEXPORTCONSTRUCTS.CSV] U  WHERE U.CLONE_NAME LIKE 'TOGOA.01305.A%' OR U.CLONE_NAME LIKE 'TOGOA.01236.A%'
 SELECT U.CONTAINER, U.CLONE_NAME  FROM [TABLE_QRYUWEXPORTCONSTRUCTS.CSV] U  WHERE U.CLONE_NAME LIKE '%01305.A.A2%' OR U.CLONE_NAME LIKE '%01236.A.A3%'
 SELECT U.CONTAINER, U.CLONE_NAME  FROM [TABLE_QRYUWEXPORTCONSTRUCTS.CSV] U  WHERE U.CLONE_NAME LIKE 'TOGOA.01305%' OR U.CLONE_NAME LIKE 'TOGOA.01236%'
3/3
 SELECT *  FROM GLYCEROL_STOCKS_LOCATIONS  WHERE [GLYCEROL STOCK ID] LIKE '%25811%' OR [GLYCEROL NAME] LIKE '%25811%'
 SELECT *  FROM GLYCEROL_STOCKS_LOCATIONS  WHERE [GLYCEROL STOCK ID] LIKE '%25343%' OR [GLYCEROL NAME] LIKE '%25343%'
 SELECT *  FROM GLYCEROL_STOCKS_LOCATIONS  WHERE [GLYCEROL STOCK ID] LIKE '%25247%' OR [GLYCEROL NAME] LIKE '%25247%'
3/6
 SELECT  S.DNASAMPLENAME,  E.TOTAL_EXPRESSION_LEVEL,  E.SOLUBLE_EXPRESSION_LEVEL,  S.ID  FROM [QRYUWEXPORTEXPRESSION_S103.CSV] E  JOIN [QRYPASSSV_S103.CSV] S ON S.CONSTRUCTNAME = E.CLONE_NAME  WHERE E.TOTAL_EXPRESSION_LEVEL LIKE '0:%'
 SELECT  S.DNASAMPLENAME,  E.TOTAL_EXPRESSION_LEVEL,  E.SOLUBLE_EXPRESSION_LEVEL,  S.ID  FROM [QRYUWEXPORTEXPRESSION_S103.CSV] E  JOIN [QRYPASSSV_S103.CSV] S ON S.CONSTRUCTNAME = E.CLONE_NAME  WHERE E.TOTAL_EXPRESSION_LEVEL LIKE '1:%'
 SELECT  S.DNASAMPLENAME,  E.TOTAL_EXPRESSION_LEVEL,  E.SOLUBLE_EXPRESSION_LEVEL,  S.ID  FROM [QRYUWEXPORTEXPRESSION_S103.CSV] E  JOIN [QRYPASSSV_S103.CSV] S ON S.CONSTRUCTNAME = E.CLONE_NAME  WHERE E.SOLUBLE_EXPRESSION_LEVEL LIKE '1:%'
 SELECT  S.DNASAMPLENAME,  E.TOTAL_EXPRESSION_LEVEL,  E.SOLUBLE_EXPRESSION_LEVEL,  S.ID  FROM [QRYUWEXPORTEXPRESSION_S103.CSV] E  JOIN [QRYPASSSV_S103.CSV] S ON S.CONSTRUCTNAME = E.CLONE_NAME  WHERE E.SOLUBLE_EXPRESSION_LEVEL LIKE '0:%'
4/6

 SELECT * FROM [1317].[COFFEEEEEEEEEE]  WHERE COUNTRY IN('ADEN', 'AUSTRIA')
 SELECT * FROM [1317].[COFFEEEEEEEEEE]  WHERE COUNTRY IN ('ADEN', 'AUSTRIA', 'CUBA')
2/15
 SELECT * FROM [1314HOWE].[UW HIGHEST PAID EMPLOYEE BY DEPARTMENT]  WHERE MIDDLE ='A'
 SELECT * FROM [1314HOWE].[UW HIGHEST PAID EMPLOYEE BY DEPARTMENT]  WHERE MIDDLE ='O'
 SELECT * FROM [1314HOWE].[UW HIGHEST PAID EMPLOYEE BY DEPARTMENT]  WHERE MIDDLE ='T'
3/6
 SELECT * FROM [206].[SQLTEST5.TXT]  WHERE COLUMN1 <>'$550,004.23'  AND COLUMN1 <>'$500,000.23'
 SELECT * FROM [206].[SQLTEST5.TXT]  WHERE COLUMN1 <>'$550,004.23'  AND COLUMN1 <>'$550,000.23'
 SELECT * FROM [206].[SQLTEST5.TXT]  WHERE COLUMN1 NOT IN ('$550,004.23','$500,000.23','$523,000.23')
 SELECT * FROM [206].[SQLTEST5.TXT]  WHERE COLUMN1 NOT IN ('$550,004.23',  '$500,000.23',  '$523,000.23')
 SELECT * FROM [206].[SQLTEST5.TXT]  WHERE COLUMN1 NOT IN ('$550,004.23',  '$500,000.23',  '$523,000.23'  )
 SELECT * FROM [206].[SQLTEST5.TXT]  WHERE COLUMN1 NOT IN ('$550,004.23',  '$523,000.23'  )
6/10
 SELECT * FROM [71].[PLASMIDDNA1.CSV]  WHERE [SAMPLE]='' AND [CONC (NG/UL)]='' AND [200NG/UL WATER] = ''
 SELECT * FROM [71].[PLASMIDDNA1.CSV]  WHERE [SAMPLE]=NULL OR [CONC (NG/UL)]=NULL OR [200NG/UL WATER] = NULL
 SELECT * FROM [71].[PLASMIDDNA1.CSV]  WHERE [SAMPLE]=''OR [CONC (NG/UL)]='' OR [200NG/UL WATER] = ''
3/13
 SELECT * FROM [790].[TABLE_1344.TXT]  WHERE [A]>0 AND B>2
 SELECT * FROM [790].[TABLE_1344.TXT]  WHERE [A]>2 AND B>2
 SELECT * FROM [790].[TABLE_1344.TXT]  WHERE [A]>2 AND B>12
3/5
 SELECT * FROM [790].[PHONEBOOK.CSV]  WHERE [NAME]='HOSSEIN'
 SELECT * FROM [790].[PHONEBOOK.CSV]  WHERE [NAME]='HOSSERIN'
2/2
 SELECT * FROM  [790].[TABLE_PHONEBOOK.CSV]  WHERE [NAME]='MERY'
 DELETE FROM [790].[TABLE_PHONEBOOK.CSV]  WHERE [NAME]='SARA'
 SELECT * FROM  [790].[TABLE_PHONEBOOK.CSV]  WHERE [NAME]='MANIJEH'
3/8
 SELECT * FROM [790].[TABLE_EXTR_ACCESSORY_V.CSV]  WHERE MAJOR<80 AND MINOR>=8
 SELECT * FROM [790].[TABLE_EXTR_ACCESSORY_V.CSV]  WHERE MAJOR<25
 SELECT * FROM [790].[TABLE_EXTR_ACCESSORY_V.CSV]  WHERE ACCYTYPE=31 AND SIZE<>0 AND QUANTITY<4 AND QUANTITY>2  AND UNIT<>0 AND GRADE>3
 SELECT * FROM [790].[TABLE_EXTR_ACCESSORY_V.CSV]  WHERE MAJOR<25 AND ACCYTYPE=31
 SELECT * FROM [790].[TABLE_EXTR_ACCESSORY_V.CSV]  WHERE MAJOR<85 AND ACCYTYPE=31
 SELECT * FROM [790].[TABLE_EXTR_ACCESSORY_V.CSV]  WHERE MAJOR<85
 SELECT * FROM [790].[TABLE_EXTR_ACCESSORY_V.CSV]  WHERE MAJOR<20
 SELECT * FROM [790].[TABLE_EXTR_ACCESSORY_V.CSV]  WHERE MAJOR<120 AND MINOR>=8
 SELECT * FROM [790].[TABLE_EXTR_ACCESSORY_V.CSV]  WHERE ACCYTYPE=31 AND SIZE<>0 AND QUANTITY<6 AND QUANTITY>2  AND UNIT<>0 AND GRADE>3
9/19
 SELECT * FROM [1231].[TOP_20_SPECIES]  WHERE COLUMN2 > 30
 SELECT * FROM [1231].[TOP_20_SPECIES]  WHERE COLUMN2 > 100
 SELECT * FROM [1231].[TOP_20_SPECIES]  WHERE COLUMN2 > 3
3/4
 SELECT X.TITLE, X.YEAR, X.VENUE, X.TYPE  FROM [1143].[PUBLICATION] X  WHERE TITLE LIKE '%EXPLANATION%'  AND VENUE <> 'CORR'  AND (VENUE LIKE '%SIGMOD%' OR VENUE LIKE '%VLDB%' OR VENUE LIKE '%ICDE%' OR VENUE LIKE '%PODS%')   ORDER BY  YEAR DESC
 SELECT X.TITLE, X.YEAR, X.VENUE, X.TYPE  FROM [1143].[PUBLICATION] X  WHERE TITLE LIKE '%CAUS%'  AND VENUE <> 'CORR'  AND (VENUE LIKE '%SIGMOD%' OR VENUE LIKE '%VLDB%' OR VENUE LIKE '%ICDE%' OR VENUE LIKE '%PODS%')   ORDER BY  YEAR DESC
 SELECT * FROM [1143].[PUBLICATION]  WHERE TITLE LIKE 'EXPLANATION'
 SELECT X.TITLE, X.YEAR, X.VENUE, X.TYPE  FROM [1143].[PUBLICATION] X  WHERE TITLE LIKE '%EXPLANATION%'  AND VENUE <> 'CORR'  AND (VENUE LIKE '%KDD%' OR VENUE LIKE '%NIPS%' OR VENUE LIKE '%ICDM%' OR VENUE LIKE '%AI %' OR VENUE LIKE '%NLP%')   ORDER BY  YEAR DESC
 SELECT X.TITLE, X.YEAR, X.VENUE, X.TYPE  FROM [1143].[PUBLICATION] X  WHERE TITLE LIKE '%EXPLANATION%'   ORDER BY  YEAR DESC
 SELECT X.TITLE, X.YEAR, X.VENUE, X.TYPE  FROM [1143].[PUBLICATION] X  WHERE TITLE LIKE '%EXPLANATION%'  AND VENUE <> 'CORR'  AND (VENUE LIKE '%KDD%' OR VENUE LIKE '%NIPS%' OR VENUE LIKE '%ICDM%' OR VENUE LIKE '%AI%' OR VENUE LIKE '%NLP%')   ORDER BY  YEAR DESC
 SELECT X.TITLE, X.YEAR, X.VENUE, X.TYPE  FROM [1143].[PUBLICATION] X  WHERE TITLE LIKE '%EXPLANATION%'  AND VENUE <> 'CORR'  AND (VENUE LIKE '%SIGMOD%' OR VENUE LIKE '%ICDT%' OR VENUE LIKE '%VLDB%' OR VENUE LIKE '%ICDE%' OR VENUE LIKE '%PODS%')   ORDER BY  YEAR DESC
 SELECT * FROM [1143].[PUBLICATION]  WHERE TITLE LIKE '%EXPLANATION%'   ORDER BY  YEAR DESC
 SELECT * FROM [1143].[PUBLICATION]  WHERE TITLE LIKE '%EXPLANATION%'
9/10
Number of tables with at least 2 queries that has same operators but different parameters/Total Number of tables
199/2544

In [ ]:


m = get_queries('test.txt')
for x in m:
    parsed = sqlparse.parse(x)[0]
    print(parsed.tokens)
    where_part = extract_where_part(parsed)
    print(where_part)

In [184]:
sql5 = '''
SELECT COUNT(t1.species)
FROM [354].[OR3col_pos] t1
   , [354].[OR3col_pos] t2
WHERE sqrt(power(t1.latitude-t2.latitude,2)+power(t1.longitude-t2.longitude,2)) < 0.000001
      AND t1.latitude is not null
      AND t2.latitude is not null

  '''


parsed3 = sqlparse.parse(sql5)[0]
wh = extract_where_part(parsed3)
wh = clean_tokenlist(wh)
print(wh)
y = create_dict_from_where(wh)
for k,v in y.items():
    print(k,v)

'''
wh = [x for x in wh.tokens if x.ttype is not Whitespace and x.ttype is not Newline]
print(wh)
op_param_map = {}
for index, token in enumerate(wh):
    key  = value = None
    if token.ttype is Keyword and token.value.upper() == "BETWEEN":
        key = "" + wh[index-1].value.upper() + " " + "BETWEEN"
        value = "" + wh[index+1].value.upper() + "_" + wh[index+3].value   
    if token.ttype is Keyword and token.value.upper() == "LIKE":
        key = "" + wh[index - 1].value.upper() + " "  + "LIKE"
        value = wh[index + 1].value
    if token.ttype is Keyword and token.value.upper() == "IN":
        if wh[index-1].ttype is Keyword and wh[index-1].value.upper() == "NOT":
            key = "" + wh[index-2].value + " NOT IN"
            value = wh[index+1].value
        else:
            key = "" + wh[index-1].value + " IN"
            value = wh[index+1].value
    if token._get_repr_name() is "Comparison":
        token = clean_tokenlist(token)
        key = "" + token[0].value + " " + token[1].value
        value = "" + token[2].value
    
    if key is not None:
        op_param_map[key] = value;
    else:
        continue
'''   
        
        
#for k,v in op_param_map.items():
#    print(k,"\n",v)

[<Keyword 'WHERE' at 0x10C1E0948>, <Comparison 'sqrt(p...' at 0x10C07A930>, <Keyword 'AND' at 0x10C24F648>, <Identifier 't1.lat...' at 0x10C07AF48>, <Keyword 'is' at 0x10C24FCA8>, <Keyword 'not nu...' at 0x10C24FD68>, <Keyword 'AND' at 0x10C24F7C8>, <Identifier 't2.lat...' at 0x10C07A570>, <Keyword 'is' at 0x10C24F2E8>, <Keyword 'not nu...' at 0x10BF25168>]
sqrt(power(t1.latitude-t2.latitude,2)+power(t1.longitude-t2.longitude,2)) < 0.000001
t1.latitude IS not null
t2.latitude IS not null

'\nwh = [x for x in wh.tokens if x.ttype is not Whitespace and x.ttype is not Newline]\nprint(wh)\nop_param_map = {}\nfor index, token in enumerate(wh):\n    key  = value = None\n    if token.ttype is Keyword and token.value.upper() == "BETWEEN":\n        key = "" + wh[index-1].value.upper() + " " + "BETWEEN"\n        value = "" + wh[index+1].value.upper() + "_" + wh[index+3].value   \n    if token.ttype is Keyword and token.value.upper() == "LIKE":\n        key = "" + wh[index - 1].value.upper() + " "  + "LIKE"\n        value = wh[index + 1].value\n    if token.ttype is Keyword and token.value.upper() == "IN":\n        if wh[index-1].ttype is Keyword and wh[index-1].value.upper() == "NOT":\n            key = "" + wh[index-2].value + " NOT IN"\n            value = wh[index+1].value\n        else:\n            key = "" + wh[index-1].value + " IN"\n            value = wh[index+1].value\n    if token._get_repr_name() is "Comparison":\n        token = clean_tokenlist(token)\n        key = "" + token[0].value + " " + token[1].value\n        value = "" + token[2].value\n    \n    if key is not None:\n        op_param_map[key] = value;\n    else:\n        continue\n'

In [163]:
set1 = ("=", "my LIKE", "asdfas")
set2 = ("=", "my LIKE", "asdfas")
print(set1 != set2)
def myfunc(myset):
    for x in myset:
        print(x)
print(len(set1))
myfunc(set1)

False
3
=
my LIKE
asdfas