In [1]:
import matplotlib.pyplot as plt
import re
import numpy as np
import sqlparse
from sqlparse.sql import IdentifierList, Identifier, Token
from sqlparse.tokens import Keyword, DML, Whitespace, Newline, Name, Comparison, Operator, Punctuation, CTE
from collections import OrderedDict

IMPORTANT_KEYWORDS = ["SELECT","WHERE","FROM", "INNER","JOIN","OUTER", "STRAIGHT_JOIN","LEFT","RIGHT","FULL","WITH", "GROUP", "BY",
                     "ORDER", "UNION", "DISTINCT", "HAVING","HAVING", "AS", "CASE", "WHEN", "THEN","ELSE" ]




def is_subselect(parsed):
    '''
    @param parsed: a parsed SQL query
    @return: True if there is subquery or False if there is not
    '''
    if not parsed.is_group:
        return False
    for item in parsed.tokens:
        if item.ttype is DML and item.value.upper() == 'SELECT':
            return True
    return False


def get_template(parsed):
    '''
    @param parsed: a parsed SQL query
    @return: list of tokens and brackets
    '''
    for token in parsed.tokens:
        if (token.ttype is Keyword or token.ttype is DML or token.ttype is CTE) and (token.value.upper() in IMPORTANT_KEYWORDS):
            yield token
        if token.is_group:
            for eachtoken in token:
                if is_subselect(eachtoken):
                    yield "("
                    for x in get_template(eachtoken):
                        yield x
                    yield ")"
            if token.token_first().value.upper() == "WHERE":
                yield token.token_first()
            

def to_string(parsed):
    '''
    @param parsed: a parsed SQL query
    @return: template in string format
    '''
    my_template = ""
    for x in get_template(parsed):
        if isinstance(x,Token):
            my_template += x.value.upper() + " "
        else:
            my_template += x + " "

    return my_template
    
def get_queries(file_name):
    '''
    @param file_name: name of the file to be processed
    @return: list of string of queries
    '''
    f = open(file_name,"r")

    queries = []
    current_query =""
    #removing any extra white spaces from the queries and put them in a list "queries" 

    for line in f:
        line = line.lstrip()
        # ignore comments
        if line[0:2] == "--":
            continue
        if line != "" and line[0] != "_":
            current_query += line
        if line!= "" and line[0] == "_":
            if current_query != "":
                queries.append(current_query)
                current_query =""
    
    f.close()
    return queries



list_to_process = []
queries = get_queries("queries.txt")
for query in queries:
    parsed_query  = sqlparse.parse(query)[0]
    list_to_process.append(to_string(parsed_query))


dict_template = {}    
for template in list_to_process:
    val = dict_template.get(template, 0)
    dict_template[template] = val + 1

ord_dict = OrderedDict(sorted(dict_template.items(), key=lambda x: x[1]))
for (key, val) in ord_dict.items():
    print(key,val)

SELECT FROM ( SELECT DISTINCT FROM ( SELECT FROM ) )  1
SELECT FROM ( SELECT FROM ( SELECT FROM JOIN ) )  1
SELECT DISTINCT FROM ( SELECT FROM ( SELECT FROM JOIN ) )  1
SELECT FROM ( SELECT DISTINCT FROM ( SELECT FROM ( SELECT FROM JOIN ) ) WHERE )  1
SELECT FROM ( SELECT FROM ( SELECT FROM JOIN ) GROUP BY )  1
SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM  1
SELECT DISTINCT FROM ( SELECT FROM ) GROUP BY  1
SELECT FROM SELECT FROM ORDER BY  1
SELECT FROM ( SELECT SELECT )  1
SELECT GROUP BY HAVING  1
WITH ( SELECT FROM UNION SELECT FROM ) SELECT FROM  1
WITH ( SELECT FROM UNION SELECT FROM ) SELECT FROM GROUP BY  1
SELECT FROM ( SELECT AS FROM ( SELECT FROM ( SELECT FROM ) ) )  1
SELECT FROM ( SELECT DISTINCT FROM ( SELECT FROM ) ) WHERE  1
SELECT FROM UNION SELECT FROM UNION SELECT FROM  1
SELECT FROM UNION SELECT FROM UNION SELECT FROM UNION SELECT FROM UNION SELECT FROM  1
SELECT DISTINCT AS FROM  1
SELECT FROM ( SELECT FROM GROUP BY ORDER BY )  1
SELECT FROM ( SELECT FROM GROUP BY ) ( SELECT FROM GROUP BY ) ( SELECT FROM GROUP BY ) ORDER BY  1
SELECT DISTINCT FROM WHERE GROUP BY ORDER BY  1
SELECT DISTINCT FROM ( SELECT FROM ) WHERE  1
SELECT DISTINCT FROM ( SELECT FROM ) WHERE ORDER BY  1
SELECT AS FROM WHERE ORDER BY  1
SELECT AS AS AS FROM  1
SELECT FROM ( SELECT FROM GROUP BY HAVING )  1
SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN  1
SELECT FROM ( SELECT AS FROM )  1
SELECT FROM ( SELECT AS FROM WHERE )  1
SELECT DISTINCT FROM ( SELECT FROM WHERE )  1
SELECT FROM JOIN JOIN JOIN  1
SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM  1
SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM  1
SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM  1
SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM  1
SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM  1
SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM  1
SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM  1
SELECT FROM SELECT FROM SELECT FROM ORDER BY  1
WITH ( SELECT FROM WHERE ) SELECT FROM ( SELECT FROM ( SELECT FROM WHERE ) WHERE ) ORDER BY  1
SELECT FROM ( SELECT FROM ORDER BY ) SELECT FROM  1
SELECT FROM ( SELECT FROM ORDER BY ) SELECT FROM ORDER BY  1
SELECT FROM ( SELECT FROM ) JOIN ( SELECT FROM )  1
SELECT FROM ( SELECT FROM ) JOIN  1
SELECT FROM ( SELECT FROM ( SELECT FROM ) WHERE ) GROUP BY HAVING  1
SELECT FROM ( SELECT FROM ( SELECT DISTINCT FROM ) JOIN ( SELECT DISTINCT FROM ) )  1
SELECT FROM ( SELECT FROM ( SELECT DISTINCT FROM ) ( SELECT DISTINCT FROM ) )  1
SELECT FROM WHERE GROUP BY UNION SELECT FROM  1
SELECT FROM ( SELECT FROM WHERE UNION SELECT FROM ) GROUP BY  1
SELECT FROM UNION SELECT FROM SELECT FROM SELECT FROM SELECT FROM  1
( SELECT FROM ) SELECT FROM JOIN ( SELECT FROM GROUP BY ) JOIN ( SELECT FROM GROUP BY ) ORDER BY  1
SELECT FROM JOIN ( SELECT FROM GROUP BY ) JOIN ( SELECT FROM GROUP BY ) ORDER BY  1
SELECT FROM ( SELECT FROM ( SELECT FROM WHERE ) ) GROUP BY ORDER BY  1
SELECT FROM ( SELECT FROM WHERE ) GROUP BY  1
SELECT DISTINCT FROM ( SELECT FROM GROUP BY HAVING ) WHERE  1
SELECT FROM GROUP BY HAVING ORDER BY  1
SELECT FROM ( SELECT FROM GROUP BY HAVING ) ( SELECT FROM GROUP BY HAVING ) WHERE UNION SELECT UNION SELECT UNION SELECT  1
SELECT FROM WHERE GROUP BY HAVING ORDER BY  1
WITH ( SELECT SELECT SELECT SELECT SELECT SELECT SELECT SELECT SELECT SELECT ) ( SELECT FROM ) ( SELECT FROM ) SELECT FROM ORDER BY  1
SELECT SELECT SELECT SELECT SELECT SELECT SELECT SELECT SELECT SELECT  1
SELECT FROM GROUP BY SELECT FROM  1
WITH ( SELECT FROM GROUP BY ) SELECT FROM  1
SELECT FROM ( SELECT FROM ) JOIN WHERE  1
SELECT DISTINCT FROM SELECT DISTINCT FROM  1
SELECT FROM ( SELECT DISTINCT FROM ) JOIN ( SELECT DISTINCT FROM )  1
SELECT DISTINCT FROM UNION SELECT DISTINCT FROM  1
SELECT FROM ( SELECT FROM ) ( SELECT FROM )  1
WITH ( SELECT FROM JOIN ) SELECT DISTINCT FROM  1
SELECT FROM ( SELECT DISTINCT FROM ) WHERE ORDER BY  1
WITH ( SELECT FROM ) SELECT FROM JOIN ORDER BY  1
SELECT FROM ( SELECT FROM WHERE ORDER BY ) ORDER BY  1
WITH ( SELECT FROM WHERE ) SELECT FROM  1
ORDER BY  1
AS SELECT FROM  1
SELECT FROM ( SELECT DISTINCT FROM JOIN WHERE )  1
SELECT FROM JOIN JOIN WHERE GROUP BY ORDER BY  1
SELECT FROM JOIN ( SELECT FROM ) WHERE GROUP BY  1
SELECT FROM ( SELECT FROM JOIN JOIN )  1
SELECT FROM WHERE SELECT FROM  1
SELECT LEFT FROM ( SELECT FROM WHERE ) WHERE  1
SELECT FROM JOIN ( SELECT FROM ) WHERE GROUP BY HAVING  1
SELECT DISTINCT FROM ( SELECT FROM SELECT FROM )  1
SELECT FROM ( SELECT DISTINCT FROM ( SELECT FROM SELECT FROM ) )  1
SELECT FROM ( SELECT FROM ( SELECT FROM SELECT FROM ) )  1
SELECT FROM WHERE SELECT FROM WHERE  2
SELECT FROM ( SELECT FROM JOIN ) WHERE  2
SELECT FROM ( SELECT FROM ( SELECT FROM JOIN ) ) WHERE  2
SELECT FROM ( SELECT DISTINCT FROM ( SELECT FROM ( SELECT FROM JOIN ) ) )  2
SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM ( SELECT DISTINCT FROM )  2
SELECT FROM UNION SELECT FROM WHERE  2
SELECT FROM ( SELECT FROM ( SELECT FROM ) ) WHERE  2
SELECT FROM ( SELECT FROM ( SELECT FROM ( SELECT FROM ) ) ) GROUP BY  2
SELECT FROM JOIN ( SELECT FROM )  2
SELECT FROM JOIN ( SELECT FROM ) WHERE  2
SELECT FROM ( SELECT FROM GROUP BY ) GROUP BY ORDER BY  2
SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM  2
SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM  2
SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM  2
SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN SELECT FROM JOIN  2
FROM  2
SELECT FROM JOIN JOIN JOIN JOIN JOIN  2
SELECT FROM UNION SELECT AS FROM  2
SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM  2
SELECT FROM ( SELECT FROM ( SELECT FROM WHERE ) WHERE ) WHERE ORDER BY  2
SELECT FROM ( SELECT FROM WHERE GROUP BY UNION SELECT FROM ) GROUP BY  2
SELECT FROM ( SELECT FROM UNION SELECT FROM UNION SELECT FROM UNION SELECT FROM ) WHERE  2
SELECT FROM ( SELECT FROM GROUP BY HAVING ) WHERE GROUP BY HAVING  2
SELECT FROM ( SELECT FROM WHERE ) WHERE GROUP BY  2
WITH ( SELECT FROM ) SELECT FROM JOIN  2
SELECT FROM ( SELECT FROM WHERE GROUP BY ) ORDER BY  2
SELECT FROM JOIN JOIN WHERE GROUP BY  2
SELECT FROM JOIN GROUP BY HAVING  2
WHERE  2
SELECT DISTINCT FROM JOIN ORDER BY  2
SELECT FROM JOIN JOIN ( SELECT FROM ) WHERE  2
SELECT FROM UNION SELECT  2
SELECT FROM GROUP BY WITH  2
WITH AS SELECT FROM GROUP BY  3
SELECT FROM ( SELECT FROM JOIN ) WHERE GROUP BY  3
SELECT FROM ( SELECT FROM UNION SELECT FROM )  3
SELECT DISTINCT FROM GROUP BY  3
SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM  3
WITH ( SELECT FROM UNION SELECT FROM ) SELECT FROM GROUP BY ORDER BY  3
SELECT FROM ( SELECT FROM ( SELECT FROM ( SELECT FROM ( SELECT FROM UNION SELECT FROM ) ) ) )  3
SELECT FROM ( SELECT FROM ( SELECT FROM WHERE UNION SELECT FROM WHERE ) ) GROUP BY  3
SELECT FROM WHERE UNION SELECT FROM WHERE UNION SELECT FROM WHERE  3
SELECT FROM WHERE UNION SELECT FROM WHERE UNION SELECT FROM WHERE ORDER BY  3
UNION UNION UNION  3
SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM  3
SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM  3
SELECT FROM UNION SELECT FROM UNION SELECT FROM UNION SELECT FROM  3
SELECT AS FROM UNION SELECT FROM  3
SELECT FROM WHERE GROUP BY HAVING  3
SELECT FROM ( SELECT FROM WHERE GROUP BY HAVING ) ( SELECT FROM GROUP BY HAVING ) WHERE  3
SELECT FROM SELECT FROM SELECT FROM SELECT FROM  3
SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM ORDER BY  3
WITH SELECT FROM JOIN ORDER BY  3
SELECT FROM SELECT AS AS FROM SELECT FROM SELECT FROM  3
SELECT FROM ( SELECT FROM ( SELECT FROM ORDER BY ) ORDER BY ) ORDER BY  3
SELECT UNION SELECT  3
SELECT ORDER BY  3
WITH AS AS SELECT FROM  4
SELECT FROM ( SELECT FROM JOIN GROUP BY ) WHERE  4
SELECT FROM ( SELECT FROM JOIN ) GROUP BY  4
SELECT FROM ( SELECT FROM ORDER BY )  4
SELECT FROM JOIN ( SELECT FROM WHERE ORDER BY ) WHERE  4
FROM WHERE  4
SELECT AS AS FROM  4
SELECT FROM ( SELECT FROM WHERE GROUP BY UNION SELECT FROM ) GROUP BY ORDER BY  4
SELECT FROM ( SELECT FROM GROUP BY HAVING ) ( SELECT FROM GROUP BY HAVING ) WHERE  4
SELECT FROM FROM WHERE  4
SELECT FROM FROM ( SELECT FROM WHERE ) WHERE  4
WITH ( SELECT FROM JOIN ) SELECT FROM  4
WITH ( SELECT FROM ) SELECT FROM ORDER BY  4
SELECT FROM ( SELECT FROM JOIN WHERE )  4
SELECT FROM JOIN JOIN WHERE  4
SELECT DISTINCT FROM JOIN WHERE ORDER BY  4
WITH AS SELECT FROM  5
SELECT FROM ( SELECT DISTINCT FROM JOIN )  5
SELECT DISTINCT FROM ( SELECT FROM )  5
SELECT FROM ( SELECT FROM ( SELECT FROM ) ) GROUP BY  5
SELECT FROM SELECT FROM WHERE  5
SELECT FROM ( SELECT FROM ( SELECT FROM ) ) ORDER BY  5
SELECT FROM ( SELECT FROM UNION SELECT FROM ) WHERE  5
SELECT FROM ( SELECT FROM WHERE ) ORDER BY  5
SELECT FROM JOIN WHERE GROUP BY HAVING  5
WITH AS ( SELECT FROM ) SELECT FROM  6
SELECT FROM SELECT FROM SELECT FROM SELECT FROM SELECT FROM  6
SELECT FROM ( SELECT DISTINCT FROM ( SELECT FROM ) ) GROUP BY  6
SELECT FROM ( SELECT FROM ( SELECT FROM ) )  6
SELECT FROM WHERE UNION SELECT FROM WHERE  6
SELECT FROM JOIN ( SELECT FROM ORDER BY ) WHERE  6
SELECT FROM ( SELECT FROM SELECT FROM )  6
SELECT FROM SELECT FROM SELECT FROM  6
SELECT DISTINCT FROM JOIN WHERE  6
WITH ( SELECT FROM ) SELECT FROM WHERE  7
WITH SELECT FROM WHERE ORDER BY  7
SELECT FROM ( SELECT DISTINCT FROM WHERE )  7
SELECT FROM UNION SELECT AS FROM UNION SELECT FROM UNION SELECT FROM  7
WITH ( SELECT FROM WHERE ) SELECT FROM ( SELECT FROM WHERE ) WHERE ORDER BY  7
WITH ( SELECT FROM GROUP BY ) SELECT FROM WHERE  7
WITH AS SELECT FROM ORDER BY  8
SELECT WHERE  8
SELECT DISTINCT FROM JOIN  8
SELECT FROM ( SELECT FROM ORDER BY ) ORDER BY  8
SELECT DISTINCT FROM WHERE ORDER BY  8
SELECT FROM ( SELECT FROM ) WHERE ORDER BY  8
WITH SELECT FROM WHERE  8
SELECT FROM ( SELECT DISTINCT FROM JOIN ) WHERE  9
SELECT FROM ( SELECT FROM GROUP BY ) WHERE  9
SELECT FROM JOIN GROUP BY ORDER BY  9
SELECT FROM ( SELECT FROM GROUP BY HAVING ) WHERE  9
SELECT FROM ( SELECT FROM JOIN )  10
WITH AS AS SELECT FROM ORDER BY  11
SELECT FROM JOIN JOIN  11
SELECT FROM ( SELECT FROM ) ORDER BY  11
SELECT FROM JOIN ( SELECT FROM WHERE ORDER BY )  12
SELECT FROM ( SELECT FROM WHERE ) WHERE GROUP BY ORDER BY  12
SELECT FROM JOIN GROUP BY  13
SELECT FROM ( SELECT FROM ( SELECT FROM ( SELECT FROM ) ) ) WHERE  13
SELECT DISTINCT FROM ORDER BY  13
WITH SELECT FROM ORDER BY  14
SELECT FROM ( SELECT DISTINCT FROM )  15
SELECT FROM ( SELECT FROM WHERE GROUP BY )  16
SELECT FROM ( SELECT FROM ( SELECT FROM WHERE ) WHERE ) ORDER BY  16
SELECT FROM ( SELECT FROM GROUP BY )  17
SELECT FROM ( SELECT FROM ( SELECT FROM JOIN ) WHERE GROUP BY )  18
SELECT FROM ( SELECT FROM ) GROUP BY  18
SELECT FROM ( SELECT FROM GROUP BY ) ORDER BY  19
SELECT AS FROM ORDER BY  20
SELECT FROM ( SELECT FROM ( SELECT FROM ( SELECT FROM ) ) ) WHERE ORDER BY  21
WITH ( SELECT FROM GROUP BY ) SELECT FROM WHERE GROUP BY  21
WITH ( SELECT FROM ) SELECT FROM  22
SELECT FROM ( SELECT FROM WHERE ) WHERE ORDER BY  22
SELECT FROM ( SELECT FROM ) GROUP BY ORDER BY  22
SELECT FROM ( SELECT DISTINCT FROM ) ORDER BY  24
SELECT FROM ( SELECT FROM ( SELECT FROM ( SELECT FROM ) ) ) ORDER BY  27
WITH SELECT FROM  28
SELECT FROM JOIN WHERE GROUP BY  28
SELECT FROM JOIN WHERE GROUP BY ORDER BY  28
SELECT FROM JOIN JOIN JOIN JOIN JOIN WHERE  29
SELECT FROM GROUP BY HAVING  30
 34
SELECT FROM SELECT FROM  37
SELECT FROM UNION SELECT FROM  38
SELECT FROM ( SELECT FROM WHERE ) WHERE  39
SELECT FROM JOIN WHERE ORDER BY  46
SELECT FROM ( SELECT FROM ( SELECT FROM ) ) GROUP BY ORDER BY  48
SELECT FROM JOIN ORDER BY  50
SELECT FROM ( SELECT FROM ( SELECT FROM ( SELECT FROM ) ) )  53
SELECT FROM ( SELECT FROM )  55
SELECT AS FROM  61
SELECT  70
SELECT FROM JOIN WHERE  72
SELECT FROM ( SELECT FROM WHERE )  77
SELECT AS FROM WHERE  84
SELECT DISTINCT FROM WHERE  114
SELECT FROM WHERE GROUP BY ORDER BY  129
SELECT FROM ( SELECT FROM ) WHERE  132
SELECT FROM GROUP BY ORDER BY  160
SELECT FROM WHERE GROUP BY  165
SELECT FROM GROUP BY  298
SELECT DISTINCT FROM  326
SELECT FROM JOIN  334
SELECT FROM WHERE ORDER BY  420
SELECT FROM ORDER BY  428
SELECT FROM WHERE  3012
SELECT FROM  3760